<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-date-picker v-model="query.day" type="date" value-format="YYYY-MM-DD" placeholder="选择时间" size="small"  class="ml10 filter-item" style="width: 200px;"></el-date-picker>
        <el-select v-model="query.deviceType" placeholder="请选择类型" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in typeList" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template> 
            <el-table-column prop="alarmBizName" label="报警"></el-table-column>
            <el-table-column prop="deviceID" label="ID"></el-table-column>
            <el-table-column prop="type" label="预警类型">
              <template #default="scope">
                <span>{{type[scope.row.deviceType]||'预警'}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="location" label="位置"></el-table-column>
            <el-table-column prop="addr" label="小区"></el-table-column>
            <el-table-column prop="startTime" label="开始时间"></el-table-column>
            <el-table-column prop="endTime" label="结束时间"></el-table-column>
            <el-table-column prop="intime" label="更新时间"></el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 会议名称、地点、参与人员、会议动照片、笔记照片、会议内容-->
    <el-drawer :title="(id?'添加':'编辑')+'预警'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" destroy-on-close>
      <div class="edit" v-if="drawerFormVisible">
        <el-form ref="from" :model="d" label-width="90px" @close="closeDrawer()" style="width:96%;">
          <el-form-item :rules="[ { required: true, message: '请选择预警类型'} ]" label="预警类型" prop="type">
            <el-select v-model="d.type" placeholder="请选择" clearable>
                <el-option v-for="item in typeList" :key="item.id" :label="item.title" :value="item.id">
                </el-option>
            </el-select>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '接收社工不能为空'} ]" label="接收社工" prop="userid">
            <el-select v-model="d.userid" filterable placeholder="请选择">
              <el-option v-for="item in userslist" :key="item.id" :label="item.name" :value="item.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '手机号不能为空'} ]" label="手机号">
            <el-input autocomplete="off" type="number" clearable v-model="d.mobile"></el-input>
          </el-form-item>
          <el-form-item>
              <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                  <el-button @click="closeDrawer()">取 消</el-button>
                  <el-button type="primary" @click="submitForm('from')">确 定</el-button>
              </div>
          </el-form-item>
        </el-form>
      </div>
    </el-drawer>

    <!-- 预览 -->
    <el-dialog :title="dialogTitle" v-model="dialogVisible">
      <div v-if="dialogHtml" v-html="dialogHtml"></div>
      <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
    </el-dialog>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import { ossHost, uploadHost,jobsImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "warning_sensor",
        components: {},
        setup() {
            return reactive({
              pageAuthority:{},
              imgdownload: jobsImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogImage: '',
              dialogHtml: '',
              dialogTitle: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "id":"0",
                "type":"",
                "userid":"",
                "mobile":""
              },
              type: {md_smoke:'烟感报警',md_water:'水压报警'},
              typeList: [{id:'md_smoke',title:'烟感报警'},{id:'md_water',title:'水压报警'}],
              userslist: [],
              query:{
                  day: '',
                  deviceType: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.warning_user;//获取当前页面权限
            this.query.day = this.getNowDay()||'2021-11-11'
            this.getData();
            this.getuserslist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":"0",
                      "type":"",
                      "userid":"",
                      "mobile":""
                    };
                    this.d = Object.assign({}, d);
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          // 获取当天
          getNowDay(){
            let d:any = new Date();
            return `${d.getFullYear()}-${(d.getMonth()+1)>9?(d.getMonth()+1):'0'+(d.getMonth()+1)}-${d.getDate()>9?d.getDate():'0'+d.getDate()}`;
            
          },
          // 获取社工
          getuserslist(){
            console.log((this as any).$store.state);
            let data:any = {"isworkers":"1","s_org_id":(this as any).$store.state.org_id,"leave":""};
            (this as any).axios.post('manager/users/searchList',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                      this.userslist = list;
                    } else {
                      this.userslist = [];
                    }
                }else {
                  this.userslist = [];
                }
            }) 
          },
          closeDrawer() {
              this.drawerFormVisible = false;
          },
          showDrawer(row: any = undefined) {
              if(row){
                  this.id = row.id;
                  let d:any = {
                    "id":row.id,
                    "type":row.type,
                    "userid":row.userid,
                    "mobile":row.mobile
                  };
                  this.d = Object.assign({}, d);
                  this.drawerFormVisible = true;
              }else{
                  this.drawerFormVisible = true;
              }
          },
          showDialog(key:any,msg:any,title:any){
            this.dialogTitle = title;
            (this as any)[key] = msg;
            this.dialogVisible = true;
          },

          pagechange(val: string) {
              this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
          },
          submitForm(formName: any) {
              (this as any).$refs[formName].validate((valid: Boolean) => {
                  if (valid) {
                    let data:any = {
                      ...this.d
                    };
                    console.log(data);
                    // return
                    (this as any).axios.post('manager/warning_user/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                this.drawerFormVisible = false;
                                this.getData('1');
                                (this as any).$message.success('成功');
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                        }
                    })
                      
                  } else {
                      return false;
                  }
              })
          },
          // 删除
          del(id:any) {
            (this as any).axios.post("manager/warning_user/delete",{id:id}, {headers: {token: (this as any).$store.state.token}
            }).then((e: any) => {
                if (e.status === 200) {
                    if (e.data.success) {
                        (this as any).$message.success('成功');
                        this.getData('1')
                    }
                }
            })
          },
          // 获取列表
          getData(currentpage: string = '') {
              interface dataType {
                  day: string,
                  deviceType: string,
                  currentpage: string,
                  pagesize: string
              }
              let data: dataType = {
                  day: this.query.day,
                  deviceType: this.query.deviceType,
                  currentpage: this.query.currentpage,
                  pagesize: this.query.pagesize
              };
              if (currentpage) {
                  data.currentpage = currentpage;
              }
              // return
              (this as any).axios.post('manager/warning_sensor/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      let d: any = e.data;
                      // this.tableData = [];
                      (this as any).total = '0';
                      if (d.success) {
                          this.total = d.msg.count;
                          let list:any = JSON.parse(JSON.stringify(d.msg.list));
                          this.tableData = list;
                      } else {
                          (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                              (this as any).$router.replace("/")
                          })
                      }
                  }
              })
          },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>