<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入社工" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-select v-model="query.type" placeholder="请选择预警类型" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in typeList" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加预警</el-button>
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template> 
            <el-table-column prop="type" label="预警类型">
              <template #default="scope">
                <span>{{typeList[scope.row.type-1].title||''}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="name" label="接收人"></el-table-column>
            <el-table-column prop="mobile" label="联系电话"></el-table-column>
            <el-table-column prop="fullname" label="所属社区"></el-table-column>
            <el-table-column label="编辑" width="170">
                <template #default="scope">
                    <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                    <el-popconfirm
                            confirmButtonText='好的'
                            cancelButtonText='不用了'
                            @confirm="del(scope.row.id)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="确定删除吗？">
                        <template #reference>
                            <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">删除</el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 会议名称、地点、参与人员、会议动照片、笔记照片、会议内容-->
    <el-drawer :title="(id?'添加':'编辑')+'预警'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" destroy-on-close>
      <div class="edit" v-if="drawerFormVisible">
        <el-form ref="from" :model="d" label-width="90px" @close="closeDrawer()" style="width:96%;">
          <el-form-item :rules="[ { required: true, message: '请选择预警类型'} ]" label="预警类型" prop="type">
            <el-select v-model="d.type" placeholder="请选择" clearable>
                <el-option v-for="item in typeList" :key="item.id" :label="item.title" :value="item.id">
                </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="选择社区" prop="org_id" v-if="!org_id">
              <el-cascader v-model="d.org_id" :options="orgList" :props="{value:'id',label:'name'}" clearable class="floatLeft"></el-cascader>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '接收社工不能为空'} ]" label="接收社工" prop="userid">
            <el-select v-model="d.userid" filterable placeholder="请选择">
              <el-option v-for="item in userslist" :key="item.id" :label="item.name" :value="item.id"></el-option>
            </el-select>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '手机号不能为空'} ]" label="手机号">
            <el-input autocomplete="off" type="number" maxlength="11" clearable v-model="d.mobile"></el-input>
          </el-form-item>
          <el-form-item>
              <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                  <el-button @click="closeDrawer()">取 消</el-button>
                  <el-button type="primary" @click="submitForm('from')">确 定</el-button>
              </div>
          </el-form-item>
        </el-form>
      </div>
    </el-drawer>

    <!-- 预览 -->
    <el-dialog :title="dialogTitle" v-model="dialogVisible">
      <div v-if="dialogHtml" v-html="dialogHtml"></div>
      <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
    </el-dialog>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import { ossHost, uploadHost,jobsImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "warning_user",
        components: {},
        setup() {
            return reactive({
              pageAuthority:{},
              imgdownload: jobsImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogImage: '',
              dialogHtml: '',
              dialogTitle: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "id":"0",
                "org_id": "",
                "type":"",
                "userid":"",
                "mobile":""
              },
              typeList: [{id:'1',title:'烟感水压异常'},{id:'2',title:'独居老人用水异常'},{id:'3',title:'群租房用水异常'},{id:'4',title:'健康码异常'},{id:'5',title:'网格员'},{id:'6',title:'辅警'}],
              userslist: [],
              query:{
                  key: '',
                  type: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
              orgList: [],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.warning_user;//获取当前页面权限
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
            this.getuserslist((this as any).$store.state.org_id);
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":"0",
                      "type":"",
                      "org_id": "",
                      "userid":"",
                      "mobile":""
                    };
                    this.d = Object.assign({}, d);
                }
            },
            'd.org_id': {
              handler: function(e:any) {
                if(!e){
                  this.d.org_id = ''
                  return;
                }
                this.getuserslist(e[1]);
              },
   }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          // 获取社工
          getuserslist(org_id:any){
            console.log((this as any).$store.state);
            
            let data:any = {"isworkers":"1","s_org_id":org_id||(this as any).$store.state.org_id,"leave":""};
            (this as any).axios.post('manager/users/searchList',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                      this.userslist = list;
                    } else {
                      this.userslist = [];
                    }
                }else {
                  this.userslist = [];
                }
            }) 
          },
          closeDrawer() {
              this.drawerFormVisible = false;
          },
          showDrawer(row: any = undefined) {
            
              if(row){
                  this.id = row.id;
                  let d:any = {
                    "id":row.id,
                    "type":row.type,
                    "userid":row.userid,
                    "mobile":row.mobile
                  };
                  this.d = Object.assign({}, d);
                  this.drawerFormVisible = true;
                  this.getuserslist((this as any).$store.state.org_id);
              }else{
                  this.drawerFormVisible = true;
              }
          },
          showDialog(key:any,msg:any,title:any){
            this.dialogTitle = title;
            (this as any)[key] = msg;
            this.dialogVisible = true;
          },

          pagechange(val: string) {
              this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
          },
          submitForm(formName: any) {
              (this as any).$refs[formName].validate((valid: Boolean) => {
                  if (valid) {
                    let data:any = {
                      ...this.d
                    };
                    console.log(data);
                    // return
                    (this as any).axios.post('manager/warning_user/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                this.drawerFormVisible = false;
                                this.getData('1');
                                (this as any).$message.success('成功');
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                        }
                    })
                      
                  } else {
                      return false;
                  }
              })
          },
          // 删除
          del(id:any) {
            (this as any).axios.post("manager/warning_user/delete",{id:id}, {headers: {token: (this as any).$store.state.token}
            }).then((e: any) => {
                if (e.status === 200) {
                    if (e.data.success) {
                        (this as any).$message.success('成功');
                        this.getData('1')
                    }
                }
            })
          },
          // 获取列表
          getData(currentpage: string = '') {
              interface dataType {
                  key: string,
                  type: string,
                  currentpage: string,
                  pagesize: string
              }
              let data: dataType = {
                  key: this.query.key,
                  type: this.query.type,
                  currentpage: this.query.currentpage,
                  pagesize: this.query.pagesize
              };
              if (currentpage) {
                  data.currentpage = currentpage;
              }
              (this as any).axios.post('manager/warning_user/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      let d: any = e.data;
                      // this.tableData = [];
                      (this as any).total = '0';
                      if (d.success) {
                          this.total = d.msg.count;
                          let list:any = JSON.parse(JSON.stringify(d.msg.list));
                          this.tableData = list;
                      } else {
                          (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                              (this as any).$router.replace("/")
                          })
                      }
                  }
              })
          },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>