<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-date-picker v-model="query.starttime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择开始时间" size="small"  class="ml10 filter-item" style="width: 200px;"></el-date-picker>
        <el-date-picker v-model="query.endtime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择结束时间" size="small" class="ml10 filter-item" style="width: 200px;"></el-date-picker>
        <el-select v-model="query.type" placeholder="请选择预警类型" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in typeList" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template> 
            <el-table-column prop="type" label="预警类型">
              <template #default="scope">
                <span>{{typeList[scope.row.type].title||''}}</span>
              </template>
            </el-table-column>
            <el-table-column prop="code" label="房屋号"></el-table-column>
            <el-table-column prop="p" label="当天用水量/吨">
                <template #default="scope"><span>{{Number(scope.row.p).toFixed(4)}}</span></template>
            </el-table-column>
            <el-table-column prop="p1" label="当天抄表量/吨">
                <template #default="scope"><span>{{Number(scope.row.p1).toFixed(4)}}</span></template>
            </el-table-column>
            <el-table-column prop="p2" label="前天抄表量/吨">
                <template #default="scope"><span>{{Number(scope.row.p2).toFixed(4)}}</span></template>
            </el-table-column>
            <el-table-column prop="p3" label="7天前抄表量/吨">
                <template #default="scope"><span>{{Number(scope.row.p3).toFixed(4)}}</span></template>
            </el-table-column>
            <el-table-column prop="p_avg" label="7天总抄表量/吨">
                <template #default="scope"><span>{{Number(scope.row.p_avg).toFixed(4)}}</span></template>
            </el-table-column>
            <el-table-column prop="intime" label="更新时间"></el-table-column>
            <el-table-column label="操作" width="170">
                <template #default="scope">
                    <el-button size="mini" @click="showdialog('dialogTable',scope.row.house_id)">详细信息</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>


    <!-- 预览 -->
    <el-dialog :title="dialogTitle" v-model="dialogVisible">
        <div v-if="dialogHtml" v-html="dialogHtml"></div>
        <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
        <!-- 表格 -->
        <div v-if="dialogTable.length!=0">
            <el-table :data="dialogTable" style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="data" label="抄表量/吨"></el-table-column>
                <el-table-column prop="intime" label="时间"></el-table-column>
            </el-table>
        </div>
    </el-dialog>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import { ossHost, uploadHost,jobsImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "warning_water",
        components: {},
        setup() {
            return reactive({
              pageAuthority:{},
              imgdownload: jobsImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogImage: '',
              dialogHtml: '',
              dialogTable: [],
              dialogTitle: '',
              dialogVisible: false,

              typeList: [{id:'0',title:'独居老人'},{id:'1',title:'群租房'}],
              query:{
                  type: '',
                  starttime: '',
                  endtime:'',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.warning_user;//获取当前页面权限
            this.getData();
        },
        
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          
          
          showDialog(key:any,msg:any,title:any){
            this.dialogTitle = title;
            (this as any)[key] = msg;
            this.dialogVisible = true;
          },

          pagechange(val: string) {
              this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
          },
          
          
          // 获取列表
          getData(currentpage: string = '') {
              interface dataType {
                  type: string,
                  starttime: string,
                  endtime: string,
                  currentpage: string,
                  pagesize: string
              }
              let data: dataType = {
                  type: this.query.type,
                  starttime: this.query.starttime,
                  endtime: this.query.endtime,
                  currentpage: this.query.currentpage,
                  pagesize: this.query.pagesize
              };
              if (currentpage) {
                  data.currentpage = currentpage;
              }
              (this as any).axios.post('manager/warning_water/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      let d: any = e.data;
                      // this.tableData = [];
                      (this as any).total = '0';
                      if (d.success) {
                          this.total = d.msg.count;
                          let list:any = JSON.parse(JSON.stringify(d.msg.list));
                          this.tableData = list;
                      } else {
                          (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                              (this as any).$router.replace("/")
                          })
                      }
                  }
              })
          },
            // 查看报警水司数据列表
            showdialog(key:any,id:any){
                if(key==='dialogTable'){//预览表格
                    // 报警水司数据列表
                    (this as any).axios.post('manager/warning_water/detail',{house_id:id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                                this.dialogTable = list;
                                this.dialogVisible = true;
                            } else {
                                this.dialogTable = [];
                            }
                        }else {
                            this.dialogTable = [];
                        }
                    }) 
                }
            },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>