<template>
    <div class="components-box">
        <div class="left-1">

        </div>
        <div class="left-2"></div>
        <div class="right-1">

        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';

    export default defineComponent({
        name: "car",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
            }
        },
        mounted() {
        },
        watch: {
        },
        computed: {
        },
        methods: {

        }
    })
</script>

<style lang="scss" scoped>
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 30px;top: 15px;width: 940px;height: 360px;
        background-image:url('../../assets/2p/1_1.png');background-size: 940px 360px;animation:scaleAni .4s linear;animation-iteration-count:1;
    }
    .left-2{
        position: absolute;left: 63px;top: 368px;width: 906px;height: 399px;
        background-image:url('../../assets/2p/2_1.png');background-size: 906px 399px;
        animation:scaleAni .4s linear;
        animation-delay:.2s;animation-iteration-count:1;
    }
    .right-1{
        position: absolute;right: 0px;top: 0;width: 490px;height: 760px;overflow: hidden;padding: 10px;box-sizing: border-box;
        background-image:url('../../assets/erji/17_1.png');background-size: 490px 760px;
        animation:scaleAni .4s linear;
        animation-delay:.4s;
        animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 46px;margin-left: 10px;display: block;width: 90%;text-align: left;
        }
        .subTitle{
            width: 180px;height: 30px;margin: 60px auto 20px auto;line-height: 40px;text-align: center;color: #fff;font-size: 18px;
            background-image: url("../../assets/renkou/02.png");background-size: 180px 30px;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;
        }
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>
