<template>
    <div class="components-box">
        <div class="left-1">
            <div id="epidemic_left1_often_D" class="left1-often-D flex-row-center">
            </div>
        </div>
        <div class="left-2">
            <div class="states-box">
                <div class="healthcode flex-center">接种点情况</div>
                <div class="xiaoqu-box flex-row-center">
                    <div v-for="(v,i) in 9  " :key="i" class="item flex-column-center">
                        <span>小区{{i+1}}</span>
                        <div>
                            <span style="margin: 20px 10px 0 0;">未接种：<span style="font-size:24px;">251</span></span>
                            <span style="margin-top:20px;">已接种：<span style="font-size:24px;">754</span></span>
                            <!-- <img src="../../assets/dahome/9.png" style="width:10px;height:12px;"> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-1">
            <span class="title">公共监控</span>
            <div class="subTitle">小区1</div>
            <div class="xiaoqu-box flex-row-center"> 
                <div v-for="(v,i) in 6" :key="i" class="video-box flex-center">
                    <video src="https://www.w3school.com.cn/i/movie.mp4" width="150px" height="114px"></video>
                </div>
            </div>
            <div class="subTitle">小区2</div>
            <div class="xiaoqu-box flex-row-center"> 
                <div v-for="(v,i) in 6" :key="i" class="video-box">
                    <video src="https://www.w3school.com.cn/i/movie.mp4" width="150px" height="114px"></video>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';

   // 引入 echarts 核心模块，核心模块提供了 echarts 使用必须要的接口。
    import * as echarts from 'echarts/core';
    // 引入柱状图图表，图表后缀都为 Chart
    import { BarChart, PieChart, GaugeChart,ScatterChart } from 'echarts/charts';
    // 引入提示框，标题，直角坐标系，数据集，内置数据转换器组件，组件后缀都为 Component
    import {
        TitleComponent,
        TooltipComponent,
        GridComponent,
        LegendComponent,
        VisualMapComponent,
        DatasetComponent,
        TransformComponent
    } from 'echarts/components';
    // 标签自动布局，全局过渡动画等特性
    import { LabelLayout, UniversalTransition } from 'echarts/features';
    // 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
    import { CanvasRenderer } from 'echarts/renderers';
    // 注册必须的组件
    echarts.use([
        TitleComponent,TooltipComponent,LegendComponent,
        GridComponent,DatasetComponent,TransformComponent,VisualMapComponent,ScatterChart,
        LabelLayout,UniversalTransition,CanvasRenderer,BarChart,PieChart,GaugeChart,
    ]);
    import ecStat from 'echarts-stat';

    export default defineComponent({
        name: "epidemic",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
                healths: [{t:'小区1',num1:'456',num2:'4536'}],
            }
        },
        mounted() {
            this.getLeft1Datas();
        },
        watch: {
        },
        computed: {
        },
        methods: {
            createChart(opt:any,id:any){
                const myChart = echarts.init((document as any).getElementById(id),'dark');
                myChart.setOption(opt);
            },
            getLeft1Datas(){
                
                echarts.registerTransform((ecStat as any).transform.clustering);
                const data = [
                    [3.275154, 2.957587],
                    [15.344465, 2.603513],
                    [0.355083, 15.376585],
                    [1.852435, 3.547351],
                    [10.078973, 2.552013],
                    [5.993756, 5.884433],
                    [2.682252, 4.007573],
                    [15.087776, 2.878713],
                    [6.565978, 6.256985],
                    [2.441611, 0.444826],
                    [5.659487, 3.111284],
                    [5.459601, 10.618005],
                    [2.17768, 2.387793],
                    [10.920969, 2.917485],
                    [5.028814, 20.168078],
                    [3.625746, 2.119041],
                    [15.912363, 1.325108],
                    [5.551694, 10.814223],
                    [2.855808, 3.483301],
                    [15.594448, 2.856651],
                    [0.421993, 10.372646],
                    [1.650821, 3.407572],
                    [10.082902, 3.384412],
                    [5.718809, 10.492514],
                    [4.513623, 3.841029],
                    [20.822011, 4.607049],
                    [5.656297, 6.449872],
                    [1.919901, 4.439368],
                    [15.287749, 3.918836],
                    [6.576936, 10.977622],
                    [3.598143, 1.97597],
                    [15.977329, 4.900932],
                    [6.79108, 10.184517],
                    [3.914654, 3.559303],
                    [6.910108, 4.166946],
                    [6.226597, 15.317889],
                    [1.148946, 3.345138],
                    [10.113864, 3.548172],
                    [0.845762, 15.589788],
                    [2.629062, 3.535831],
                    [6.640717, 2.990517],
                    [6.881012, 10.485405],
                    [4.606999, 3.510312],
                    [20.366462, 4.023316],
                    [0.765015, 15.00127],
                    [3.121904, 2.173988],
                    [20.025139, 4.65231],
                    [5.559558, 15.840539],
                    [4.376754, 4.863579],
                    [6.874308, 4.032237],
                    [5.089337, 15.026809],
                    [3.997787, 2.518662],
                    [15.082978, 2.884822],
                    [0.845235, 15.454465],
                    [1.327224, 3.358778],
                    [10.889949, 3.596178],
                    [5.966018, 10.839827],
                    [2.960769, 3.079555],
                    [15.275518, 1.577068],
                    [0.639276, 15.41284]
                ];
                var CLUSTER_COUNT = 3;
                var DIENSIION_CLUSTER_INDEX = 2;
                var COLOR_ALL = [
                    '#37A2DA',
                    '#e06343',
                    '#37a354',
                ];
                var pieces = [];
                for (var i = 0; i < CLUSTER_COUNT; i++) {
                    pieces.push({
                        value: i,
                        label: '第 ' + (i+1)+ '剂',
                        color: COLOR_ALL[i]
                    });
                }
                const option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    dataset: [
                        {
                        source: data
                        },
                        {
                        transform: {
                            type: 'ecStat:clustering',
                            // print: true,
                            config: {
                            clusterCount: CLUSTER_COUNT,
                            outputType: 'single',
                            outputClusterIndexDimension: DIENSIION_CLUSTER_INDEX
                            }
                        }
                        }
                    ],
                    tooltip: {
                        position: 'top'
                    },
                    visualMap: {
                        type: 'piecewise',
                        top: 'middle',
                        min: 0,
                        max: CLUSTER_COUNT,
                        left: 10,
                        splitNumber: CLUSTER_COUNT,
                        dimension: DIENSIION_CLUSTER_INDEX,
                        pieces: pieces
                    },
                    grid: {
                        left: 120
                    },
                    xAxis: {},
                    yAxis: {},
                    series: {
                        type: 'scatter',
                        encode: { tooltip: [0, 1] },
                        symbolSize: 15,
                        itemStyle: {
                        borderColor: '#555'
                        },
                        datasetIndex: 1
                    }
                };
                this.createChart(option,'epidemic_left1_often_D');
            },
        }
    })
</script>

<style lang="scss" scoped>
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 30px;top: 15px;width: 940px;height: 360px;
        background-image:url('../../assets/2p/1_1.png');background-size: 940px 360px;animation:scaleAni .4s linear;animation-iteration-count:1;
        .left1-often-D{
            position: absolute;left: 130px;top:52px;width: 790px;height: 270px;
            .item{flex: 1;}.num{font-size: 32px;margin-top: 5px;}
        }
    }
    .left-2{
        position: absolute;left: 63px;top: 368px;width: 906px;height: 399px;
        background-image:url('../../assets/2p/2_1.png');background-size: 906px 399px;
        animation:scaleAni .4s linear;
        animation-delay:.2s;animation-iteration-count:1;
        .states-box{
            position: absolute;left: 95px;top: 56px;width: 795px;height: 290px;text-align: left;
            .xiaoqu-box{flex-wrap: wrap;}
            .healthcode{background-image: url('../../assets/dahome/7.png');background-size: 110px 20px;width: 110px;height: 20px;font-size: 12px;margin-right: 10px;}
            .item{width:260px;margin: 20px 0 20px;}span{font-size:12px;}
        }
    }
    .right-1{
        position: absolute;right: 0px;top: 0;width: 490px;height: 760px;overflow: hidden;padding: 10px;box-sizing: border-box;
        background-image:url('../../assets/erji/17_1.png');background-size: 490px 760px;
        animation:scaleAni .4s linear;
        animation-delay:.4s;
        animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 46px;margin-left: 10px;display: block;width: 90%;text-align: left;
        }
        .subTitle{
            width: 180px;height: 30px;margin: 10px auto 10px auto;line-height: 40px;text-align: center;color: #fff;font-size: 18px;
            background-image: url("../../assets/renkou/02.png");background-size: 180px 30px;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;
        }
        .xiaoqu-box{
            width: 100%;height: 295px;flex-wrap: wrap;justify-content: space-between;
        }
        .video-box{
            width: 150px;height: 130px;
            background-image: url('../../assets/dahome/63.png');background-size: 150px 130px;background-repeat: no-repeat;
        }
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>
