<template>
    <div class="components-box">
        <div class="left-1">
            <div id="left1_often_D" class="left1-often-D flex-center"></div>
            <!-- <div id="left1_flow_D" class="left1-flow-D flex-center"></div> -->
        </div>
        <div class="left-2">
            <div class="left2-tab flex-row-center">
                <div class="flex-column-center" v-for="(v,i) in left2Tabs" :key="i">
                    <img :src="v.url">
                    <span>{{v.t||''}}</span>
                </div>
            </div>
        </div>
        <div class="left-3">
            <!-- <div class="left-3-title flex-center">人员进出数据</div> -->
            <div class="left3-box1">
                <div class="photo-box">
                    <img src="../../assets/jk.png" alt="">
                </div>
                <div class="l3-data-box">
                    <div class="time-date">2021-10-26 周二</div>
                    <div class="gaikuang">
                        <span>今日人流总数<span class="num">86</span></span>
                        <span>今日外出人数<span class="num">36</span></span>
                        <span>今日进入人数<span class="num">50</span></span>
                    </div>
                    <div class="echart-box">
                        <div id="left3_inout_D" class="left3-inout-D"></div>
                        <div id="left3_sex_D" class="left3-inout-D"></div>
                    </div>
                </div>
                <div class="change-box flex-row-center">
                    <img class="change-l" src="../../assets/dahome/57.png" style="margin: 0 5px">
                    <div class="flex-row-center pohots">
                        <div class="img-box" v-for="(v,i) in imgs" :key="i">
                            <img style="width:38px;height:38px;" :src="v.url" alt="">
                        </div>
                    </div>
                    <img class="change-l" src="../../assets/dahome/57.png" style="transform: rotate(180deg);margin: 0 2px">
                </div>
            </div>
            <div class="states-box">
                <div class="healthcode flex-center">健康码状态</div>
                <!-- <div class="flex-column-center"> -->
                    <div v-for="(v,i) in healths" :key="i" class="item flex-center">
                        <span>{{v.t||''}}：</span>
                        <div>
                            <span>{{v.num||''}}</span>
                            <!-- <img src="../../assets/dahome/9.png" style="width:10px;height:12px;"> -->
                        </div>
                    </div>
                <!-- </div> -->
            </div>
            <div class="health-box flex-row-center">
                <div class="healthcode flex-center">体温状态</div>
                <!-- <div class="flex-row-center"> -->
                <div v-for="(v,i) in fevers" :key="i" class="item flex-row-center">
                    <span>{{v.t||''}}：</span>
                    <div>
                        <span>{{v.num||'0'}}</span>
                        <!-- <img src="../../assets/dahome/8.png" style="width:10px;height:12px;"> -->
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="lagend">
                <div><span>正常</span><span>36~37°c</span></div>
                <div><span>发热</span><span>高于37.1°c</span></div>
                <div><span>低烧</span><span>37.3~38°c</span></div>
                <div><span>高烧</span><span>38.1~40°c</span></div>
            </div>
        </div>
        <div class="right-1">
            <div id="right1_sex_D" class="right1_sex-D"></div>
        </div>
        <div class="right-2">
            <div id="right2_dispute1_D" class="right2-dispute1-D"></div>
            <div id="right2_dispute2_D" class="right2-dispute2-D"></div>
            <div id="right2_dispute3_D" class="right2-dispute3-D"></div>
        </div>
        <!-- <div class="right-3">
            <div class="right3-tab-box flex-row-center">
                <div class="r3-tab flex-center" v-for="(v,i) in rtabs" :key="i" :style="{'background-image':`url(` +  require(`../../assets/dahome/${RtabIdx===i?16:17}.png`) + `)`}">{{v.t||''}}</div>
            </div>
            <div class="right3-datas flex-row-center">
                <div v-for="(v,i) in populations" :key="i" class="item">
                    <span>{{v.t||''}}</span>
                    <div style="margin-top:6px"><span style="font-size:24px;">{{v.num||'0'}}</span><img src="../../assets/dahome/8.png" style="width:10px;height:12px;"></div>
                </div>
            </div>
        </div> -->
        <div class="right-4">
            <div class="right-4-top">
                <span>1378</span><span>本地居民</span><span>213</span><span>非本地居民</span>
            </div>
            <div id="right4_islocal_D" class="right4-islocal-D"></div>
            <div class="region-tab flex-center" v-for="(v,i) in rtabs" :key="i" :style="{'margin-top':`${i===0?0:48}px`,'background-image':`url(` +  require(`../../assets/dahome/${RtabIdx===i?16:17}.png`) + `)`}">{{v.t||''}}</div>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive,getCurrentInstance} from 'vue';

   // 引入 echarts 核心模块，核心模块提供了 echarts 使用必须要的接口。
    import * as echarts from 'echarts/core';
    // 引入柱状图图表，图表后缀都为 Chart
    import { BarChart, PieChart, GaugeChart } from 'echarts/charts';
    // 引入提示框，标题，直角坐标系，数据集，内置数据转换器组件，组件后缀都为 Component
    import {
        TitleComponent,
        TooltipComponent,
        GridComponent,
        LegendComponent,
        DatasetComponent,
        TransformComponent
    } from 'echarts/components';
    // 标签自动布局，全局过渡动画等特性
    import { LabelLayout, UniversalTransition } from 'echarts/features';
    // 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
    import { CanvasRenderer } from 'echarts/renderers';
    // 注册必须的组件
    echarts.use([
        TitleComponent,TooltipComponent,LegendComponent,
        GridComponent,DatasetComponent,TransformComponent,
        LabelLayout,UniversalTransition,CanvasRenderer,BarChart,PieChart,GaugeChart,
    ]);

    export default defineComponent({
        name: "homeData",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
                imgs:[
                    {url:require('../../assets/j0.png'),},
                    {url:require('../../assets/j1.png'),},
                    {url:require('../../assets/j2.png'),},
                    {url:require('../../assets/j3.png'),},
                    {url:require('../../assets/j4.png'),},
                    {url:require('../../assets/j5.png'),},
                    {url:require('../../assets/j6.png'),},
                    {url:require('../../assets/j7.png'),},
                    {url:require('../../assets/j8.png'),},
                ],
                left2Tabs: [
                    {t:"智慧停车",url:require('../../assets/dahome/58.png')},{t:"惠民活动",url:require('../../assets/dahome/59.png')},
                    {t:"智慧管家",url:require('../../assets/dahome/60.png')},{t:"智慧物管",url:require('../../assets/dahome/61.png')},{t:"预约服务",url:require('../../assets/dahome/62.png')}
                ],
                // 本地非本地人口
                RtabIdx:0,
                rtabs: [{t:'芳草地'}],

                healths: [{t:'绿码',num:'86'},{t:'黄码',num:'0'},{t:'红码',num:'0'},{t:'隔离',num:'0'},{t:'重点',num:'0'},],
                fevers: [{t:'正常',num:'86'},{t:'发热',num:'0'},{t:'低烧',num:'0'},{t:'高烧',num:'0'},],

                populations: [{t:'总人口',num:'456'},{t:'常住人口',num:'456'},{t:'流动人口',num:'456'},{t:'男性人口',num:'456'},{t:'女性人口',num:"455"}],
            }
        },
        mounted() {
            this.getLeft1Datas();
            this.getLeft3Datas();
            this.getRight1Datas();
            this.getRight2Datas();
            this.getRight4Datas();
        },
        watch: {
        },
        computed: {
        },
        methods: {
            createChart(opt:any,id:any){
                const myChart = echarts.init((document as any).getElementById(id),'dark');
                myChart.setOption(opt)
            },
            // 获取数据
            getLeft1Datas(){
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        type: 'pie',
                        data: [
                            {
                            value: 2421,
                            name: '流动人口'
                            },
                            {
                            value: 16,
                            name: '重点关注'
                            },
                            {
                            value: 1164,
                            name: '常住人口'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                this.createChart(option,'left1_often_D');
                // this.createChart(option,'left1_flow_D');
            },
            getLeft3Datas(){
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        type: 'pie',
                        data: [
                            {
                            value: 335,
                            name: 'A'
                            },
                            {
                            value: 234,
                            name: 'B'
                            },
                            {
                            value: 1548,
                            name: 'C'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                this.createChart(option,'left3_inout_D');
                this.createChart(option,'left3_sex_D');
            },
            getRight1Datas(){
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                        type: 'shadow'
                        }
                    },
                    legend: {},
                    grid: {
                        left: '0%',
                        right: '0%',
                        bottom: '0%',
                        top: '40px',
                        containLabel: true
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    xAxis: {
                        type: 'category',
                        data: ['10.18', '10.19', '10.20', '10.21', '10.22', '10.23']
                    },
                    series: [
                        {
                        name: '男性',
                        type: 'bar',
                        data: [58, 61, 77, 85, 51, 63]
                        },
                        {
                        name: '女性',
                        type: 'bar',
                        data: [60, 65, 80, 85, 56, 65]
                        }
                    ]
                };
                this.createChart(option,'right1_sex_D');
            },
            getRight2Datas(){
                function setOption(data:any,title:any,color:any){
                    const gaugeData = [
                        {
                            value: data,//数据
                            name: '',
                            title: {offsetCenter: ['0%', '0%']},
                            detail: {valueAnimation: true,offsetCenter: ['0%', '0%']}
                        }
                    ];
                    const option = {
                        title: {
                            text: title,x:'center',y:'bottom',
                            textStyle: {
                                fontSize: 14,
                                color: '#708ec4'
                            }
                        },
                        backgroundColor: 'rgba(0,0,0,0)',
                        color: [color],
                        series: [
                            {
                            type: 'gauge',
                            startAngle: 90,
                            endAngle: -270,
                            pointer: {
                                show: false
                            },
                            progress: {
                                show: true,
                                overlap: false,
                                roundCap: true,
                                clip: false,
                                itemStyle: {
                                borderWidth: 1,
                                borderColor: '#464646'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    width: 10
                                }
                            },
                            center: ['50%', '42%'],
                            splitLine: {
                                show: false,
                                distance: 0,
                                length: 10
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                show: false,
                                distance: 50
                            },
                            data: gaugeData,
                            title: {
                                fontSize: 14
                            },
                            }
                        ]
                    };
                    return option;
                }
                this.createChart(setOption(60,'事件数量','#79e1f2'),'right2_dispute1_D');
                this.createChart(setOption(20,'工单数量','#54b7e2'),'right2_dispute2_D');
                this.createChart(setOption(90,'工单完成','#517ed6'),'right2_dispute3_D');
            },
            getRight4Datas(){
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                        type: 'shadow'
                        }
                    },
                    legend: {
                        orient:'vertical',x: 'right',y:'bottom',itemWidth:10,itemHeight:10,textStyle:{
                            fontSize: '12px'
                        }
                    },
                    grid: {
                        left: '0%',
                        right: '130px',
                        bottom: '0%',
                        top: '10px',
                        containLabel: true
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    xAxis: {
                        type: 'category',
                        data: ['格林园', '芳草地', '湖畔园']
                    },
                    series: [
                        {
                        name: '本地居民',
                        type: 'bar',
                        data: [60, 65, 80, 15, 49, 37]
                        },
                        {
                        name: '非本地居民',
                        type: 'bar',
                        data: [40, 35, 60, 85, 51, 63]
                        }
                    ]
                };
                this.createChart(option,'right4_islocal_D');
            },

        }
    })
</script>

<style lang="scss" scoped>
    .components-box{width: 100%;height: 100%;}

    .left-1{
        position: absolute;left: 30px;top: 95px;width: 629px;height: 233px;
        background-image:url('../../assets/dahome/4_1.png');background-size: 629px 233px;
        .left1-often-D{position: absolute;left: 25px;top: 17px;width: 560px;height:170px;}
        .left1-flow-D{position: absolute;left: 305px;top: 17px;width: 280px;height:170px;}
    }
    .left-2{
        position: absolute;left: 30px;top: 320px;width: 588px;height: 166px;
        background-image:url('../../assets/dahome/5_1.png');background-size: 588px 166px;
        .left2-tab{
            position: absolute;left: 20px;top: 35px;width: 537px;height: 95px;
            div{flex: 1;cursor: pointer;}
            span{font-size: 16px; color: #708ec4;font-weight: 600;margin-top: 4px;}
        }
    }
    .left-3{
        position: absolute;left: 30px;top: 480px;width: 575px;height: 348px;
        background-image:url('../../assets/dahome/6_1.png');background-size: 575px 348px;
        .left-3-title{
            position: absolute;left: 45%;top: 35px;margin-left: -80px;width: 160px;height: 30px;
            background-image: url('../../assets/dahome/7.png');background-size: 160px 30px;color: #c5e2ff;
        }
        .left3-box1{
            position: absolute;left: 20px;top: 35px;width: 410px;height: 250px;background: rgba(36,39,53,0.15);border: solid 1px rgba(100,160,245,0.15);box-sizing: border-box;
            .photo-box{position: absolute;left: 5px;top: 5px;width: 152px;height: 190px;background-image: url('../../assets/dahome/10.png');background-size: 152px 190px;
                img{position: absolute;left: 10px;top: 10px;width: 140px;height: 170px;}
            }
            .l3-data-box{
                position: absolute;right: 5px;top: 5px;width: 240px;height: 190px;
                display: flex;flex-direction: column;
                .time-date{width: 100%;height: 26px;line-height: 26px;text-align: left;font-size: 12px;padding: 0 4px;box-sizing: border-box;background-image: linear-gradient(to right, rgba(255,255,255,0.06) , rgba(255,255,255,0));}
                .gaikuang{
                    display: flex;flex-direction: column;text-align: left;
                    span{font-size: 12px;color: #c5e2ff;} .num{font-size: 18px;color: #4be4ef;margin-left: 10px;}
                }
                .echart-box{width: 240px;height: 100px;display: flex;flex-direction: row;}.left3-inout-D{width: 120px;height: 100px;}
            }
            .change-box{
                position: absolute;left: 5px;top: 200px;width: 400px;height: 40px;
                .pohots{
                    flex: 1;
                    .img-box{width: 39px;height: 40px;background: #708ec4;margin: 0 1px;border: solid 1px rgba(111,166,245,0.3);box-sizing: border-box;}
                }
            }
        }
        .states-box{
            position: absolute;left: 432px;top: 35px;height: 140px;text-align: left;
            .healthcode{background-image: url('../../assets/dahome/7.png');background-size: 110px 20px;width: 110px;height: 20px;font-size: 12px;margin-right: 10px;}
            .item{width:100px;margin: 10px 0;}span{font-size:12px;}
        }
        .health-box{
            position: absolute;left: 20px;top: 295px;width: 410px;
            .healthcode{background-image: url('../../assets/dahome/7.png');background-size: 110px 20px;width: 110px;height: 20px;font-size: 12px;margin-right: 10px;}
            .item{flex: 1;}span{font-size:12px;}
        }
        .lagend{
            position: absolute;left: 440px;bottom: 35px; text-align: left;
            div::before{content: '•';font-weight: 800;margin-right: 2px;}
            div:nth-child(1)::before{color:#4ce5e5;}div:nth-child(2)::before{color:#6e78d6;}div:nth-child(3)::before{color:#3e4bc1;}div:nth-child(4)::before{color:#4ce5e5;}
            span{font-size:12px;}
        }
    }
    .right-1{
        position: absolute;left: 1250px;top: 95px;width: 610px;height: 183px;
        background-image:url('../../assets/dahome/12_1.png');background-size: 610px 183px;
        .right1_sex-D{position: absolute;right: 15px;top: 10px;width: 540px;height:140px;}
    }
    .right-2{
        position: absolute;left: 1300px;top: 285px;width: 563px;height: 220px;
        background-image:url('../../assets/dahome/13_1.png');background-size: 563px 220px;
        .right2-dispute1-D{position: absolute;right: 340px;top: 35px;width: 160px;height:145px;}
        .right2-dispute2-D{position: absolute;right: 180px;top: 35px;width: 160px;height:145px;}
        .right2-dispute3-D{position: absolute;right: 20px;top: 35px;width: 160px;height:145px;}
    }
    .right-3{
        position: absolute;left: 1412px;top: 552px;width: 475px;height: 174px;
        background-image:url('../../assets/dahome/14.png');background-size: 475px 174px;
        .right3-tab-box{
            position: absolute;left: 40px;top: 30px;width: 410px;height: 40px;
            .r3-tab{width: 100px;height:30px;background-size: 100px 30px;margin-right: 10px;}
        }
        .right3-datas{
            position: absolute;left: 40px;top: 80px;width: 410px;height: 60px;.item{flex:1;}
        }
    }
    .right-4{
        position: absolute;left: 1275px;top: 510px;width: 586px;height: 322px;
        background-image:url('../../assets/dahome/15_1.png');background-size: 586px 322px;
        .right-4-top{position: absolute;left: 70px;top: 35px;}
        .right-4-top span:nth-child(2n+1){font-size: 36px;margin-right: 10px;}
        .right-4 span:nth-child(2n){font-size: 14px;margin-right: 20px;color: #708ec4;}
        .right4-islocal-D{position: absolute;left: 70px;top: 90px;width: 450px;height:200px;}
        .region-tab{position: absolute;right: 10px;top: 90px;width: 134px;height:38px;background-size: 134px 38px;cursor: pointer;}
    }
</style>