<template>
    <div class="page-box flex-center pd20">
        <!-- 首页除圆环外内容 -->
        <div id="logo_back" class="logo—back"> 
            <img class="background" src="../../assets/dahome/1_1.png" alt="">
            <div class="top">
                <div class="mt20 flex-center"><img src="../../assets/m_title.png" alt=""></div>
            </div>
            <!-- 首页tab -->
            <div class="home-tab-box">
                <div class="t-tab" v-for="(v,i) in tabs" :key="i" @click="homeTabChange(i)"
                    :style="{
                        'background-image': `url(` + require(`../../assets/erji/${(i===3||i===4)?(tabIdx!==i?18:18):(tabIdx!==i?20:20)}.png`) + `)`,transform: `rotateY(${i<4?180:0}deg)`,
                        'background-size': `${(i===3||i===4)?170:160}px 50px`,width:`${(i===3||i===4)?170:160}px`,'margin-left':i===4?'550px':''}">
                    <span :style="{transform: `rotateY(${i<4?180:0}deg)`}">{{v.t}}</span>
                </div>
            </div>
            
            <div class="left-1">
                <div id="left1_often_D" class="left1-often-D"></div>
                <div id="left1_flow_D" class="left1-flow-D"></div>
            </div>
            <div class="left-2">
                <div class="left2-tab flex-row-center">
                    <div class="flex-column-center" v-for="(v,i) in left2Tabs" :key="i">
                        <img :src="v.url">
                        <span>{{v.t||''}}</span>
                    </div>
                </div>
            </div>
            <div class="left-3">
                <div class="left-3-title flex-center">人员进出数据</div>
                <div class="left3-box1">
                    <div class="photo-box"></div>
                    <div class="l3-data-box">
                        <div class="time-date">2021-10-0-7 周四 20:37:12</div>
                        <div class="gaikuang">
                            <span>今日人流总数<span class="num">329</span></span>
                            <span>今日外出人数<span class="num">218</span></span>
                            <span>今日进入人数<span class="num">329</span></span>
                        </div>
                        <div class="echart-box">
                            <div id="left3_inout_D" class="left3-inout-D"></div>
                            <div id="left3_sex_D" class="left3-inout-D"></div>
                        </div>
                    </div>
                    <div class="change-box flex-row-center">
                        <img class="change-l" src="../../assets/dahome/57.png" style="margin: 0 5px">
                        <div class="flex-row-center pohots">
                            <div class="img-box" v-for="(v,i) in 9" :key="i"></div>
                            <!-- <img src="../../assets/dahome/10.png"> -->
                        </div>
                        <img class="change-l" src="../../assets/dahome/57.png" style="transform: rotate(180deg);margin: 0 2px">
                    </div>
                </div>
                <div class="states-box">
                    <div class="healthcode flex-center">健康码状态</div>
                    <div class="flex-row-center">
                        <div v-for="(v,i) in healths" :key="i" class="item">
                            <span>{{v.t||''}}</span>
                            <div style="margin:2px 0 4px"><span>{{v.num||''}}</span><img src="../../assets/dahome/9.png" style="width:10px;height:12px;"></div>
                        </div>
                    </div>
                    <div class="healthcode flex-center">体温状态</div>
                    <div class="flex-row-center"> 
                        <div v-for="(v,i) in fevers" :key="i" class="item">
                            <span>{{v.t||''}}</span>
                            <div style="margin:2px 0 0"><span>{{v.num||'0'}}</span><img src="../../assets/dahome/8.png" style="width:10px;height:12px;"></div>
                        </div>
                    </div>
                </div>
                <div class="lagend">
                    <div><span>正常</span><span>36~37°c</span></div>
                    <div><span>发热</span><span>高于37.1°c</span></div>
                    <div><span>低烧</span><span>37.3~38°c</span></div>
                    <div><span>高烧</span><span>38.1~40°c</span></div>
                </div>
            </div>
            <div class="right-1">
                <div id="right1_sex_D" class="right1_sex-D"></div>
            </div>
            <div class="right-2">
                <div id="right2_dispute1_D" class="right2-dispute1-D"></div>
                <div id="right2_dispute2_D" class="right2-dispute2-D"></div>
                <div id="right2_dispute3_D" class="right2-dispute3-D"></div>
            </div>
            <div class="right-3">
                <div class="right3-tab-box flex-row-center">
                    <div class="r3-tab flex-center" v-for="(v,i) in rtabs" :key="i" :style="{'background-image':`url(` +  require(`../../assets/dahome/${RtabIdx===i?16:17}.png`) + `)`}">{{v.t||''}}</div>
                </div>
                <div class="right3-datas flex-row-center">
                    <div v-for="(v,i) in populations" :key="i" class="item">
                        <span>{{v.t||''}}</span>
                        <div style="margin-top:6px"><span style="font-size:24px;">{{v.num||'0'}}</span><img src="../../assets/dahome/8.png" style="width:10px;height:12px;"></div>
                    </div>
                </div>
            </div>
            <div class="right-4">
                <div class="right-4-top">
                    <span>1378</span><span>本地居民</span><span>18</span><span>非本地居民</span>
                </div>
                <div id="right4_islocal_D" class="right4-islocal-D"></div>
                <div class="region-tab flex-center" v-for="(v,i) in rtabs" :key="i" :style="{'margin-top':`${i===0?0:48}px`,'background-image':`url(` +  require(`../../assets/dahome/${RtabIdx===i?16:17}.png`) + `)`}">{{v.t||''}}</div>
            </div>

        </div>

        <!-- 二级tab -->
        <div id="top_tab_box" class="top-tab-box">
            <div class="t-tab" v-for="(v,i) in tabs" :key="i" @click="tabChange(v.nowidx)"
                :style="{
                    'background-image': `url(` + require(`../../assets/erji/${i===0?(tabIdx!==i?18:19):(tabIdx!==i?20:21)}.png`) + `)`,
                    'background-size': `${i===0?189:173}px 50px`,width:`${i===0?188:176}px`}">
                <span>{{v.t}}</span>
            </div>
        </div>

        <!-- 圆环 -->
        <div id="ring_box" class="ring-box">
            <!-- 首页圆环 -->
            <div class="ring-home-box" v-if="component==='home'">
                <img id="ring_home_back" src="../../assets/dahome/18.png">
                <div :id="'b_scale_'+i" class="h-b-img" v-for="(v,i) in tabs" :key="i" :style="{'background-image': `url(` + tabBacks[i].h_b_img + `)`,transform:`rotate(${45*i}deg)`,width:`${tabBacks[i].h_b_w}px`,height:`${tabBacks[i].h_b_h}px`,'background-size': `${tabBacks[i].h_b_w}px ${tabBacks[i].h_b_h}px`, top:`${475-tabBacks[i].h_b_h}px`,'margin-left':`${-tabBacks[i].h_b_w/2}px`,'transform-origin': `${tabBacks[i].h_b_w/2}px ${tabBacks[i].h_b_h}px`}">
                    <img src="../../assets/dahome/55.png" :class="[`l${i}`,'light-line-b']" :style="{opacity:i==0||i==1||i==5||i==6||i==7?0.8:0.3}">
                </div>
                <div @click="homeTabChange(i)" :id="'m_scale_'+i" :class="['h-m-img']" d v-for="(v,i) in tabs" :key="i" :style="{'background-image': `url(` + v.h_m_img + `)`,transform: `rotate(${45*(i-1)}deg)`}">
                    <img src="../../assets/dahome/55.png" class="light-line">
                    <div class="h-tab-t" :style="{opacity:v.nowidx===3?'1':'0.6','font-size':v.nowidx===3?'28px':'24px',transform:`rotateY(${i==4||i==5||i==6||i==7?180:0}deg) rotateX(${i==4||i==5||i==6||i==7?180:0}deg)`}">
                        <img :src="v.url||'../../assets/erji/8.png'">
                        <span class="t">{{v.t}}</span>
                    </div>
                </div>
                <!-- <div v-for="(v,i) in tabs" :key="i"></div> -->
            </div>
            <!-- 二级页圆环 -->
            <div class="ring-sec-box" v-else-if="component!=='home'">
                <img id="ring_sec_background" src="../../assets/erji/2.png">
                <div id="tab_go_back" class="back" @click="back">
                    <div class="tab-t">
                        <img src="../../assets/erji/13.png">
                        <span class="t">返回上一级</span>
                    </div>
                </div>
                <div v-for="(v,i) in tabs" :key="i" :id="'side_rotate_'+i" :class="['tab-box', v.nowidx===3?'active':'']" :style="{transform:'rotate('+v.rotate+'deg)'}" @click="tabChange(v.nowidx)">
                    <div class="tab-t" :style="{opacity:v.nowidx===3?'1':'0.6','font-size':v.nowidx===3?'28px':'24px'}">
                        <img :src="v.url||'../../assets/erji/8.png'">
                        <span class="t">{{v.t}}-{{v.nowidx}}-{{i}}</span>
                    </div>
                </div>
            </div>
            <img src="../../assets/dahome/0.gif" class="gif" id="gif_anima">
        </div>

        <!-- 右侧数据 -->
        <div class="data-box" ref="myRef">
            <!--人口统计-->
            <population id="component_box" v-if="component =='population'||component =='car'"/>
            <!--人口统计-->
            <wisdom id="component_box" v-if="component =='wisdom'||component =='video'||component =='party'"/>
            <!--人口统计-->
            <user id="component_box" v-if="component =='user'||component =='epidemic'||component =='server'"/>
        </div>
    </div>
</template>
 
<script lang="ts">
    // 首页旋转出现 首页消失 大圆环左移 二级tab一起转出 二级页tab切换 二级页tab缩小消失 
    // 二级页切换样式
    let rotate_style = document.createElement('style');
    rotate_style.setAttribute('id',`rotate_style_keyframes`);
    rotate_style.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(rotate_style);

    // 其他公共样式
    let common_style = document.createElement('style');
    common_style.setAttribute('id',`common_style_keyframes`);
    common_style.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(common_style);


   // 引入 echarts 核心模块，核心模块提供了 echarts 使用必须要的接口。
    import * as echarts from 'echarts/core';
    // 引入柱状图图表，图表后缀都为 Chart
    import { BarChart, PieChart, GaugeChart } from 'echarts/charts';
    // 引入提示框，标题，直角坐标系，数据集，内置数据转换器组件，组件后缀都为 Component
    import {
        TitleComponent,
        TooltipComponent,
        GridComponent,
        LegendComponent,
        DatasetComponent,
        TransformComponent
    } from 'echarts/components';
    // 标签自动布局，全局过渡动画等特性
    import { LabelLayout, UniversalTransition } from 'echarts/features';
    // 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
    import { CanvasRenderer } from 'echarts/renderers';
    // 注册必须的组件
    echarts.use([
        TitleComponent,TooltipComponent,LegendComponent,
        GridComponent,DatasetComponent,TransformComponent,
        LabelLayout,UniversalTransition,CanvasRenderer,BarChart,PieChart,GaugeChart,
    ]);
    
    
    import {defineComponent, reactive, ref} from 'vue';
    import population from "./population.vue";
    import wisdom from "./wisdom.vue";
    import user from "./car.vue";
    import test from '@/utils/test'

    export default defineComponent({
        name: 'Datas',
        components: {population,wisdom,user},
        setup() {
            const myRef = ref(null);
            return reactive({
                myRef,
                component: 'home',
                m_cssTexts: [],
                b_cssTexts: [],
            })
        },
        data() {
            return {
                tabIdx: 3,
                tabBacks: [
                    {h_b_img:require('../../assets/dahome/37.png'),h_b_w:326,h_b_h:427},{h_b_img:require('../../assets/dahome/38.png'),h_b_w:296,h_b_h:387},
                    {h_b_img:require('../../assets/dahome/39.png'),h_b_w:350,h_b_h:458},{h_b_img:require('../../assets/dahome/40.png'),h_b_w:326,h_b_h:427},
                    {h_b_img:require('../../assets/dahome/41.png'),h_b_w:350,h_b_h:458},{h_b_img:require('../../assets/dahome/42.png'),h_b_w:359,h_b_h:470},
                    {h_b_img:require('../../assets/dahome/43.png'),h_b_w:326,h_b_h:427},{h_b_img:require('../../assets/dahome/44.png'),h_b_w:296,h_b_h:387}
                ],
                tabs: [
                    {t:'智慧安防',remark:'wisdom',url:require('../../assets/erji/5.png'),rotate:-38,nowidx:0,h_m_img:require('../../assets/dahome/45.png')},
                    {t:'人员进出',remark:'user',url:require('../../assets/erji/6.png'),rotate:-23,nowidx:1,h_m_img:require('../../assets/dahome/46.png')},
                    {t:'车辆进出',remark:'car',url:require('../../assets/erji/7.png'),rotate:-8,nowidx:2,h_m_img:require('../../assets/dahome/47.png')},
                    {t:'人口统计',remark:'population',url:require('../../assets/erji/8.png'),rotate:7,nowidx:3,h_m_img:require('../../assets/dahome/48.png')},
                    {t:'视频监控',remark:'video',url:require('../../assets/erji/9.png'),rotate:22,nowidx:4,h_m_img:require('../../assets/dahome/49.png')},
                    {t:'疫情防控',remark:'epidemic',url:require('../../assets/erji/10.png'),rotate:37,nowidx:5,h_m_img:require('../../assets/dahome/50.png')},
                    {t:'党建中心',remark:'party',url:require('../../assets/erji/11.png'),rotate:52,nowidx:6,h_m_img:require('../../assets/dahome/51.png')},
                    {t:'民生服务',remark:'server',url:require('../../assets/erji/12.png'),rotate:67,nowidx:7,h_m_img:require('../../assets/dahome/52.png')},
                ],

                left2Tabs: [
                    {t:"智慧停车",url:require('../../assets/dahome/58.png')},{t:"惠民活动",url:require('../../assets/dahome/59.png')},
                    {t:"智慧管家",url:require('../../assets/dahome/60.png')},{t:"智慧物管",url:require('../../assets/dahome/61.png')},{t:"预约服务",url:require('../../assets/dahome/62.png')}
                ],
                // 本地非本地人口
                RtabIdx:0,
                rtabs: [{t:'社区1'},{t:'社区2'}],

                healths: [{t:'绿码',num:'456'},{t:'黄码',num:'456'},{t:'红码',num:'456'},{t:'隔离人群',num:'456'},{t:'重点人群',num:'456'},],
                fevers: [{t:'正常',num:'456'},{t:'发热',num:'456'},{t:'低烧',num:'456'},{t:'高烧',num:'456'},],

                populations: [{t:'总人口',num:'456'},{t:'常住人口',num:'456'},{t:'流动人口',num:'456'},{t:'男性人口',num:'456'},{t:'女性人口',num:"455"}],
            }
        },
        watch:{
            component(e:any){
                console.log(e);
            }
        },
        mounted() {
            this.homeImgAnimation('small_to_big',true);
            this.getLeft1Datas();
            this.getLeft3Datas();
            this.getRight1Datas();
            this.getRight2Datas();
            this.getRight4Datas();
        },
        computed: {
        },
        methods: {
            // 获取数据
            getLeft1Datas(){
                const oftenChart:any = echarts.init((document as any).getElementById('left1_often_D'), 'dark');
                const flowChart:any = echarts.init((document as any).getElementById('left1_flow_D'), 'dark');
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        type: 'pie',
                        data: [
                            {
                            value: 335,
                            name: 'A'
                            },
                            {
                            value: 234,
                            name: 'B'
                            },
                            {
                            value: 1548,
                            name: 'C'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                oftenChart.setOption(option);
                flowChart.setOption(option);
            },
            getLeft3Datas(){
                const inoutChart:any = echarts.init((document as any).getElementById('left3_inout_D'), 'dark');
                const sexChart:any = echarts.init((document as any).getElementById('left3_sex_D'), 'dark');
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        type: 'pie',
                        data: [
                            {
                            value: 335,
                            name: 'A'
                            },
                            {
                            value: 234,
                            name: 'B'
                            },
                            {
                            value: 1548,
                            name: 'C'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                inoutChart.setOption(option);
                sexChart.setOption(option);
            },
            getRight1Datas(){
                const sexChart:any = echarts.init((document as any).getElementById('right1_sex_D'), 'dark');
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                        type: 'shadow'
                        }
                    },
                    legend: {},
                    grid: {
                        left: '0%',
                        right: '0%',
                        bottom: '0%',
                        top: '40px',
                        containLabel: true
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    xAxis: {
                        type: 'category',
                        data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
                    },
                    series: [
                        {
                        name: '男性',
                        type: 'bar',
                        data: [40, 35, 20, 85, 51, 63]
                        },
                        {
                        name: '女性',
                        type: 'bar',
                        data: [60, 65, 80, 15, 49, 37]
                        }
                    ]
                };
                sexChart.setOption(option);
            },
            getRight2Datas(){
                const dispute1Chart:any = echarts.init((document as any).getElementById('right2_dispute1_D'), 'dark');
                const dispute2Chart:any = echarts.init((document as any).getElementById('right2_dispute2_D'), 'dark');
                const dispute3Chart:any = echarts.init((document as any).getElementById('right2_dispute3_D'), 'dark');

                function setOption(data:any,title:any,color:any){
                    const gaugeData = [
                        {
                            value: data,//数据
                            name: '',
                            title: {offsetCenter: ['0%', '0%']},
                            detail: {valueAnimation: true,offsetCenter: ['0%', '0%']}
                        }
                    ];
                    const option = {
                        title: {
                            text: title,x:'center',y:'bottom',
                            textStyle: {
                                fontSize: 14,
                                color: '#708ec4'
                            }
                        },
                        backgroundColor: 'rgba(0,0,0,0)',
                        color: [color],
                        series: [
                            {
                            type: 'gauge',
                            startAngle: 90,
                            endAngle: -270,
                            pointer: {
                                show: false
                            },
                            progress: {
                                show: true,
                                overlap: false,
                                roundCap: true,
                                clip: false,
                                itemStyle: {
                                borderWidth: 1,
                                borderColor: '#464646'
                                }
                            },
                            axisLine: {
                                lineStyle: {
                                    width: 10
                                }
                            },
                            center: ['50%', '42%'],
                            splitLine: {
                                show: false,
                                distance: 0,
                                length: 10
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                show: false,
                                distance: 50
                            },
                            data: gaugeData,
                            title: {
                                fontSize: 14
                            },
                            }
                        ]
                    };
                    return option;
                }

                dispute1Chart.setOption(setOption(60,'事件数量','#79e1f2'));
                dispute2Chart.setOption(setOption(20,'工单数量','#54b7e2'));
                dispute3Chart.setOption(setOption(90,'工单完成','#517ed6'));
            },
            getRight4Datas(){
                const localChart:any = echarts.init((document as any).getElementById('right4_islocal_D'), 'dark');
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                        type: 'shadow'
                        }
                    },
                    legend: {
                        orient:'vertical',x: 'right',y:'bottom',itemWidth:10,itemHeight:10,textStyle:{
                            fontSize: '12px'
                        }
                    },
                    grid: {
                        left: '0%',
                        right: '130px',
                        bottom: '0%',
                        top: '10px',
                        containLabel: true
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    xAxis: {
                        type: 'category',
                        data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
                    },
                    series: [
                        {
                        name: '本地居民',
                        type: 'bar',
                        data: [40, 35, 20, 85, 51, 63]
                        },
                        {
                        name: '非本地居民',
                        type: 'bar',
                        data: [60, 65, 80, 15, 49, 37]
                        }
                    ]
                };
                localChart.setOption(option);
            },









            // 首页动效
            homeImgAnimation(zoom:any,start:any){
                    let tabs = JSON.parse(JSON.stringify(this.tabs));
                    for (let i = 0; i < tabs.length; i++) {
                        if(start){
                            // 放大
                            const m_scale_01 = ` @keyframes key_m_scale_0_1${i}{0% {transform: rotate(0deg) scale(0,0);opacity: 0;}100% {transform: rotate(${45*(i-1)}deg) scale(1,1);opacity: 1;}}`;//动画从后往前执行 此处即scale到rotate
                            const b_scale_01 = ` @keyframes key_b_scale_0_1${i}{0% {transform: rotate(0deg) scale(0,0);opacity: 0;}100% {transform: rotate(${45*i}deg) scale(1,1);opacity: 1;}}`;
                            // 缩小
                            const m_scale_10 = ` @keyframes key_m_scale_1_0${i}{0% {transform: rotate(${45*(i-1)}deg) scale(1,1);opacity: 1;}100% {transform: rotate(0deg) scale(0,0);opacity: 0;}}`;//动画从后往前执行 此处即scale到rotate
                            const b_scale_10 = ` @keyframes key_b_scale_1_0${i}{0% {transform: rotate(${45*i}deg) scale(1,1);opacity: 1;}100% {transform: rotate(0deg) scale(0,0);opacity: 0;}}`;
                            
                            common_style.innerHTML += (m_scale_01 + b_scale_01 + m_scale_10 + b_scale_10);
                        }
                        let mScaleI = document.getElementById(`m_scale_${i}`);
                        let bScaleI = document.getElementById(`b_scale_${i}`);
                        if(start){
                            (this as any).m_cssTexts.push((mScaleI as any).style.cssText);
                            (this as any).b_cssTexts.push((bScaleI as any).style.cssText);
                            (mScaleI as any).style.cssText = this.m_cssTexts[i] + `animation: key_m_scale_0_1${i} ${(0.7+i*0.1).toFixed(1)}s 0s ease-in;`;
                            (bScaleI as any).style.cssText = this.b_cssTexts[i] + `animation: key_b_scale_0_1${i} ${(0.7+i*0.1).toFixed(1)}s 0.4s ease-in;`;
                        }else{
                            (mScaleI as any).style.cssText = '' + `animation: key_m_scale_0_1_99999 ${(0.7+i*0.1).toFixed(1)}s 0s ease-in;`;
                            (bScaleI as any).style.cssText = '' + `animation: key_b_scale_0_199999 ${(0.7+i*0.1).toFixed(1)}s 0.4s ease-in;`;
                            // setTimeout(()=>{
                                (mScaleI as any).style.cssText = this.m_cssTexts[i] + `animation: ${zoom==='small_to_big'?'key_m_scale_0_1':'key_m_scale_1_0'}${i} ${(0.7+i*0.1).toFixed(1)}s 0s ease-in;`;
                                (bScaleI as any).style.cssText = this.b_cssTexts[i] + `animation: ${zoom==='small_to_big'?'key_b_scale_0_1':'key_b_scale_1_0'}${i} ${(0.7+i*0.1).toFixed(1)}s 0.4s ease-in;`;
                            // },1);
                        }
                    }
                    // 首页背景线
                    if(start){
                        const r_b_scale_01 = ` @keyframes key_r_b_0_1{0% {transform: scale(0,0);}100% {transform: scale(1,1);}}`;
                        const r_b_scale_10 = ` @keyframes key_r_b_1_0{0% {transform: scale(1,1);}100% {transform: scale(0,0);}}`;
                        common_style.innerHTML += (r_b_scale_01 + r_b_scale_10);
                    }
                    const rScale = document.getElementById(`ring_home_back`);
                    if(start){
                        (rScale as any).style.cssText = `animation: key_r_b_0_1 0.7s 1.1s ease-in;`;
                    }else{
                        (rScale as any).style.cssText = `animation: key_r_scale_99999 0.7s 1.1s ease-in;`;
                        setTimeout(()=>{
                            (rScale as any).style.cssText = `animation: ${zoom==='small_to_big'?'key_r_b_0_1':'key_r_b_1_0'} 0.7s ${zoom==='small_to_big'?'1.1s':'0.5s'} ease-in;`;
                        },1);
                    }
                    // gif 添加gif动画样式
                    const gif_scale_01 = ` @keyframes key_gif_0_1{0% {transform: scale(1,1);}100% {transform: scale(1.7,1.7);}}`;
                    const gif_scale_10 = ` @keyframes key_gif_1_0{0% {transform: scale(1.7,1.7);}100% {transform: scale(1,1);}}`;
                    common_style.innerHTML += (gif_scale_01 + gif_scale_10);

                    // gif_anima
            },
            // git动画
            gifAnimation(zoom:any){
                const gifScale = document.getElementById(`gif_anima`);
                (gifScale as any).style.cssText = `animation: key_gif_0_1_999999 0.7s 0s ease-in;`;
                setTimeout(()=>{
                    (gifScale as any).style.cssText = `animation: ${zoom==='small_to_big'?'key_gif_0_1':'key_gif_1_0'} 0.7s 0s ease-in;`;
                },1);
            },
            // 点击首页tab
            async homeTabChange(n:any){
                let tabs:any = [];
                let nowI:any = this.tabs[n].nowidx;
                if(nowI===3){
                    await this.ringBoxAnimation('r_l',true);
                    this.showHidden('logo_back',false,'0.2s','0s',true);
                    this.gifAnimation('small_to_big');
                    this.homeImgAnimation('big_to_small',false);
                    setTimeout(()=>{
                        this.component = this.tabs[n].remark;
                        this.showHidden('top_tab_box',true,'0.6s','0s',true);
                    },1000);
                    setTimeout(()=>{
                        this.showHidden('component_box',true,'0.6s','0s',true);
                        this.rBackAnimation('transform: scale(0,0);','transform: scale(1,1);','key_r_sec_b_01',rotate_style,true,'0.6s',0);
                        this.initialAnimation();
                    },1000);
                    return;
                }
                for (let i = 0; i < this.tabs.length; i++) {
                    let difN:any = 3 - nowI;//差值 相对与二级页选中的下标 3
                    let finalN:any = null;//替换后下标
                    if(i+difN>=0&&i+difN<=7){
                        finalN = i + difN;
                    }else{
                        finalN = i + difN + (difN<0?8:-8);
                    }
                    tabs[finalN] = JSON.parse(JSON.stringify((this as any).tabs[i]));
                    tabs[finalN].nowidx = finalN;
                    tabs[finalN].rotate = 7-15*(3-finalN);
                    
                }
                this.tabs = tabs;
                await this.ringBoxAnimation('r_l',true);
                this.showHidden('logo_back',false,'0.2s','0s',true);
                this.gifAnimation('small_to_big');
                this.homeImgAnimation('big_to_small',false);
                setTimeout(()=>{
                    this.component = this.tabs[n].remark;
                    this.showHidden('top_tab_box',true,'0.6s','0s',true);
                },1000);
                setTimeout(()=>{
                    this.showHidden('component_box',true,'0.6s','0s',true);
                    this.rBackAnimation('transform: scale(0,0);','transform: scale(1,1);','key_r_sec_b_01',rotate_style,true,'0.6s',0);
                    this.initialAnimation();
                },1000);
            },
            // 大圆环左右移动
            ringBoxAnimation(go:any,start:any){
                if(start){
                    const r_l = ` @keyframes key_ring_box_r_l{0% {left:310px;}100% {left:-650px;}}`;
                    const l_r = ` @keyframes key_ring_box_l_r{0% {left:-650px;}100% {left:310px;}}`;
                    common_style.innerHTML += (r_l + l_r);
                }
                let ringBox = document.getElementById(`ring_box`);
                if(go==='r_l'){
                    (ringBox as any).style.cssText = `animation: key_ring_box_r_l_9999 0.6s 0s ease-in;`;
                    setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (ringBox as any).style.cssText = `animation: key_ring_box_r_l 0.6s 0s ease-in;`;
                    },0);
                }else{
                    (ringBox as any).style.cssText = `animation: key_ring_box_l__9999 0.6s 0s ease-in;`;
                    // setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (ringBox as any).style.cssText = `animation: key_ring_box_l_r 0.6s 0s ease-in;`;
                    // },0);
                }
            },
            // 首页非圆环 消失
            showHidden(id:any,show:any,time:any,delay:any,start:any){
                // 这里应该公共配置的 先这样
                const hiddenKey = ` @keyframes dom_hidden{0% {opacity: 1;pointer-events: auto;}100% {opacity: 0;pointer-events: none;}}`;
                const showKey = ` @keyframes dom_show{0% {opacity: 0;pointer-events: none;}100% {opacity: 1;pointer-events: auto;}}`;
                common_style.innerHTML += (hiddenKey + showKey);

                let Dom = document.getElementById(id);
                (Dom as any).style.cssText = `animation: ${show?'dom_show':'dom_hidden'} ${time||'0s'} ${delay||'0s'} ease-in;`;
            },
            // 默认进入动效
            initialAnimation(){
                let tabs = JSON.parse(JSON.stringify(this.tabs));
                for (let i = 0; i < tabs.length; i++) {
                    const rotateKeyframes = ` @keyframes key_side_r_${i}{0% {transform: rotate(${-188+i*15}deg);opacity: 1;}100% {transform: rotate(${-38+i*15}deg);opacity: 1;}}`;
                    rotate_style.innerHTML += rotateKeyframes;
                    const sideRotateI = document.getElementById(`side_rotate_${i}`);
                    const cssText = (sideRotateI as any).style.cssText;
                    (sideRotateI as any).style.cssText = cssText + `animation: key_side_r_${i} ${(1.4-i*0.1).toFixed(1)}s 0s ease-in;`
                }
            },
            // 二级圆环动画
            rBackAnimation(from:any,to:any,keyframes:any,style:any,start:any,time:any,delay:any){// 需要放置到head里的styley样式对象 start 是否最开始
                const r_sec_b_Keyframes = `@keyframes ${keyframes}{0% {${from}}100% {${to}}}`;
                style.innerHTML += r_sec_b_Keyframes;
                const rsecB = document.getElementById(`ring_sec_background`);
                if(start){
                    (rsecB as any).style.cssText = `animation: ${keyframes} 0.6s 0s ease-in;`;
                }else{
                    (rsecB as any).style.cssText = `animation: ${keyframes+'_999999'} ${time} ${delay||'0s'} ease-in;`;
                    setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (rsecB as any).style.cssText = `animation: ${keyframes} ${time} ${delay||'0s'} ease-in;`;
                    },1);
                }
            },
            // 点击二级页tab
            tabChange(i:any){
                (rotate_style as any).innerHTML = '';
                this.tabIdx = this.tabs.findIndex((v:any)=>v.nowidx==i);
                this.component = this.tabs[this.tabIdx].remark;
                let idx = 3 - i; //<0逆时针转  >0顺时针转
                console.log(idx);
                console.log(this.tabs);
                
                
                if(idx===0){return;}
                console.log(idx);
                let tabs = JSON.parse(JSON.stringify(this.tabs));
                for (let k = 0; k < tabs.length; k++) {
                    let n = idx<0?tabs.findIndex((v:any)=>v.nowidx==k):tabs.findIndex((v:any)=>v.nowidx==tabs.length-1-k);
                     
                    let m = this.tabs[n].nowidx;
                    let rotate = this.tabs[n].rotate;
                    if(m+idx<0&&idx<0){//<0逆时针转
                        this.tabs[n].rotate = rotate - 240 + idx*15;
                        this.tabs[n].nowidx = m + idx + 8;
                        this.setAnimation(n,-k,rotate,this.tabs[n].rotate);
                        continue;
                    }else if(m+idx>7&&idx>0){//>0顺时针转
                        this.tabs[n].rotate = rotate + 240 + idx*15;
                        this.tabs[n].nowidx = m + idx - 8;
                        this.setAnimation(n,-k,rotate,this.tabs[n].rotate);// 第二个参数本来应该是tabs.length-1-k 为-k是为了保证转到另一端的元素不与其他元素重叠
                        continue;
                    }
                    this.tabs[n].rotate = rotate + idx*15;
                    this.tabs[n].nowidx = m+idx;
                    this.setAnimation(n,tabs.length-1-k,rotate,this.tabs[n].rotate);
                }
            },
            // 点击设置动效
            setAnimation(domI:any,runI:any,from:any,to:any){//domI 当前设置元素的下标 runI 运动排序下标越大表示最先运动  注意两个下标不要搞混 
                const rotateKeyframes = `@keyframes key_side_r_${domI}{0% {transform: rotate(${from}deg);opacity: 1;}100% {transform: rotate(${to}deg);opacity: 1;}}`;
                rotate_style.innerHTML += rotateKeyframes;
                const sideRotateI = document.getElementById(`side_rotate_${domI}`);
                (sideRotateI as any).style.cssText = `transform:rotate(${to}deg);animation: key_side_r_99999 ${(1.4-runI*0.2).toFixed(1)}s 0s ease-in;`;
                setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                    (sideRotateI as any).style.cssText = `transform:rotate(${to}deg);animation: key_side_r_${domI} ${(1.4-runI*0.1).toFixed(1)}s 0s ease-in;`;
                },1);
            },
            // 二级页tab缩小
            tabScaleAnimation(){
                // return
                for (let i = 0; i < this.tabs.length; i++) {
                    let n = this.tabs.findIndex((v:any)=>v.nowidx==(this.tabs.length-1-i));
                    const tabScaleKeyframes = `@keyframes  key_tab_sc_${n}{0%{transform: rotate(${this.tabs[n].rotate}deg) scale(1,1);}100%{transform: rotate(${this.tabs[n].rotate}deg) scale(0,0);}}`;
                    common_style.innerHTML += tabScaleKeyframes;
                    const sideRotateI = document.getElementById(`side_rotate_${n}`);
                    (sideRotateI as any).style.cssText = `transform:rotate(${this.tabs[n].rotate}deg);animation: key_tab_sc_99999 ${(1.4-n*0.1).toFixed(1)}s 0s ease-in;`;
                    setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (sideRotateI as any).style.cssText = `transform:rotate(${this.tabs[n].rotate}deg);animation: key_tab_sc_${n} ${(1.0-(this.tabs.length-1-i)*0.1).toFixed(1)}s 0s ease-in;`;
                    },1);
                }
                // 返回tab缩小
                const tabGobackScaleKeyframes = `@keyframes  key_goback_sc{0%{transform: rotate(-53deg) scale(1,1);}100%{transform: rotate(-53deg) scale(0,0);}}`;
                common_style.innerHTML += tabGobackScaleKeyframes;
                const goBack = document.getElementById(`tab_go_back`);
                (goBack as any).style.cssText = `transform: rotate(-53deg);animation: key_goback_sc_999999 1.5s 0s ease-in;`;
                setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                    (goBack as any).style.cssText = `transform: rotate(-53deg);animation: key_goback_sc 1s 0s ease-in;`;
                },1);
                // 二级圆环缩小
                this.rBackAnimation('transform: scale(1,1);','transform: scale(0,0);','key_r_sec_b_10',common_style,false,'1s','0s');
            },
            back(){
                this.showHidden('top_tab_box',false,'0.2s','0s',true);
                this.showHidden('component_box',false,'0.2s','0s',true);
                this.showHidden('logo_back',true,'0.6s','0.5s',true);
                this.ringBoxAnimation('l_r',false);
                this.gifAnimation('to_big_small');
                this.tabScaleAnimation();
                setTimeout(()=>{
                    this.component = 'home';
                },1050);
                setTimeout(()=>{
                    this.homeImgAnimation('small_to_big',false);
                },1050);
            },
        }
    });
</script>

<style lang="scss" scoped>
    .flex-center{display: flex;align-items: center;justify-content: center;}
    .flex-row-center{display: flex;flex-direction: row;align-items: center;}
    .flex-column-center{display: flex;flex-direction: column;align-items: center;}
    .page-box {
        height: 100vh;width: 100vw;
        background: #000;color: #c5e2ff;
    }

    .logo—back{
        z-index: 777;animation-fill-mode:both !important;
        .background{position: fixed;top: 0;right: 0;bottom: 0;left:0;pointer-events: none;}
        .top{position: fixed;top: 0;left: 0;width: 100vw;pointer-events: none;}
        .home-tab-box{
            display: flex;flex-direction: row;align-items: center;
            position: fixed;top: 30px;left:35px;width: 1850px;height: 60px;
            .t-tab{
                height: 50px;background-repeat: no-repeat;display: flex;justify-content: center;font-size: 26px;cursor: pointer;
                span{margin-top: 10px;}
            }

        }

        .left-1{
            position: absolute;left: 38px;top: 115px;width: 565px;height: 250px;
            background-image:url('../../assets/dahome/4.png');background-size: 565px 250px;
            .left1-often-D{position: absolute;left: 25px;top: 25px;width: 200px;height:170px;}
            .left1-flow-D{position: absolute;left: 225px;top: 25px;width: 200px;height:170px;}
        }
        .left-2{
            position: absolute;left: 38px;top: 357px;width: 514px;height: 208px;
            background-image:url('../../assets/dahome/5.png');background-size: 514px 208px;
            .left2-tab{
                position: absolute;left: 20px;top: 35px;width: 435px;height: 135px;
                div{flex: 1;cursor: pointer;}
                span{font-size: 16px; color: #708ec4;font-weight: 600;margin-top: 4px;}
            }
        }
        .left-3{
            position: absolute;left: 38px;top: 555px;width: 485px;height: 485px;
            background-image:url('../../assets/dahome/6.png');background-size: 485px 485px;
            .left-3-title{
                position: absolute;left: 45%;top: 35px;margin-left: -80px;width: 160px;height: 30px;
                background-image: url('../../assets/dahome/7.png');background-size: 160px 30px;color: #c5e2ff;
            }
            .left3-box1{
                position: absolute;left: 20px;top: 70px;width: 410px;height: 250px;background: rgba(36,39,53,0.15);border: solid 1px rgba(100,160,245,0.15);box-sizing: border-box;
                .photo-box{position: absolute;left: 5px;top: 5px;width: 152px;height: 190px;background-image: url('../../assets/dahome/10.png');background-size: 152px 190px;}
                .l3-data-box{
                    position: absolute;right: 5px;top: 5px;width: 240px;height: 190px;
                    display: flex;flex-direction: column;
                    .time-date{width: 100%;height: 26px;line-height: 26px;text-align: left;font-size: 12px;padding: 0 4px;box-sizing: border-box;background-image: linear-gradient(to right, rgba(255,255,255,0.06) , rgba(255,255,255,0));}
                    .gaikuang{
                        display: flex;flex-direction: column;text-align: left;
                        span{font-size: 12px;color: #c5e2ff;} .num{font-size: 18px;color: #4be4ef;margin-left: 10px;}
                    }
                    .echart-box{width: 240px;height: 100px;display: flex;flex-direction: row;}.left3-inout-D{width: 120px;height: 100px;}
                }
                .change-box{
                    position: absolute;left: 5px;top: 200px;width: 400px;height: 40px;
                    .pohots{
                        flex: 1;
                        .img-box{width: 39px;height: 40px;background: #708ec4;margin: 0 1px;border: solid 1px rgba(111,166,245,0.3);box-sizing: border-box;}
                    }
                }
            }
            .states-box{
                position: absolute;left: 20px;top: 330px;width: 350px;height: 140px;
                .healthcode{background-image: url('../../assets/dahome/7.png');background-size: 110px 20px;width: 110px;height: 20px;font-size: 12px;margin-bottom: 4px;}
                .item{flex: 1;}span{font-size:12px;}
            }
            .lagend{
                position: absolute;right: 15px;bottom: 57px;text-align: right;
                div::before{content: '•';font-weight: 800;margin-right: 2px;}
                div:nth-child(1)::before{color:#4ce5e5;}div:nth-child(2)::before{color:#6e78d6;}div:nth-child(3)::before{color:#3e4bc1;}div:nth-child(4)::before{color:#4ce5e5;}
                span{font-size:12px;}
            }
        }
        .right-1{
            position: absolute;right: 67px;top: 115px;width: 512px;height: 224px;
            background-image:url('../../assets/dahome/12.png');background-size: 512px 224px;
            .right1_sex-D{position: absolute;right: 15px;top: 20px;width: 450px;height:170px;}
        }
        .right-2{
            position: absolute;right: 37px;top: 345px;width: 496px;height: 208px;
            background-image:url('../../assets/dahome/13.png');background-size: 496px 208px;
            .right2-dispute1-D{position: absolute;right: 290px;top: 35px;width: 135px;height:135px;}
            .right2-dispute2-D{position: absolute;right: 155px;top: 35px;width: 135px;height:135px;}
            .right2-dispute3-D{position: absolute;right: 20px;top: 35px;width: 135px;height:135px;}
        }
        .right-3{
            position: absolute;right: 34px;top: 552px;width: 475px;height: 174px;
            background-image:url('../../assets/dahome/14.png');background-size: 475px 174px;
            .right3-tab-box{
                position: absolute;left: 40px;top: 30px;width: 410px;height: 40px;
                .r3-tab{width: 100px;height:30px;background-size: 100px 30px;margin-right: 10px;}
            }
            .right3-datas{
                position: absolute;left: 40px;top: 80px;width: 410px;height: 60px;.item{flex:1;}
            }
        }
        .right-4{
            position: absolute;right: 37px;top: 720px;width: 522px;height: 320px;
            background-image:url('../../assets/dahome/15.png');background-size: 522px 320px;
            .right-4-top{position: absolute;left: 40px;top: 40px;}
            .right-4-top span:nth-child(2n+1){font-size: 36px;margin-right: 10px;}
            .right-4 span:nth-child(2n){font-size: 14px;margin-right: 20px;color: #708ec4;}
            .right4-islocal-D{position: absolute;left: 40px;top: 90px;width: 450px;height:200px;}
            .region-tab{position: absolute;right: 10px;top: 90px;width: 134px;height:38px;background-size: 134px 38px;cursor: pointer;}
        }
    }


    .top-tab-box{
        animation-fill-mode:both !important;opacity: 0;pointer-events: none;
        display: flex;flex-direction: row;align-items: center;
        position: fixed;right: 22px;top: 14px;width: 1420px;height: 50px;z-index: 666;
        .t-tab{
            height: 50px;background-repeat: no-repeat;display: flex;justify-content: center;font-size: 26px;cursor: pointer;
            span{margin-top: 10px;}
        }
    }
    .ring-box{
        animation-fill-mode:forwards !important;
        // left: -650px;
        position: fixed;top: 50%;margin-top: -650px;
        width: 1300px;height: 1300px;border-radius: 50%;z-index: 555;
        
    }


    .ring-home-box{
        position: absolute;left: 50%;top: 50%;margin-left: -475px;margin-top: -475px;
        width: 950px;height: 950px;
        #ring_home_back{
            animation-fill-mode:both !important;transform: scale(0,0);pointer-events: none;
            position: absolute;left: 50%;top: 50%;margin-left: -460px;margin-top: -450px;width: 945px;height: 935px;
        }
        .h-b-img{
            opacity: 0;
            position: absolute;left:50%;
            cursor: pointer;animation-fill-mode:both !important;background-repeat: no-repeat;pointer-events: none;
            .light-line-b{position: absolute;width: 54px;height: 130px;}
            .l0{top: 50px;left: 265px;}.l1{top: -35px;left: 270px;}
            .l2{top: 50px;left: 290px;}.l3{top: 50px;left: 266px;}
            .l4{top: 50px;left: 290px;}.l5{top: 76px;left: 288px;}
            .l6{top: 50px;left: 265px;}.l7{top: 10px;left: 252px;}
        }
        .h-m-img{
            opacity: 0;
            position: absolute;top: 50%;left: 50%;width: 218px;height: 151px;
            margin-left: -109px;margin-top: -285px;transform-origin: 109px 285px;
            background-size: 218px 151px;cursor: pointer;background-repeat: no-repeat;
            display: flex;align-items: center;justify-content: center;
            transform: scale(1,1);animation-fill-mode:both !important;
            .h-tab-t{display: flex;flex-direction: row;align-items: center;opacity:0.6;.t{font-size: 22px;margin-left: 10px;color: #a8dce5;}}
            .tab-active{position: absolute;right: 0;top: 0;z-index: -1;}
            .light-line{
                position: absolute;top: 35px;left: 159px;width: 54px;height: 130px;
            }
        }
        .h-m-img:before,.active:before{
            content: '';position: absolute;top: 0;left: 0;width: 218px;height: 151px;
            background-image:url('../../assets/dahome/56.png');background-size: 218px 151px;cursor: pointer;animation-fill-mode:both !important;background-repeat: no-repeat;
            display: flex;align-items: center;justify-content: center;
            opacity: 0;
        }
        .active:before{opacity: 1;}
        .h-m-img:hover:before{opacity: 1;}
    }

    .gif{
        animation-fill-mode:both !important;
        position: absolute;left: 50%;top: 50%;z-index: 333;width: 350px;height: 350px;margin-top: -175px;margin-left: -175px;mix-blend-mode: lighten;pointer-events: none;
    }

    .ring-sec-box{
        position: absolute;top: 0;left: 0;z-index: 333;
        width: 1300px;height: 1300px;border-radius: 50%;
        #ring_sec_background{
            animation-fill-mode:both !important;transform: scale(1,1);
            position: absolute;left: 50%;top: 50%;margin-left: -650px;margin-top: -650px;width: 1300px;height: 1300px;
        }
        .tab-box,.back{
            animation-fill-mode:forwards !important;
            position: absolute;top: 50%;left: 100%;margin-left: -319px;margin-top: -168px;width: 319px;height: 168px;transform-origin: -331px 168px;
            background-image:url('../../assets/erji/4.png');background-size: 319px 168px;cursor: pointer;background-repeat: no-repeat;
            .tab-t{display: flex;flex-direction: row;align-items: center;position: absolute;right: 70px;top: 84px;transform: rotate(-7.5deg);opacity:0.6;.t{font-size: 24px;margin-left: 10px;color: #a8dce5;}}
            .tab-active{position: absolute;right: 0;top: 0;z-index: -1;}
        }   
        .tab-box:before,.back:before,.active:before{
            content: '';position: absolute;top: 50%;left: 100%;margin-left: -332px;margin-top: -84px;width: 332px;height: 168px;transform-origin: -318px 168px;
            background-image:url('../../assets/erji/3.png');background-size: 332px 168px;z-index: -1;background-repeat: no-repeat;
            opacity: 0;
        }
        .active:before{opacity: 1;}
        .tab-box:hover:before,.back:hover:before{opacity: 1;}

        .back{transform:rotate(-53deg);animation:key_side_r_0_ 1.5s 0s ease-in;}
    }
    @keyframes key_side_r_0_{0% {transform: rotate(-203deg);}100% {transform: rotate(-53deg);}}


    .data-box{
        position: fixed;left: 508px;top: 80px;z-index: 222;width: 1390px;height: 970px;;
    }

    #component_box{
        animation-fill-mode:both !important;
    }

</style>
