<template>
    <div class="page-box flex-center pd20">
        <!-- thing -->
        <div style="position:fixed;top:77px;left:700px;z-index:99999999999;cursor: pointer;" @click="thingClick">main入口</div>
        <!-- 首页除圆环外内容 -->
        <div id="logo_back" class="logo—back"> 
            <img class="background" src="../../assets/dahome/1_1_1.png" alt="">
            <div class="top">
                <div class="mt20 flex-center"><img src="../../assets/m_title.png" alt=""></div>
            </div>
            <!-- 首页tab -->
            <div class="home-tab-box">
                <div class="t-tab" v-for="(v,i) in tabs" :key="i" @click="homeTabChange(i)"
                    :style="{
                        'background-image': `url(` + require(`../../assets/erji/${(i===3||i===4)?(tabIdx!==i?18:18):(tabIdx!==i?20:20)}.png`) + `)`,transform: `rotateY(${i<4?180:0}deg)`,
                        'background-size': `${(i===3||i===4)?170:160}px 50px`,width:`${(i===3||i===4)?170:160}px`,'margin-left':i===4?'526px':''}">
                    <span :style="{transform: `rotateY(${i<4?180:0}deg)`}">{{v.t}}</span>
                </div>
            </div>
            <!--首页数据-->
            <homeData></homeData>

        </div>

        <!-- 二级tab -->
        <div id="top_tab_box" class="top-tab-box">
            <div class="t-tab" v-for="(v,i) in tabs" :key="i" @click="tabChange(v.nowidx)"
                :style="{
                    'background-image': `url(` + require(`../../assets/erji/${i===0?(tabIdx!==i?18:19):(tabIdx!==i?20:21)}.png`) + `)`,
                    'background-size': `${i===0?205:188}px 50px`,width:`${i===0?205:188}px`}">
                <span>{{v.t}}</span>
            </div>
        </div>


        <!-- 圆环 -->
        <div id="ring_box" class="ring-box">
            <!-- 首页圆环 -->
            <div class="ring-home-box" v-if="component==='home'">
                <img id="ring_home_back" src="../../assets/dahome/18.png">
                <div :id="'b_scale_'+i" class="h-b-img" v-for="(v,i) in tabs" :key="i" :style="{'background-image': `url(` + tabBacks[i].h_b_img + `)`,transform:`rotate(${45*i}deg)`,width:`${tabBacks[i].h_b_w}px`,height:`${tabBacks[i].h_b_h}px`,'background-size': `${tabBacks[i].h_b_w}px ${tabBacks[i].h_b_h}px`, top:`${475-tabBacks[i].h_b_h}px`,'margin-left':`${-tabBacks[i].h_b_w/2}px`,'transform-origin': `${tabBacks[i].h_b_w/2}px ${tabBacks[i].h_b_h}px`}">
                    <img src="../../assets/dahome/55.png" :class="[`l${i}`,'light-line-b']" :style="{opacity:i==0||i==1||i==5||i==6||i==7?0.8:0.3}">
                    <img :src="require(`../../assets/dahome/${68+i}.png`)"  alt="">
                    <!-- <div class="svg-box"> 
                        <svg>
                            <g fill="none" stroke="#fff000" stroke-width="1">
                                <path id="path1" d="M378,37.59A495.93,495.93,0,0,0-.38,37.54"/>
                                <path id="path1" d="M14.81,56.09A495.93,495.93,0,0,1,393.19,56"/>
                           </g>
                            <text x="0" y="0" text-anchor="middle">
                                <textPath style="font-size:14px;fill:white;" startOffset="50%" xlink:href="#path1">123456789abcdef发式发生犯得上地方</textPath>
                            </text>
                        </svg>
                    </div> -->
                </div>
                 <!-- @click="homeTabChange(i)"  -->
                <div :id="'m_scale_'+i" :class="['h-m-img']" d v-for="(v,i) in tabs" :key="i" :style="{transform: `rotate(${45*(i-1)}deg)`}">
                    <img src="../../assets/dahome/55.png" class="light-line">
                    <img :usemap="`#planetmap${i}`" :src="v.h_m_img" class="tab-img">
                    <map :name="`planetmap${i}`" :id="`planetmap${i}`" >
                        <area class="area" style="background:#fff000" shape="poly" coords="0,24,41,8,109,0,175,8,218,24,163,151,55,151" @click="homeTabChange(i)">
                    </map>
                    <div class="h-tab-t" @click="homeTabChange(i)" :style="{opacity:v.nowidx===3?'0.6':'0.6','font-size':v.nowidx===3?'24px':'24px',transform:`rotateY(${i==4||i==5||i==6||i==7?180:0}deg) rotateX(${i==4||i==5||i==6||i==7?180:0}deg)`}">
                        <img :src="v.url||'../../assets/erji/8.png'">
                        <span class="t">{{v.t}}</span>
                    </div>
                </div>
                <!-- <div class="text-img"></div> -->
                <!-- <div v-for="(v,i) in tabs" :key="i"></div> -->
            </div>
            <!-- 二级页圆环 -->
            <div class="ring-sec-box" v-else-if="component!=='home'">
                <img id="ring_sec_background" src="../../assets/erji/2.png">
                <div id="tab_go_back" class="back" @click="back">
                    <div class="tab-t">
                        <img src="../../assets/erji/13.png">
                        <span class="t">返回上一级</span>
                    </div>
                </div>
                <div v-for="(v,i) in tabs" :key="i" :id="'side_rotate_'+i" :class="['tab-box', v.nowidx===3?'active':'']" :style="{transform:'rotate('+v.rotate+'deg)'}" @click="tabChange(v.nowidx)">
                    <div class="tab-t" :style="{opacity:v.nowidx===3?'1':'0.6','font-size':v.nowidx===3?'28px':'24px'}">
                        <img :src="v.url||'../../assets/erji/8.png'">
                        <span class="t">{{v.t}}-{{v.nowidx}}-{{i}}</span>
                    </div>
                </div>
            </div>
            <div class="css-gif-box" id="gif_anima">
                <img :class="`g-${i+1}`" :src="require(`../../assets/gif/${i+1}.png`)" v-for="(v,i) in 9" :key="i">
                <div class="clip-circcle"><img class="g-10" src="../../assets/gif/10.png"></div>
                <img :class="`g-1${i+1}`" :src="require(`../../assets/gif/1${i+1}.png`)" v-for="(v,i) in 5" :key="i">
            </div>
        </div>

        <!-- 右侧数据 -->
        <div class="data-box" ref="myRef">
            <!--人口统计-->
            <population id="component_box" v-if="component =='population'"/>
            <!--智慧安防-->
            <wisdom id="component_box" v-if="component =='wisdom'"/>
            <!--车辆进出-->
            <car id="component_box" v-if="component =='car'"/>
            <!--人员进出-->
            <user id="component_box" v-if="component =='user'"/>
            <!--视频监控-->
            <video1 id="component_box" v-if="component =='video'"/>
            <!--党建中心-->
            <party id="component_box" v-if="component =='party'"/>
            <!--民生服务-->
            <server id="component_box" v-if="component =='server'"/>
            <!--疫情防控-->
            <epidemic id="component_box" v-if="component =='epidemic'"/>
        </div>
    </div>
</template>
 
<script lang="ts">
    // 首页旋转出现 首页消失 大圆环左移 二级tab一起转出 二级页tab切换 二级页tab缩小消失 
    // 二级页切换样式
    let rotate_style = document.createElement('style');
    rotate_style.setAttribute('id',`rotate_style_keyframes`);
    rotate_style.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(rotate_style);

    // 其他公共样式
    let common_style = document.createElement('style');
    common_style.setAttribute('id',`common_style_keyframes`);
    common_style.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(common_style);

    import {defineComponent, reactive, ref} from 'vue';
    import homeData from "./homeData.vue";
    import population from "./population.vue";
    import wisdom from "./wisdom.vue";
    import user from "./user.vue";
    import car from "./car.vue";
    import video1 from "./video.vue";
    import party from "./party.vue";
    import server from "./server.vue";
    import epidemic from "./epidemic.vue";
    // import thing from '@/utils/thing'

    export default defineComponent({
        name: 'Datas',
        components: {population,wisdom,user,homeData,car,video1,party,server,epidemic},
        setup() {
            const myRef = ref(null);
            return reactive({
                myRef,
                component: 'home',
                m_cssTexts: [],
                b_cssTexts: [],
            })
        },
        data() {
            return {
                tabIdx: 3,
                tabBacks: [
                    {h_b_img:require('../../assets/dahome/37.png'),h_b_w:326,h_b_h:427},{h_b_img:require('../../assets/dahome/38.png'),h_b_w:296,h_b_h:387},
                    {h_b_img:require('../../assets/dahome/39.png'),h_b_w:350,h_b_h:458},{h_b_img:require('../../assets/dahome/40.png'),h_b_w:326,h_b_h:427},
                    {h_b_img:require('../../assets/dahome/41.png'),h_b_w:350,h_b_h:458},{h_b_img:require('../../assets/dahome/42.png'),h_b_w:359,h_b_h:470},
                    {h_b_img:require('../../assets/dahome/43.png'),h_b_w:326,h_b_h:427},{h_b_img:require('../../assets/dahome/44.png'),h_b_w:296,h_b_h:387}
                ],
                tabs: [
                    {t:'智慧安防',remark:'wisdom',url:require('../../assets/erji/5.png'),rotate:-38,nowidx:0,h_m_img:require('../../assets/dahome/45.png')},
                    {t:'人员进出',remark:'user',url:require('../../assets/erji/6.png'),rotate:-23,nowidx:1,h_m_img:require('../../assets/dahome/46.png')},
                    {t:'车辆进出',remark:'car',url:require('../../assets/erji/7.png'),rotate:-8,nowidx:2,h_m_img:require('../../assets/dahome/47.png')},
                    {t:'人口统计',remark:'population',url:require('../../assets/erji/8.png'),rotate:7,nowidx:3,h_m_img:require('../../assets/dahome/48.png')},
                    {t:'视频监控',remark:'video',url:require('../../assets/erji/9.png'),rotate:22,nowidx:4,h_m_img:require('../../assets/dahome/49.png')},
                    {t:'疫情防控',remark:'epidemic',url:require('../../assets/erji/10.png'),rotate:37,nowidx:5,h_m_img:require('../../assets/dahome/50.png')},
                    {t:'党建中心',remark:'party',url:require('../../assets/erji/11.png'),rotate:52,nowidx:6,h_m_img:require('../../assets/dahome/51.png')},
                    {t:'民生服务',remark:'server',url:require('../../assets/erji/12.png'),rotate:67,nowidx:7,h_m_img:require('../../assets/dahome/52.png')},
                ],
            }
        },
        watch:{
            component(e:any){
                console.log(e);
            }
        },
        mounted() {
            this.homeImgAnimation('small_to_big',true);
            let _script = document.createElement('script');
            _script.setAttribute('src','http://kq-community.server.zhhost.top/temp/thing.js');
            _script.setAttribute('type','text/javascript');
            document.getElementsByTagName('head')[0].appendChild(_script);

            this.getcameraData();

            window.addEventListener('message', function (e) {
                // alert(JSON.stringify(e));
            })
        },
        computed: {
        },
        methods: {
            // 获取列表
            getcameraData() {
                (this as any).axios.post('app/camera/list',{},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    console.log(e);
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            console.log('-');
                            
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            thingClick(){
                window.postMessage('possss','*');
                // eval("thing(0)");
            },
            // 首页动效
            homeImgAnimation(zoom:any,start:any){
                    let tabs = JSON.parse(JSON.stringify(this.tabs));
                    for (let i = 0; i < tabs.length; i++) {
                        if(start){
                            // 放大
                            const m_scale_01 = ` @keyframes key_m_scale_0_1${i}{0% {transform: rotate(0deg) scale(0,0);opacity: 0;}100% {transform: rotate(${45*(i-1)}deg) scale(1,1);opacity: 1;}}`;//动画从后往前执行 此处即scale到rotate
                            const b_scale_01 = ` @keyframes key_b_scale_0_1${i}{0% {transform: rotate(0deg) scale(0,0);opacity: 0;}100% {transform: rotate(${45*i}deg) scale(1,1);opacity: 1;}}`;
                            // 缩小
                            const m_scale_10 = ` @keyframes key_m_scale_1_0${i}{0% {transform: rotate(${45*(i-1)}deg) scale(1,1);opacity: 1;}100% {transform: rotate(0deg) scale(0,0);opacity: 0;}}`;//动画从后往前执行 此处即scale到rotate
                            const b_scale_10 = ` @keyframes key_b_scale_1_0${i}{0% {transform: rotate(${45*i}deg) scale(1,1);opacity: 1;}100% {transform: rotate(0deg) scale(0,0);opacity: 0;}}`;
                            
                            common_style.innerHTML += (m_scale_01 + b_scale_01 + m_scale_10 + b_scale_10);
                        }
                        let mScaleI = document.getElementById(`m_scale_${i}`);
                        let bScaleI = document.getElementById(`b_scale_${i}`);
                        if(start){
                            (this as any).m_cssTexts.push((mScaleI as any).style.cssText);
                            (this as any).b_cssTexts.push((bScaleI as any).style.cssText);
                            (mScaleI as any).style.cssText = this.m_cssTexts[i] + `animation: key_m_scale_0_1${i} ${(0.7+i*0.1).toFixed(1)}s 0s ease-in;`;
                            (bScaleI as any).style.cssText = this.b_cssTexts[i] + `animation: key_b_scale_0_1${i} ${(0.7+i*0.1).toFixed(1)}s 0.4s ease-in;`;
                        }else{
                            (mScaleI as any).style.cssText = '' + `animation: key_m_scale_0_1_99999 ${(0.7+i*0.1).toFixed(1)}s 0s ease-in;`;
                            (bScaleI as any).style.cssText = '' + `animation: key_b_scale_0_199999 ${(0.7+i*0.1).toFixed(1)}s 0.4s ease-in;`;
                            // setTimeout(()=>{
                                (mScaleI as any).style.cssText = this.m_cssTexts[i] + `animation: ${zoom==='small_to_big'?'key_m_scale_0_1':'key_m_scale_1_0'}${i} ${(0.7+i*0.1).toFixed(1)}s 0s ease-in;`;
                                (bScaleI as any).style.cssText = this.b_cssTexts[i] + `animation: ${zoom==='small_to_big'?'key_b_scale_0_1':'key_b_scale_1_0'}${i} ${(0.7+i*0.1).toFixed(1)}s 0.4s ease-in;`;
                            // },1);
                        }
                    }
                    // 首页背景线
                    if(start){
                        const r_b_scale_01 = ` @keyframes key_r_b_0_1{0% {transform: scale(0,0);}100% {transform: scale(1,1);}}`;
                        const r_b_scale_10 = ` @keyframes key_r_b_1_0{0% {transform: scale(1,1);}100% {transform: scale(0,0);}}`;
                        common_style.innerHTML += (r_b_scale_01 + r_b_scale_10);
                    }
                    const rScale = document.getElementById(`ring_home_back`);
                    if(start){
                        (rScale as any).style.cssText = `animation: key_r_b_0_1 0.7s 1.1s ease-in;`;
                    }else{
                        (rScale as any).style.cssText = `animation: key_r_scale_99999 0.7s 1.1s ease-in;`;
                        setTimeout(()=>{
                            (rScale as any).style.cssText = `animation: ${zoom==='small_to_big'?'key_r_b_0_1':'key_r_b_1_0'} 0.7s ${zoom==='small_to_big'?'1.1s':'0.5s'} ease-in;`;
                        },1);
                    }
                    // gif 添加gif动画样式
                    const gif_scale_01 = ` @keyframes key_gif_0_1{0% {transform: scale(1,1);}100% {transform: scale(1.7,1.7);}}`;
                    const gif_scale_10 = ` @keyframes key_gif_1_0{0% {transform: scale(1.7,1.7);}100% {transform: scale(1,1);}}`;
                    common_style.innerHTML += (gif_scale_01 + gif_scale_10);

                    // gif_anima
            },
            // git动画
            gifAnimation(zoom:any){
                const gifScale = document.getElementById(`gif_anima`);
                (gifScale as any).style.cssText = `animation: key_gif_0_1_999999 0.7s 0s ease-in;`;
                setTimeout(()=>{
                    (gifScale as any).style.cssText = `animation: ${zoom==='small_to_big'?'key_gif_0_1':'key_gif_1_0'} 0.7s 0s ease-in;`;
                },1);
            },
            // 点击首页tab
            async homeTabChange(n:any){
                let component_:any = this.tabs[n].remark;
                let tabs:any = [];
                let nowI:any = this.tabs[n].nowidx;
                if(nowI===3){
                    await this.ringBoxAnimation('r_l',true);
                    this.showHidden('logo_back',false,'0.2s','0s',true);
                    this.gifAnimation('small_to_big');
                    this.homeImgAnimation('big_to_small',false);
                    setTimeout(()=>{
                        this.component = component_;
                        this.showHidden('top_tab_box',true,'0.6s','0s',true);
                    },1000);
                    setTimeout(()=>{
                        this.showHidden('component_box',true,'0.6s','0s',true);
                        this.rBackAnimation('transform: scale(0,0);','transform: scale(1,1);','key_r_sec_b_01',rotate_style,true,'0.6s',0);
                        this.initialAnimation();
                    },1000);
                    return;
                }
                for (let i = 0; i < this.tabs.length; i++) {
                    let difN:any = 3 - nowI;//差值 相对与二级页选中的下标 3
                    let finalN:any = null;//替换后下标
                    if(i+difN>=0&&i+difN<=7){
                        finalN = i + difN;
                    }else{
                        finalN = i + difN + (difN<0?8:-8);
                    }
                    tabs[finalN] = JSON.parse(JSON.stringify((this as any).tabs[i]));
                    tabs[finalN].nowidx = finalN;
                    tabs[finalN].rotate = 7-15*(3-finalN);
                    
                }
                this.tabs = tabs;
                await this.ringBoxAnimation('r_l',true);
                this.showHidden('logo_back',false,'0.2s','0s',true);
                this.gifAnimation('small_to_big');
                this.homeImgAnimation('big_to_small',false);
                setTimeout(()=>{
                    this.component = component_;
                    this.showHidden('top_tab_box',true,'0.6s','0s',true);
                },1000);
                setTimeout(()=>{
                    this.showHidden('component_box',true,'0.6s','0s',true);
                    this.rBackAnimation('transform: scale(0,0);','transform: scale(1,1);','key_r_sec_b_01',rotate_style,true,'0.6s',0);
                    this.initialAnimation();
                },1000);
            },
            // 大圆环左右移动
            ringBoxAnimation(go:any,start:any){
                if(start){
                    const r_l = ` @keyframes key_ring_box_r_l{0% {left:310px;}100% {left:-650px;}}`;
                    const l_r = ` @keyframes key_ring_box_l_r{0% {left:-650px;}100% {left:310px;}}`;
                    common_style.innerHTML += (r_l + l_r);
                }
                let ringBox = document.getElementById(`ring_box`);
                if(go==='r_l'){
                    (ringBox as any).style.cssText = `animation: key_ring_box_r_l_9999 0.6s 0s ease-in;`;
                    setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (ringBox as any).style.cssText = `animation: key_ring_box_r_l 0.6s 0s ease-in;`;
                    },0);
                }else{
                    (ringBox as any).style.cssText = `animation: key_ring_box_l__9999 0.6s 0s ease-in;`;
                    // setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (ringBox as any).style.cssText = `animation: key_ring_box_l_r 0.6s 0s ease-in;`;
                    // },0);
                }
            },
            // 首页非圆环 消失
            showHidden(id:any,show:any,time:any,delay:any,start:any){
                // 这里应该公共配置的 先这样
                const hiddenKey = ` @keyframes dom_hidden{0% {opacity: 1;pointer-events: auto;}100% {opacity: 0;pointer-events: none;}}`;
                const showKey = ` @keyframes dom_show{0% {opacity: 0;pointer-events: none;}100% {opacity: 1;pointer-events: auto;}}`;
                common_style.innerHTML += (hiddenKey + showKey);

                let Dom = document.getElementById(id);
                (Dom as any).style.cssText = `animation: ${show?'dom_show':'dom_hidden'} ${time||'0s'} ${delay||'0s'} ease-in;`;
            },
            // 默认进入动效
            initialAnimation(){
                let tabs = JSON.parse(JSON.stringify(this.tabs));
                for (let i = 0; i < tabs.length; i++) {
                    const rotateKeyframes = ` @keyframes key_side_r_${i}{0% {transform: rotate(${-188+i*15}deg);opacity: 1;}100% {transform: rotate(${-38+i*15}deg);opacity: 1;}}`;
                    rotate_style.innerHTML += rotateKeyframes;
                    const sideRotateI = document.getElementById(`side_rotate_${i}`);
                    const cssText = (sideRotateI as any).style.cssText;
                    (sideRotateI as any).style.cssText = cssText + `animation: key_side_r_${i} ${(1.4-i*0.1).toFixed(1)}s 0s ease-in;`
                }
            },
            // 二级圆环动画
            rBackAnimation(from:any,to:any,keyframes:any,style:any,start:any,time:any,delay:any){// 需要放置到head里的styley样式对象 start 是否最开始
                const r_sec_b_Keyframes = `@keyframes ${keyframes}{0% {${from}}100% {${to}}}`;
                style.innerHTML += r_sec_b_Keyframes;
                const rsecB = document.getElementById(`ring_sec_background`);
                if(start){
                    (rsecB as any).style.cssText = `animation: ${keyframes} 0.6s 0s ease-in;`;
                }else{
                    (rsecB as any).style.cssText = `animation: ${keyframes+'_999999'} ${time} ${delay||'0s'} ease-in;`;
                    setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (rsecB as any).style.cssText = `animation: ${keyframes} ${time} ${delay||'0s'} ease-in;`;
                    },1);
                }
            },
            // 点击二级页tab
            tabChange(i:any){
                (rotate_style as any).innerHTML = '';
                this.tabIdx = this.tabs.findIndex((v:any)=>v.nowidx==i);
                this.component = this.tabs[this.tabIdx].remark;
                let idx = 3 - i; //<0逆时针转  >0顺时针转
                console.log(idx);
                console.log(this.tabs);
                
                
                if(idx===0){return;}
                console.log(idx);
                let tabs = JSON.parse(JSON.stringify(this.tabs));
                for (let k = 0; k < tabs.length; k++) {
                    let n = idx<0?tabs.findIndex((v:any)=>v.nowidx==k):tabs.findIndex((v:any)=>v.nowidx==tabs.length-1-k);
                     
                    let m = this.tabs[n].nowidx;
                    let rotate = this.tabs[n].rotate;
                    if(m+idx<0&&idx<0){//<0逆时针转
                        this.tabs[n].rotate = rotate - 240 + idx*15;
                        this.tabs[n].nowidx = m + idx + 8;
                        this.setAnimation(n,-k,rotate,this.tabs[n].rotate);
                        continue;
                    }else if(m+idx>7&&idx>0){//>0顺时针转
                        this.tabs[n].rotate = rotate + 240 + idx*15;
                        this.tabs[n].nowidx = m + idx - 8;
                        this.setAnimation(n,-k,rotate,this.tabs[n].rotate);// 第二个参数本来应该是tabs.length-1-k 为-k是为了保证转到另一端的元素不与其他元素重叠
                        continue;
                    }
                    this.tabs[n].rotate = rotate + idx*15;
                    this.tabs[n].nowidx = m+idx;
                    this.setAnimation(n,tabs.length-1-k,rotate,this.tabs[n].rotate);
                }
            },
            // 点击设置动效
            setAnimation(domI:any,runI:any,from:any,to:any){//domI 当前设置元素的下标 runI 运动排序下标越大表示最先运动  注意两个下标不要搞混 
                const rotateKeyframes = `@keyframes key_side_r_${domI}{0% {transform: rotate(${from}deg);opacity: 1;}100% {transform: rotate(${to}deg);opacity: 1;}}`;
                rotate_style.innerHTML += rotateKeyframes;
                const sideRotateI = document.getElementById(`side_rotate_${domI}`);
                (sideRotateI as any).style.cssText = `transform:rotate(${to}deg);animation: key_side_r_99999 ${(1.4-runI*0.2).toFixed(1)}s 0s ease-in;`;
                setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                    (sideRotateI as any).style.cssText = `transform:rotate(${to}deg);animation: key_side_r_${domI} ${(1.4-runI*0.1).toFixed(1)}s 0s ease-in;`;
                },1);
            },
            // 二级页tab缩小
            tabScaleAnimation(){
                // return
                for (let i = 0; i < this.tabs.length; i++) {
                    let n = this.tabs.findIndex((v:any)=>v.nowidx==(this.tabs.length-1-i));
                    const tabScaleKeyframes = `@keyframes  key_tab_sc_${n}{0%{transform: rotate(${this.tabs[n].rotate}deg) scale(1,1);}100%{transform: rotate(${this.tabs[n].rotate}deg) scale(0,0);}}`;
                    common_style.innerHTML += tabScaleKeyframes;
                    const sideRotateI = document.getElementById(`side_rotate_${n}`);
                    (sideRotateI as any).style.cssText = `transform:rotate(${this.tabs[n].rotate}deg);animation: key_tab_sc_99999 ${(1.4-n*0.1).toFixed(1)}s 0s ease-in;`;
                    setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                        (sideRotateI as any).style.cssText = `transform:rotate(${this.tabs[n].rotate}deg);animation: key_tab_sc_${n} ${(1.0-(this.tabs.length-1-i)*0.1).toFixed(1)}s 0s ease-in;`;
                    },1);
                }
                // 返回tab缩小
                const tabGobackScaleKeyframes = `@keyframes  key_goback_sc{0%{transform: rotate(-53deg) scale(1,1);}100%{transform: rotate(-53deg) scale(0,0);}}`;
                common_style.innerHTML += tabGobackScaleKeyframes;
                const goBack = document.getElementById(`tab_go_back`);
                (goBack as any).style.cssText = `transform: rotate(-53deg);animation: key_goback_sc_999999 1.5s 0s ease-in;`;
                setTimeout(()=>{//直接配置不会生效 先随便配置 1ms后立刻配置即会生效
                    (goBack as any).style.cssText = `transform: rotate(-53deg);animation: key_goback_sc 1s 0s ease-in;`;
                },1);
                // 二级圆环缩小
                this.rBackAnimation('transform: scale(1,1);','transform: scale(0,0);','key_r_sec_b_10',common_style,false,'1s','0s');
            },
            back(){
                this.showHidden('top_tab_box',false,'0.2s','0s',true);
                this.showHidden('component_box',false,'0.2s','0s',true);
                this.showHidden('logo_back',true,'0.6s','0.5s',true);
                this.ringBoxAnimation('l_r',false);
                this.gifAnimation('to_big_small');
                this.tabScaleAnimation();
                setTimeout(()=>{
                    this.component = 'home';
                },1050);
                setTimeout(()=>{
                    this.homeImgAnimation('small_to_big',false);
                },1050);
            },
        }
    });
</script>

<style lang="scss" scoped>
    .text-img{
        position: absolute;top: 50%;left: 50%;width: 710px;height: 710px;margin-left: -355px;margin-top: -355px;
        background-image: url('../../assets/dahome/67.png');background-size: 710px 710px;
    }
    .svg-box{
        position: absolute;top: 10px;left: 50%;margin-left: -200px; z-index: 99999;
        svg{width:400px;height:60px;
        // background: rgba(255,255,255,0.1);
        }
    }

    .flex-center{display: flex;align-items: center;justify-content: center;}
    .flex-row-center{display: flex;flex-direction: row;align-items: center;}
    .flex-column-center{display: flex;flex-direction: column;align-items: center;}
    .page-box {
        height: 100vh;width: 100vw;
        background: #000;color: #c5e2ff;
    }

    .logo—back{
        z-index: 777;animation-fill-mode:both !important;
        .background{position: fixed;top: 0;right: 0;bottom: 0;left:0;pointer-events: none;}
        .top{position: fixed;top: 0;left: 0;width: 1920px;pointer-events: none;}
        .home-tab-box{
            display: flex;flex-direction: row;align-items: center;
            position: fixed;top: 20px;left:35px;width: 1850px;height: 60px;
            .t-tab{
                height: 50px;background-repeat: no-repeat;display: flex;justify-content: center;font-size: 26px;cursor: pointer;
                span{margin-top: 10px;}
            }

        }
    }


    .top-tab-box{
        animation-fill-mode:both !important;opacity: 0;pointer-events: none;
        display: flex;flex-direction: row;align-items: center;
        position: fixed;left: 380px;top: 14px;width: 1500px;height: 50px;z-index: 666;
        .t-tab{
            height: 50px;background-repeat: no-repeat;display: flex;justify-content: center;font-size: 26px;cursor: pointer;
            span{margin-top: 10px;}
        }
    }
    .ring-box{
        animation-fill-mode:forwards !important;
        left: 310px;
        position: fixed;top: 50%;margin-top: -640px;
        width: 1300px;height: 1300px;border-radius: 50%;z-index: 555;transform: scale(0.8,0.8);
        .css-gif-box{
            animation-fill-mode:both !important;
            position: absolute;left: 50%;top: 50%;z-index: 333;width: 350px;height: 350px;margin-top: -175px;margin-left: -175px;mix-blend-mode: lighten;pointer-events: none;
            .g-1{
                position: absolute;top: 50%;left: 50%;margin-top: -150px;margin-left: -150px;
                animation: g1 12s linear 0s infinite;
            }
            .g-2{
                position: absolute;top: 50%;left: 50%;margin-top: -130px;margin-left: -130px;
                animation: g2 12s linear 0s infinite;
            }
            .g-3{
                position: absolute;top: 50%;left: 50%;margin-top: -116px;margin-left: -116px;
                animation: g3 12s linear 0s infinite;
            }
            .g-4{
                position: absolute;top: 50%;left: 50%;margin-top: -100px;margin-left: -100px;
                animation: g4 14s linear 0s infinite;
            }
            .g-5{
                position: absolute;top: 50%;left: 50%;margin-top: -80px;margin-left: -80px;
                animation: g5 14s linear 0s infinite;
            }
            .g-6{
                position: absolute;top: 50%;left: 50%;margin-top: -73px;margin-left: -73px;
                animation: g6 14s linear 0s infinite;
            }
            .g-7{
                position: absolute;top: 50%;left: 50%;margin-top: -64px;margin-left: -64px;
                animation: g7 14s linear 0s infinite,g7_op 14s linear 0s infinite;
            }
            .g-8{
                position: absolute;top: 50%;left: 50%;margin-top: -53px;margin-left: -53px;
            }
            .g-9{
                position: absolute;top: 50%;left: 50%;margin-top: -110px;margin-left: -110px;mix-blend-mode: lighten;
            }
            .clip-circcle{
                position: absolute;top: 50%;left: 50%;margin-top: -52px;margin-left: -52px;width: 104px;height: 104px;overflow: hidden; clip-path: circle(50%);mix-blend-mode: lighten;
                .g-10{
                    position: absolute;top: 0;left: 0;mix-blend-mode: lighten;
                    animation: g10 18s linear 0s infinite;
                }
            }
            .g-11{
                position: absolute;left: 50%;top: 0;margin-left: -17px; transform-origin: 17px 150px;transform: rotate(-10deg);
                animation: g11 12s linear 0s infinite;
            }
            .g-12{
                position: absolute;left: 50%;top: 0;margin-left: -16px; transform-origin: 16px 150px;transform: rotate(-95deg);
                animation: g12 12s linear 0s infinite;
            }
            .g-13{
                position: absolute;left: 50%;top: 0;margin-left: -15px; transform-origin: 15px 150px;transform: rotate(180deg);
                animation: g13 12s linear 0s infinite;
            }
            .g-14{
                position: absolute;left: 50%;top: 0;margin-left: -16px; transform-origin: 16px 150px;transform: rotate(120deg);
                animation: g14 12s linear 0s infinite;
            }
            .g-15{
                position: absolute;left: 50%;top: 0;margin-left: -15px; transform-origin: 15px 150px;transform: rotate(105deg);
                animation: g15 12s linear 0s infinite;
            }
        }
    }
    @keyframes g1{0%{transform: rotate(0deg);}40%{transform: rotate(-164deg);}80%{transform: rotate(-288deg);}100%{transform: rotate(-360deg);}}
    @keyframes g2{0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
    @keyframes g3{0%{transform: rotate(0deg);}100%{transform: rotate(-360deg);}}
    @keyframes g4{0%{transform: rotate(0deg);}40%{transform: rotate(184deg);}80%{transform: rotate(288deg);}100%{transform: rotate(360deg);}}
    @keyframes g5{0%{transform: rotate(0deg);}40%{transform: rotate(-184deg);}80%{transform: rotate(-288deg);}100%{transform: rotate(-360deg);}}
    @keyframes g6{0%{transform: rotate(0deg);}40%{transform: rotate(104deg);}80%{transform: rotate(288deg);}100%{transform: rotate(360deg);}}
    @keyframes g7{0%{transform: rotate(0deg);}40%{transform: rotate(-174deg);}80%{transform: rotate(-288deg);}100%{transform: rotate(-360deg);}}
    @keyframes g7_op{0%{opacity: 0.6;}10%{opacity: 1;}20%{opacity: 0.6;}30%{opacity: 1;}40%{opacity: 0.6;}50%{opacity: 1;}60%{opacity: 0.6;}70%{opacity: 1;}80%{opacity: 0.6;}90%{opacity: 1;}100%{opacity: 0.6;}}
    @keyframes g10{
        0%{top:-212px;transform: rotate(0deg);}
        1%{top:-106px;transform: rotate(0deg);}
        49%{top: 106px;transform: rotate(0deg);}
        50%{top: 212px;transform: rotate(0deg);}
        51%{top: 212px;transform: rotate(180deg);}
        52%{top: 106px;transform: rotate(180deg);}
        99%{top: -106px;transform: rotate(180deg);}
        100%{top: -212px;transform: rotate(180deg);}
    }
    @keyframes g11{
        0%{opacity: 0.4;transform: rotate(-10deg) scale(0.95,0.95);}
        10%{opacity: 0.7;transform: rotate(-46deg) scale(1,1);}
        20%{opacity: 0.4;transform: rotate(-82deg) scale(0.95,0.96);}
        30%{opacity: 0.7;transform: rotate(-118deg) scale(1,1);}
        40%{opacity: 0.4;transform: rotate(-154deg) scale(0.95,0.95);}
        50%{opacity: 0.7;transform: rotate(-190deg) scale(1,1);}
        60%{opacity: 0.4;transform: rotate(-216deg) scale(0.95,0.95);}
        70%{opacity: 0.7;transform: rotate(-252deg) scale(1,1);}
        80%{opacity: 0.4;transform: rotate(-298deg) scale(0.95,0.95);}
        90%{opacity: 0.7;transform: rotate(-334deg) scale(1,1);}
        100%{opacity: 0.4;transform: rotate(-370deg) scale(0.95,0.95);}}
    @keyframes g12{
        0%{opacity: 0.4;transform: rotate(-95deg) scale(0.95,0.95);}
        10%{opacity: 0.7;transform: rotate(-141deg) scale(1,1);}
        20%{opacity: 0.4;transform: rotate(-177deg) scale(0.95,0.96);}
        30%{opacity: 0.7;transform: rotate(-213deg) scale(1,1);}
        40%{opacity: 0.4;transform: rotate(-249deg) scale(0.95,0.95);}
        50%{opacity: 0.7;transform: rotate(-285deg) scale(1,1);}
        60%{opacity: 0.4;transform: rotate(-321deg) scale(0.95,0.95);}
        70%{opacity: 0.7;transform: rotate(-357deg) scale(1,1);}
        80%{opacity: 0.4;transform: rotate(-393deg) scale(0.95,0.95);}
        90%{opacity: 0.7;transform: rotate(-419deg) scale(1,1);}
        100%{opacity: 0.4;transform: rotate(-455deg) scale(0.95,0.95);}}
    @keyframes g13{
        0%{opacity: 0.4;transform: rotate(180deg) scale(0.95,0.95);}
        10%{opacity: 0.7;transform: rotate(144deg) scale(1,1);}
        20%{opacity: 0.4;transform: rotate(108deg) scale(0.95,0.96);}
        30%{opacity: 0.7;transform: rotate(72deg) scale(1,1);}
        40%{opacity: 0.4;transform: rotate(36deg) scale(0.95,0.95);}
        50%{opacity: 0.7;transform: rotate(0deg) scale(1,1);}
        60%{opacity: 0.4;transform: rotate(-36deg) scale(0.95,0.95);}
        70%{opacity: 0.7;transform: rotate(-72deg) scale(1,1);}
        80%{opacity: 0.4;transform: rotate(-108deg) scale(0.95,0.95);}
        90%{opacity: 0.7;transform: rotate(-144deg) scale(1,1);}
        100%{opacity: 0.4;transform: rotate(-180deg) scale(0.95,0.95);}}
    @keyframes g14{
        0%{opacity: 0.4;transform: rotate(120deg) scale(0.95,0.95);}
        10%{opacity: 0.7;transform: rotate(84deg) scale(1,1);}
        20%{opacity: 0.4;transform: rotate(48deg) scale(0.95,0.96);}
        30%{opacity: 0.7;transform: rotate(12deg) scale(1,1);}
        40%{opacity: 0.4;transform: rotate(-24deg) scale(0.95,0.95);}
        50%{opacity: 0.7;transform: rotate(-60deg) scale(1,1);}
        60%{opacity: 0.4;transform: rotate(-96deg) scale(0.95,0.95);}
        70%{opacity: 0.7;transform: rotate(-132deg) scale(1,1);}
        80%{opacity: 0.4;transform: rotate(-168deg) scale(0.95,0.95);}
        90%{opacity: 0.7;transform: rotate(-204deg) scale(1,1);}
        100%{opacity: 0.4;transform: rotate(-240deg) scale(0.95,0.95);}}
    @keyframes g15{
        0%{opacity: 0.4;transform: rotate(105deg) scale(0.95,0.95);}
        10%{opacity: 0.7;transform: rotate(69deg) scale(1,1);}
        20%{opacity: 0.4;transform: rotate(33deg) scale(0.95,0.96);}
        30%{opacity: 0.7;transform: rotate(-3deg) scale(1,1);}
        40%{opacity: 0.4;transform: rotate(-39deg) scale(0.95,0.95);}
        50%{opacity: 0.7;transform: rotate(-75deg) scale(1,1);}
        60%{opacity: 0.4;transform: rotate(-111deg) scale(0.95,0.95);}
        70%{opacity: 0.7;transform: rotate(-147deg) scale(1,1);}
        80%{opacity: 0.4;transform: rotate(-183deg) scale(0.95,0.95);}
        90%{opacity: 0.7;transform: rotate(-219deg) scale(1,1);}
        100%{opacity: 0.4;transform: rotate(-255deg) scale(0.95,0.95);}}
    .ring-home-box{
        position: absolute;left: 50%;top: 50%;margin-left: -475px;margin-top: -475px;
        width: 950px;height: 950px;
        #ring_home_back{
            animation-fill-mode:both !important;transform: scale(0,0);pointer-events: none;
            position: absolute;left: 50%;top: 50%;margin-left: -460px;margin-top: -450px;width: 945px;height: 935px;
        }
        .h-b-img{
            opacity: 0;
            position: absolute;left:50%;
            cursor: pointer;animation-fill-mode:both !important;background-repeat: no-repeat;
            .light-line-b{position: absolute;width: 54px;height: 130px;}
            .l0{top: 50px;left: 265px;}.l1{top: -35px;left: 270px;}
            .l2{top: 50px;left: 290px;}.l3{top: 50px;left: 266px;}
            .l4{top: 50px;left: 290px;}.l5{top: 76px;left: 288px;}
            .l6{top: 50px;left: 265px;}.l7{top: 10px;left: 252px;}
        }
        .h-m-img{
            opacity: 0;
            position: absolute;top: 50%;left: 50%;width: 218px;height: 151px;
            margin-left: -109px;margin-top: -285px;transform-origin: 109px 285px;
            background-size: 218px 151px;cursor: pointer;background-repeat: no-repeat;
            display: flex;align-items: center;justify-content: center;
            transform: scale(1,1);animation-fill-mode:both !important;
            .tab-img{position: absolute;left: 0;top: 0;}
            .h-tab-t{display: flex;flex-direction: row;align-items: center;opacity:0.6;.t{font-size: 22px;margin-left: 10px;color: #a8dce5;}}
            .tab-active{position: absolute;right: 0;top: 0;z-index: -1;}
            .light-line{
                position: absolute;top: 35px;left: 159px;width: 54px;height: 130px;
            }
        }
        .h-m-img:before,.active:before{
            content: '';position: absolute;top: 0;left: 0;width: 218px;height: 151px;
            background-image:url('../../assets/dahome/56.png');background-size: 218px 151px;cursor: pointer;animation-fill-mode:both !important;background-repeat: no-repeat;
            display: flex;align-items: center;justify-content: center;
            opacity: 0;
        }
        .active:before{opacity: 1;}
        .h-m-img:hover:before{opacity: 1;}
        .area::before{background: #fff000;}
    }


    .ring-sec-box{
        position: absolute;top: 0;left: 0;z-index: 333;
        width: 1300px;height: 1300px;border-radius: 50%;
        #ring_sec_background{
            animation-fill-mode:both !important;transform: scale(1,1);
            position: absolute;left: 50%;top: 50%;margin-left: -650px;margin-top: -650px;width: 1300px;height: 1300px;
        }
        .tab-box,.back{
            animation-fill-mode:forwards !important;
            position: absolute;top: 50%;left: 100%;margin-left: -319px;margin-top: -168px;width: 319px;height: 168px;transform-origin: -331px 168px;
            background-image:url('../../assets/erji/4.png');background-size: 319px 168px;cursor: pointer;background-repeat: no-repeat;
            .tab-t{display: flex;flex-direction: row;align-items: center;position: absolute;right: 70px;top: 84px;transform: rotate(-7.5deg);opacity:0.6;.t{font-size: 24px;margin-left: 10px;color: #a8dce5;}}
            .tab-active{position: absolute;right: 0;top: 0;z-index: -1;}
        }   
        .tab-box:before,.back:before,.active:before{
            content: '';position: absolute;top: 50%;left: 100%;margin-left: -332px;margin-top: -84px;width: 332px;height: 168px;transform-origin: -318px 168px;
            background-image:url('../../assets/erji/3.png');background-size: 332px 168px;z-index: -1;background-repeat: no-repeat;
            opacity: 0;
        }
        .active:before{opacity: 1;}
        .tab-box:hover:before,.back:hover:before{opacity: 1;}

        .back{transform:rotate(-53deg);animation:key_side_r_0_ 1.5s 0s ease-in;}
    }
    @keyframes key_side_r_0_{0% {transform: rotate(-203deg);}100% {transform: rotate(-53deg);}}


    .data-box{
        position: fixed;left: 410px;top: 80px;z-index: 222;width: 1470px;height: 760px;;
    }

    #component_box{
        animation-fill-mode:both !important;
    }

</style>
