<template>
    <div class="components-box">
        <div class="left-1">
            <span class="title">党员结构介绍</span>
        </div>
        <div class="left-2">
            <div id="wisdom_left2_house_D1" class="left2-house-D1"></div>
            <div id="wisdom_left2_house_D2" class="left2-house-D2"></div>
        </div>
        <div class="left-3">
            <span class="title">在册党员情况</span>
            <div id="wisdom_left3_often_D" class="left3-often-D flex-center"></div>
        </div>
        <div class="right-1">
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive,  getCurrentInstance} from 'vue';

   // 引入 echarts 核心模块，核心模块提供了 echarts 使用必须要的接口。
    import * as echarts from 'echarts/core';
    // 引入柱状图图表，图表后缀都为 Chart
    import { BarChart, PieChart, GaugeChart } from 'echarts/charts';
    // 引入提示框，标题，直角坐标系，数据集，内置数据转换器组件，组件后缀都为 Component
    import {
        TitleComponent,
        TooltipComponent,
        GridComponent,
        LegendComponent,
        DatasetComponent,
        TransformComponent
    } from 'echarts/components';
    // 标签自动布局，全局过渡动画等特性
    import { LabelLayout, UniversalTransition } from 'echarts/features';
    // 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
    import { CanvasRenderer } from 'echarts/renderers';
    // 注册必须的组件
    echarts.use([
        TitleComponent,TooltipComponent,LegendComponent,
        GridComponent,DatasetComponent,TransformComponent,
        LabelLayout,UniversalTransition,CanvasRenderer,BarChart,PieChart,GaugeChart,
    ]);
    export default defineComponent({
        name: "wisdom",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
                yangans: [{t:'总监测水压数',num:'4563'},{t:'异常数',num:'6'},{t:'总烟感数',num:'456'},{t:'异常',num:'1'}],
            }
        },
        mounted() {
            this.getLeft2Datas();
            this.getLeft3Datas();
        },
        watch: {
        },

        methods: {
            createChart(opt:any,id:any){
                const myChart = echarts.init((document as any).getElementById(id),'dark');
                myChart.setOption(opt)
            },
            // 获取数据
            getLeft2Datas(){
                let option1 = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        name: '党员人数',
                        type: 'pie',
                        data: [
                            {
                            value: 335,
                            name: '正式党员'
                            },
                            {
                            value: 234,
                            name: '预备党员'
                            },
                            {
                            value: 1548,
                            name: '群众'
                            },
                            {
                            value: 1548,
                            name: '其他'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                let option2 = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        name: '党龄',
                        type: 'pie',
                        data: [
                            {
                            value: 3456,
                            name: '<1年党龄'
                            },
                            {
                            value: 345,
                            name: '1~3党龄'
                            },
                            {
                            value: 943,
                            name: '3~10党龄'
                            },
                            {
                            value: 241,
                            name: '>10党龄'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                this.createChart(option1,'wisdom_left2_house_D1');
                this.createChart(option2,'wisdom_left2_house_D2');
            },
            // 获取数据
            getLeft3Datas(){
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                        type: 'shadow'
                        }
                    },
                    legend: {},
                    grid: {
                        left: '0%',
                        right: '0%',
                        bottom: '0%',
                        top: '40px',
                        containLabel: true
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    xAxis: {
                        type: 'category',
                        data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
                    },
                    series: [
                        {
                        name: '在册党员数',
                        type: 'bar',
                        data: [40, 35, 20, 85, 51, 63]
                        },
                        {
                        name: '发展联审',
                        type: 'bar',
                        data: [40, 35, 20, 85, 51, 63]
                        },
                        {
                        name: '非党员',
                        type: 'bar',
                        data: [40, 35, 20, 85, 51, 63]
                        }
                    ]
                };
                this.createChart(option,'wisdom_left3_often_D');
            },
        }
    })
</script>

<style lang="scss" scoped>
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 26px;top: 10px;width: 940px;height: 174px;
        background-image:url('../../assets/3p/14_1.png');background-size: 940px 174px;animation:scaleAni .4s linear;animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 50px;margin-left: 50px;display: block;width: 90%;text-align: left;
        }
    }
    .left-2{
        position: absolute;left: 119px;top: 177px;width: 852px;height: 254px;
        background-image:url('../../assets/3p/15_1.png');background-size: 852px 254px;
        animation:scaleAni .4s linear;
        animation-delay:.2s;animation-iteration-count:1;
        .left2-house-D1{
            position: absolute;left: 48px;top:48px;width: 390px;height: 170px;
        }
        .left2-house-D2{
            position: absolute;left: 438px;top:48px;width: 390px;height: 170px;
        }
    }
    .left-3{
        position: absolute;left: 60px;top: 430px;width: 908px;height: 340px;
        background-image:url('../../assets/3p/16_1.png');background-size: 908px 340px;
        animation:scaleAni .4s linear;
        animation-delay:.3s;animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 50px;margin-left: 106px;display: block;width: 90%;text-align: left;
        }
        .left3-often-D{
            position: absolute;left: 100px;top:52px;width: 780px;height: 236px;  
        }
    }
    .right-1{
        position: absolute;right: 0px;top: 0;width: 490px;height: 760px;overflow: hidden;padding: 10px;box-sizing: border-box;
        background-image:url('../../assets/erji/17_1.png');background-size: 490px 760px;
        animation:scaleAni .4s linear;
        animation-delay:.4s;
        animation-iteration-count:1;
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>