<template>
    <div class="components-box">
        <div class="left-1"></div>
        <div class="left-2"></div>
        <div class="left-3"></div>
        <div class="right-1">
            <span class="title">人口统计</span>
            <div class="subTitle">人员结构数据</div>
            <div class="peopleData">
                <div>
                    <span>总人口</span>
                    <span>8433</span>
                    <img src='../../assets/renkou/04.png' alt=""/>
                </div>
                <div>
                    <span>常住人口</span>
                    <span>8433</span>
                </div>
                <div>
                    <span>流动人口</span>
                    <span>8433</span>
                </div>
                <div>
                    <span>重点人群</span>
                    <span>0</span>
                </div>
            </div>
            <div class="chart1">
                <div class="chartTitle">不同年龄段人口比例</div>
                <div class="chartInfo">
                    <div class="l" id = 'l' >

                    </div>
                    <div class="r"  id = 'r'></div>
                </div>
            </div>
            <div class="chart2">
                <div class="chartTitle">不同年龄段男女比例</div>
                <div class="chartInfo" id="sex">

                </div>
            </div>
            <!-- <div class="subTitle" style="margin-top: 0">人员进出数据</div>
            <div class="chart3 liInfo2">
                    <div class="li2Top">
                        <div class="li2L">

                        </div>
                        <div class="li2R">
                            <div class="li2RTitle">2021-10-01 星期四 10：01：01</div>
                            <div class="li2RCon">
                                <p><span>今日人流总数</span>  <b>329</b></p>
                                <p><span>今日外出总数</span> <b>39</b></p>
                                <p><span>今日进入总数</span> <b>139</b></p>
                            </div>
                            <div class="li2RChart">
                                <div class="li2RChartL"></div>
                                <div class="li2RChartR"></div>
                            </div>
                        </div>
                    </div>
                    <div class="li2Bot">
                        <div class="pre">
                            <img src="../../assets/renkou/06.png" alt="">
                        </div>
                        <div class="li2Con">
                            <div class="li2ConBox">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                        <div class="next"><img src="../../assets/renkou/06.png" alt=""></div>
                    </div>
            </div> -->
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive,  getCurrentInstance} from 'vue';
    export default defineComponent({
        name: "population",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            let obj:any = {
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '18',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: [
                            { value: 1048, name: 'Search Engine' },
                            { value: 735, name: 'Direct' },
                            { value: 580, name: 'Email' },
                            { value: 484, name: 'Union Ads' },
                            { value: 300, name: 'Video Ads' }
                        ]
                    }
                ]
            };
            this.createChart(obj,'l');

            let obj1:any = {
                tooltip: {
                    trigger: 'item'
                },

                series: [
                    {
                        name: 'Access From',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '18',
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },
                        data: [
                            { value: 1048, name: 'Search Engine' },
                            { value: 735, name: 'Direct' },
                            { value: 580, name: 'Email' },
                            { value: 484, name: 'Union Ads' },
                            { value: 300, name: 'Video Ads' }
                        ]
                    }
                ]
            };
            this.createChart(obj1,'r');
            let obj2:any =  {
                tooltip: {},
                grid: { top: '5%', left: '3%', right: '3%', bottom: '3%', containLabel: true },
                dataset: {
                    source: [
                        ['product', '2015', '2016', '2017'],
                        ['Matcha Latte', 43.3, 85.8, 93.7],
                        ['Milk Tea', 83.1, 73.4, 55.1],
                        ['Cheese Cocoa', 86.4, 65.2, 82.5],
                        ['Walnut Brownie', 72.4, 53.9, 39.1]
                    ]
                },
                xAxis: { type: 'category' },
                yAxis: {},
                // Declare several bar series, each will be mapped
                // to a column of dataset.source by default.
                series: [{ type: 'bar' }, { type: 'bar' }, { type: 'bar' }]
            };
            this.createChart(obj2,'sex');
        },
        watch: {
        },

        methods: {
            createChart(opt:any,id:any){
                const { ctx } :any = getCurrentInstance();
                const myChart = ctx.echarts.init(document.getElementById(id));
                myChart.setOption(opt)
            }
        }
    })
</script>

<style lang="scss" scoped>
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 26px;top: 10px;width: 940px;height: 174px;
        background-image:url('../../assets/3p/14_1.png');background-size: 940px 174px;animation:scaleAni .4s linear;animation-iteration-count:1;
    }
    .left-2{
        position: absolute;left: 119px;top: 177px;width: 852px;height: 254px;
        background-image:url('../../assets/3p/15_1.png');background-size: 852px 254px;
        animation:scaleAni .4s linear;
        animation-delay:.2s;animation-iteration-count:1;
    }
    .left-3{
        position: absolute;left: 60px;top: 430px;width: 908px;height: 340px;
        background-image:url('../../assets/3p/16_1.png');background-size: 908px 340px;
        animation:scaleAni .4s linear;
        animation-delay:.3s;animation-iteration-count:1;
    }
    .right-1{
        position: absolute;right: 0px;top: 0;width: 490px;height: 760px;overflow: hidden;padding: 10px;box-sizing: border-box;
        background-image:url('../../assets/erji/17_1.png');background-size: 490px 760px;
        animation:scaleAni .4s linear;
        animation-delay:.4s;
        animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;margin-left: 10px;display: block;width: 90%;text-align: left;
        }
        .subTitle{
            width: 180px;height: 30px;margin: 60px auto 20px auto;line-height: 40px;text-align: center;color: #fff;font-size: 18px;
            background-image: url("../../assets/renkou/02.png");background-size: 180px 30px;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;
        }
        .peopleData{
            width: calc(100% - 20px);box-sizing: border-box;margin: 20px auto;
            height: 90px;display: flex;justify-content: space-between;border: 1px solid rgb(55,80,113);
            div{
                width: 25%;height: calc(100% - 20px);position: relative;background-color: rgb(37,42,56);padding-top: 20px;
                span{
                    width: 100%;text-align: center;display: block;
                }
                span:nth-of-type(2){
                    font-size: 28px;font-weight: bold;color: rgb(76,232,243);
                }
                img{
                    position: absolute;right: 10px;bottom: 24px;width: 12px;height: 18px;
                }
            }
        }
        .chart1{
            width: calc(100% - 20px);box-sizing: border-box;margin: 20px auto;
            height: 200px;border: 1px solid rgb(55,80,113);
        }
        .chart2{
            width: calc(100% - 20px);box-sizing: border-box;margin: 20px auto;
            height: 200px;border: 1px solid rgb(55,80,113);
        }
        .chartTitle{
            width: 100%;height: 25px;text-align: center;font-size: 14px;background-color: rgb(45,56,73);line-height: 25px;
        }
        .chartInfo{
            width: 100%;height: 175px;display: flex;justify-content: space-between;
            .l,.r{
                width: 50%;height: 100%;
            }
        }
        .chart3{
            width: calc(100% - 20px);box-sizing: border-box;margin: 20px auto;
            height: 220px;border: 1px solid rgb(55,80,113);
        }
    }
    .liInfo2{
        width: 100%;height: 250px;box-sizing: border-box;padding: 10px;background-color: rgba(54,64,79,.7);
    }
    .li2Top{
        width: 100%;height: 140px;margin-bottom: 10px;
    }
    .li2L{
        float: left;width: 150px;height: 100%;background-image: url(../../assets/renkou/03.png);background-size: 100% 100%;
    }
    .li2R{
        float: right;width: 250px;
    }

    .li2RTitle{
        width: 100%;font-size: 12px ;color: rgb(174,201,231);text-align: left;background-color: rgba(54,64,79,.7);padding: 2px 0;
    }
    .li2RCon{
        padding: 10px 0;box-sizing: border-box;
    }
    .li2RCon p{
        display: block;width: 100%;overflow: hidden;
    }
    .li2RCon p b{
        font-size: 16px;color: rgb(77,246,255);float: left;display: block;
    }
    .li2RCon p span{
        font-size: 14px;color: rgb(174,201,231);display: block;width: 100px;float: left;
    }
    .li2RChart{
        width: 100%;height: 78px;
    }
    .li2RChart div{
        float: left;width: 50%;height: 100%;
    }
    .li2Bot{
        width: 100%;height: 40px;
    }
    .li2Bot .pre{
        width: 5%;height: 100%;float: left;
    }
    .li2Bot .next{
        width: 5%;height: 100%;float: right;
    }
    .li2Con{
        width: 90%;float: left;height: 100%;overflow: hidden;
    }
    .pre img,.next img{
        width: 16px;height: auto;margin-top: 5px;
    }
    .next img{
        transform: rotateY(180deg);display: block;float: right;
    }
    .li2ConBox{
        width: 100%;height: 100%;white-space: nowrap;overflow-y: hidden;overflow-x: scroll;
    }

    .li2ConBox  div{
        width: 40px;height: 40px;border: 1px solid rgb(65,85,118);margin-right: 10px;box-sizing: border-box;display: inline-block;
    }
    .li2ConBox  div:last-child{
        margin-right: 0;
    }
    div::-webkit-scrollbar{
        height: 0;			/*设置滚动条样式*/
        background-color: rgba(0,0,0,0);
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>