<template>
    <div class="components-box">
        <div class="left-1"></div>
        <div class="left-2"></div>
        <div class="left-3"></div>
        <div class="left-4"></div>
        <div class="right-1">
            <span class="title">人口统计</span>
            <div class="subTitle">人员结构数据1</div>

        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';

    export default defineComponent({
        name: "user",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
            }
        },
        mounted() {
        },
        watch: {
        },
        computed: {
        },
        methods: {

        }
    })
</script>

<style lang="scss" scoped>
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 0;top: 0;width: 887px;height: 196px;
        background-image:url('../../assets/4p/1.png');background-size: 887px 196px;
        animation:scaleAni .4s linear;animation-iteration-count:1;
    }
    .left-2{
        position: absolute;left: 119px;top: 180px;width: 768px;height: 288px;
        background-image:url('../../assets/4p/2.png');background-size: 768px 288px;
        animation:scaleAni .4s linear;
        animation-delay:.2s;animation-iteration-count:1;
    }
    .left-3{
        position: absolute;left: 143px;top: 453px;width: 742px;height: 266px;
        background-image:url('../../assets/4p/3.png');background-size: 742px 266px;
        animation:scaleAni .4s linear;
        animation-delay:.3s;animation-iteration-count:1;
    }
    .left-4{
        position: absolute;left: 72px;top: 705px;width: 814px;height: 258px;
        background-image:url('../../assets/4p/4.png');background-size: 814px 258px;
        animation:scaleAni .4s linear;
        animation-delay:.3s;animation-iteration-count:1;
    }
    .right-1{
        position: absolute;right: 0;top: 0;width: 490px;height: 961px;overflow: hidden;
        background-image:url('../../assets/erji/17.png');background-size: 490px 960px;
        animation:scaleAni .4s linear;
        animation-delay:.4s;
        animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 46px;margin-left: 10px;display: block;width: 90%;text-align: left;
        }
        .subTitle{
            width: 180px;height: 30px;margin: 60px auto 20px auto;line-height: 40px;text-align: center;color: #fff;font-size: 18px;
            background-image: url("../../assets/renkou/02.png");background-size: 180px 30px;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;
        }
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>