<template>
    <div class="components-box">
        <div class="left-1">
            <div class="left1-box1">
                <div class="photo-box"></div>
                <div class="l3-data-box">
                    <div class="time-date">2021-10-0-7 周四 20:37:12</div>
                    <div class="gaikuang">
                        <span>今日人流总数<span class="num">329</span></span>
                        <span>今日外出人数<span class="num">218</span></span>
                        <span>今日进入人数<span class="num">329</span></span>
                        <span>今日进入人数<span class="num">329</span></span>
                        <span>未注册用户<span class="num">9</span></span>
                        <span>连续七天未注册用户<span class="num" style="color:#ff5500;">1</span></span>
                    </div>
                </div>
                <div class="change-box flex-row-center">
                    <img class="change-l" src="../../assets/dahome/57.png" style="margin: 0 5px">
                    <div class="flex-row-center pohots">
                        <div class="img-box" v-for="(v,i) in 10" :key="i"></div>
                        <!-- <img src="../../assets/dahome/10.png"> -->
                    </div>
                    <img class="change-l" src="../../assets/dahome/57.png" style="transform: rotate(180deg);margin: 0 2px">
                </div>
            </div>
            <div class="echart-box flex-column-center">
                <div id="user_left1_inout_D" class="left3-inout-D"></div>
                <div id="user_left1_sex_D" class="left3-inout-D"></div>
            </div>
        </div>
        <div class="left-2">
            <div class="states-box">
                <div class="healthcode flex-center">健康码状态</div>
                <div class="flex-row-center">
                    <div v-for="(v,i) in healths" :key="i" class="item flex-column-center">
                        <span>{{v.t||''}}</span>
                        <div>
                            <span style="font-size:32px ;margin-top:6px;">{{v.num||''}}</span>
                            <!-- <img src="../../assets/dahome/9.png" style="width:10px;height:12px;"> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="health-box">
                <div class="healthcode flex-center">体温状态</div>
                <div class="flex-row-center">
                <div v-for="(v,i) in fevers" :key="i" class="item flex-column-center">
                    <span>{{v.t||''}}</span>
                    <div>
                        <span style="font-size:32px;margin-top:6px;">{{v.num||'0'}}</span>
                        <!-- <img src="../../assets/dahome/8.png" style="width:10px;height:12px;"> -->
                    </div>
                </div>
                </div>
            </div>
            <div class="lagend flex-row-center">
                <div><span>正常</span><span>36~37°c</span></div>
                <div><span>发热</span><span>高于37.1°c</span></div>
                <div><span>低烧</span><span>37.3~38°c</span></div>
                <div><span>高烧</span><span>38.1~40°c</span></div>
            </div>
            <div id="user_left2_D" class="user-left2-D"></div>
        </div>
        <div class="right-1">
            <!-- <span class="title">人口统计</span>
            <div class="subTitle">人员结构数据</div> -->
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';

   // 引入 echarts 核心模块，核心模块提供了 echarts 使用必须要的接口。
    import * as echarts from 'echarts/core';
    // 引入柱状图图表，图表后缀都为 Chart
    import { BarChart, PieChart, GaugeChart } from 'echarts/charts';
    // 引入提示框，标题，直角坐标系，数据集，内置数据转换器组件，组件后缀都为 Component
    import {
        TitleComponent,
        TooltipComponent,
        GridComponent,
        LegendComponent,
        DatasetComponent,
        TransformComponent
    } from 'echarts/components';
    // 标签自动布局，全局过渡动画等特性
    import { LabelLayout, UniversalTransition } from 'echarts/features';
    // 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
    import { CanvasRenderer } from 'echarts/renderers';
    // 注册必须的组件
    echarts.use([
        TitleComponent,TooltipComponent,LegendComponent,
        GridComponent,DatasetComponent,TransformComponent,
        LabelLayout,UniversalTransition,CanvasRenderer,BarChart,PieChart,GaugeChart,
    ]);

    export default defineComponent({
        name: "user",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
                healths: [{t:'绿码',num:'456'},{t:'黄码',num:'456'},{t:'红码',num:'456'},{t:'隔离',num:'456'},{t:'重点',num:'456'},],
                fevers: [{t:'正常',num:'456'},{t:'发热',num:'456'},{t:'低烧',num:'456'},{t:'高烧',num:'456'},],
            }
        },
        mounted() {
            this.getLeft1Datas();
            this.getLeft2Datas();
        },
        watch: {
        },
        computed: {
        },
        methods: {
            createChart(opt:any,id:any){
                const myChart = echarts.init((document as any).getElementById(id),'dark');
                myChart.setOption(opt)
            },
            getLeft1Datas(){
                let option1 = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        name: '性别比例',
                        type: 'pie',
                        data: [
                            {
                            value: 335,
                            name: '男'
                            },
                            {
                            value: 234,
                            name: '女'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                let option2 = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        name: '年龄对比',
                        type: 'pie',
                        data: [
                            {
                            value: 335,
                            name: '<7'
                            },
                            {
                            value: 234,
                            name: '7~18'
                            },
                            {
                            value: 335,
                            name: '18~44'
                            },
                            {
                            value: 234,
                            name: '>44'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                this.createChart(option1,'user_left1_inout_D');
                this.createChart(option2,'user_left1_sex_D');
            },
            getLeft2Datas(){
                let option = {
                    backgroundColor: 'rgba(0,0,0,0)',
                    title: {
                        text: ''
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                        type: 'shadow'
                        }
                    },
                    legend: {},
                    grid: {
                        left: '0%',
                        right: '0%',
                        bottom: '0%',
                        top: '40px',
                        containLabel: true
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    xAxis: {
                        type: 'category',
                        data: ['Brazil', 'Indonesia', 'USA', 'India', 'China', 'World']
                    },
                    series: [
                        {
                        name: '健康码',
                        type: 'bar',
                        data: [40, 35, 20, 85, 51, 63]
                        },
                        {
                        name: '体温',
                        type: 'bar',
                        data: [60, 65, 80, 15, 49, 37]
                        }
                    ]
                };
                this.createChart(option,'user_left2_D');
            },
        }
    })
</script>

<style lang="scss" scoped>
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 30px;top: 15px;width: 940px;height: 360px;
        background-image:url('../../assets/2p/1_1.png');background-size: 940px 360px;animation:scaleAni .4s linear;animation-iteration-count:1;
        .left1-box1{
            position: absolute;left: 135px;top: 55px;width: 485px;height: 265px;background: rgba(36,39,53,0.15);border: solid 1px rgba(100,160,245,0.15);box-sizing: border-box;
            .photo-box{position: absolute;left: 5px;top: 5px;width: 152px;height: 190px;background-image: url('../../assets/dahome/10.png');background-size: 152px 190px;}
            .l3-data-box{
                position: absolute;right: 5px;top: 5px;width: 315px;height: 190px;
                display: flex;flex-direction: column;
                .time-date{width: 100%;height: 26px;line-height: 26px;text-align: left;font-size: 12px;padding: 0 4px;box-sizing: border-box;background-image: linear-gradient(to right, rgba(255,255,255,0.06) , rgba(255,255,255,0));}
                .gaikuang{
                    display: flex;flex-direction: column;text-align: left;
                    span{font-size: 12px;color: #c5e2ff;margin: 3px 0;} .num{font-size: 18px;color: #4be4ef;margin-left: 10px;}
                }
            }
        }
        .echart-box{
            position: absolute;left: 630px;top: 55px; width: 290px;height: 265px;}
            .left3-inout-D{width: 290px;height: 133px;
        }
        .change-box{
            position: absolute;left: 5px;top: 200px;width: 470px;height: 40px;
            .pohots{
                flex: 1;
                .img-box{width: 39px;height: 40px;background: #708ec4;margin: 0 1px;border: solid 1px rgba(111,166,245,0.3);box-sizing: border-box;}
            }
        }
    }
    .left-2{
        position: absolute;left: 63px;top: 368px;width: 906px;height: 399px;
        background-image:url('../../assets/2p/2_1.png');background-size: 906px 399px;
        animation:scaleAni .4s linear;
        animation-delay:.2s;animation-iteration-count:1;
        .states-box{
            position: absolute;left: 95px;top: 75px;width: 400px;height: 140px;text-align: left;
            .healthcode{background-image: url('../../assets/dahome/7.png');background-size: 110px 20px;width: 110px;height: 20px;font-size: 12px;margin-right: 10px;}
            .item{width:100px;margin: 10px 0 20px;}span{font-size:12px;}
        }
        .health-box{
            position: absolute;left: 95px;top: 175px;width: 400px;height: 140px;text-align: left;
            .healthcode{background-image: url('../../assets/dahome/7.png');background-size: 110px 20px;width: 110px;height: 20px;font-size: 12px;margin-right: 10px;}
            .item{width:100px;margin: 10px 0 20px;}span{font-size:12px;}
        }
        .lagend{
            position: absolute;left: 35px;bottom: 65px; text-align: left;
            div::before{content: '•';font-weight: 800;margin-right: 2px;}
            div{margin-right: 10px;}
            div:nth-child(1)::before{color:#4ce5e5;}div:nth-child(2)::before{color:#6e78d6;}div:nth-child(3)::before{color:#3e4bc1;}div:nth-child(4)::before{color:#4ce5e5;}
            span{font-size:12px;}
        }
        .user-left2-D{
            position: absolute;left: 500px;top: 50px;width: 380px;height: 290px;
        }
    }
    .right-1{
        position: absolute;right: 0px;top: 0;width: 490px;height: 760px;overflow: hidden;padding: 10px;box-sizing: border-box;
        background-image:url('../../assets/erji/17_1.png');background-size: 490px 760px;
        animation:scaleAni .4s linear;
        animation-delay:.4s;
        animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 46px;margin-left: 10px;display: block;width: 90%;text-align: left;
        }
        .subTitle{
            width: 180px;height: 30px;margin: 60px auto 20px auto;line-height: 40px;text-align: center;color: #fff;font-size: 18px;
            background-image: url("../../assets/renkou/02.png");background-size: 180px 30px;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;
        }
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>
