<template>
    <div class="components-box">
        <div class="left-1">
            <span class="title">公共监控</span>
            <div id="video_boxx" class="xiaoqu-box flex-row-center"> 
                <!-- <div> 
                    <videoPlayer  class="video-player vjs-custom-skin"
                        ref="videoPlayer"
                        :playsinline="true"
                        :options="playerOptions"
                    ></videoPlayer>
                </div> -->
                <div v-for="(v,i) in imglist" :key="i" class="video-box">
                    <img class="default" src="../../assets/jz.png" :style="{'z-index':2,display:videoIdx===i?'none':'block'}" alt="" @click="playvideo(i,v.cameraIndexCode)">
                    <video class="full-height full-width video-d" :ref="`videoRef${i}`" width="135" height="118" controls></video>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import Hls from 'hls.js'
    var hls = new Hls();
    import {defineComponent, reactive} from 'vue';


    // import 'video.js/dist/video-js.css's
    // import 'vue-video-player/src/custom-theme.css'


    // import 'videojs-contrib-hls'

    // import { videoPlayer  } from 'vue-video-player'
    // import 'videojs-flash'

    export default defineComponent({
        name: "video",
        // components: {
        //     videoPlayer
        // },
        setup() {
            return reactive({
            })
        },
        data() {
            return {
                videoIdx: null,
                imglist: [],
                videoList: [],
                playerOptions: {
                    height: '260',
                    language: 'en',
                    playbackRates: [0.5, 1.0, 1.5, 2.0],
                    sources: [{
                    type: "rtmp/mp4",
                    src: "rtmp://121.43.226.74:1935/live/openUrl/ksl5wAw"
                    }],
                    techOrder: ['flash'],
                    autoplay: false,
                    controls: true,
                    poster: "",
                    notSupportedMessage: '不支持的视频格式'
                },
                
            }
        },
        mounted() {
            this.getcameraData();
        },
        watch: {
        },
        computed: {
        },
        methods: {
            // 获取实时监控codes
            getcameraData() {
                (this as any).axios.post('app/camera/list',{},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.msg==='success') {
                            let list:any = d.data.list;
                            this.imglist = d.data.list;
                            // 获取视频 枪地址list
                            // this.getVideos(list);
                        }else{
                            (this as any).$message.error('未请求到数据，请稍后再试1！');
                        }
                    }else{
                        (this as any).$message.error('未请求到数据，请稍后再试2！');
                    }
                }).catch(()=>{
                    // (this as any).$message.error('未请求到数据，请稍后再试3！');
                })
            },
            // 获取实时监控 枪地址list
            async getVideos(list:any){
                for (let i = 0; i < list.length; i++) {
                    let resname:any =  `videoRef${i}`;
                    await (this as any).axios.post('app/camera/stream',{cameraIndexCode:list[i].cameraIndexCode},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                        if (e.status === 200) {
                            let d: any = e.data;
                            if (d.msg==='success') {
                                if(d.data.url){
                                    (this as any).videoList.push(d.data.url);
                                    hls.attachMedia((this as any).$refs[resname]);
                                    hls.on(Hls.Events.MANIFEST_PARSED,()=>{
                                        (this as any).$refs[resname].play();
                                    })
                                }
                            }else{
                                return false;
                            }
                        }else{
                            return false;
                        }
                    }).catch(()=>{
                        return false;
                    })
                }
                console.log((this as any).videoList);
                
            },
            playvideo(i:any,code:any){
                if(this.videoIdx!==null){
                    (this as any).$refs[`videoRef${this.videoIdx}`].pause();
                }
                this.videoIdx = i;
                let resname:any =  `videoRef${i}`;
                (this as any).axios.post('app/camera/stream',{cameraIndexCode:code},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                        if (e.status === 200) {
                            let d: any = e.data;
                            if (d.msg==='success') {
                                if(d.data.url){
                                    let imgs:any = document.getElementsByClassName('default');
                                    imgs[i].style.display = 'none';
                                    (this as any).videoList.push(d.data.url);
                                    hls.loadSource(d.data.url)
                                    hls.attachMedia((this as any).$refs[resname]);
                                    hls.on(Hls.Events.MANIFEST_PARSED,()=>{
                                        (this as any).$refs[resname].play();
                                    })
                                }
                            }else{
                                return false;
                            }
                        }else{
                            return false;
                        }
                    }).catch(()=>{
                        return false;
                    })
            },
        }
    })
</script>

<style lang="scss" scoped>
    .vjs-custom-skin{
        position: fixed;top: 0;left: 0;z-index: 1500;width: 500px;height: 500px;
    }
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 30px;top: 15px;width: 1445px;height: 747px;
        background-image:url('../../assets/1p/1.png');background-size: 1445px 747px;animation:scaleAni .4s linear;animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 46px;margin-left: 60px;display: block;width: 90%;text-align: left;
        }
        .subTitle{
            width: 180px;height: 30px;margin: 10px auto 10px auto;line-height: 40px;text-align: center;color: #fff;font-size: 18px;
            background-image: url("../../assets/renkou/02.png");background-size: 180px 30px;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;
        }
        .xiaoqu-box{
            width: 1280px;height: 620px;margin-left: 140px;margin-top: 60px; flex-wrap: wrap;align-content: flex-start;overflow-y: auto;
        }
        .video-box{
            width: 150px;height: 130px;margin-bottom: 10px;margin-right: 10px;position: relative;
            background-image: url('../../assets/dahome/63.png');background-size: 150px 130px;background-repeat: no-repeat;
            .default{
                position: absolute;left: 8px;top: 6px;cursor: pointer;
            }
            .video-d{
                position: absolute;left: 8px;top: 6px;
            }
.video {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
  .con {
    width: 100%;
    height: 30px;
    line-height: 30px;
  }
  .video-wrap {
    width: 500px;
    height: 300px;
  }
        }
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>
