<template>
    <div class="components-box">
        <div class="left-1">
            <span class="title">公共监控</span>
            <div class="xiaoqu-box flex-row-center"> 
                <div v-for="(v,i) in videoList" :key="i" class="video-box flex-center">
                    <video :src="v" style="width:140px;height:120px;" controls="controls" autoplay="autoplay" loop="loop"></video>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';

    export default defineComponent({
        name: "video",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
                videoList: [],
            }
        },
        mounted() {
            
            this.getcameraData();
        },
        watch: {
        },
        computed: {
        },
        methods: {
            // 获取实时监控codes
            getcameraData() {
                (this as any).axios.post('app/camera/list',{},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.msg==='success') {
                            let list:any = d.data.list;
                            // 获取视频 枪地址list
                            this.getVideos(list);
                        }else{
                            (this as any).$message.error('未请求到数据，请稍后再试1！');
                        }
                    }else{
                        (this as any).$message.error('未请求到数据，请稍后再试2！');
                    }
                }).catch(()=>{
                    // (this as any).$message.error('未请求到数据，请稍后再试3！');
                })
            },
            // 获取实时监控 枪地址list
            async getVideos(list:any){
                for (let i = 0; i < list.length; i++) {
                    await (this as any).axios.post('app/camera/stream',{cameraIndexCode:list[i].cameraIndexCode},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                        if (e.status === 200) {
                            let d: any = e.data;
                            if (d.msg==='success') {
                                if(d.data.url){
                                    (this as any).videoList.push(d.data.url);
                                }
                            }else{
                                return false;
                            }
                        }else{
                            return false;
                        }
                    }).catch(()=>{
                        return false;
                    })
                }
                console.log((this as any).videoList);
                
            },
        }
    })
</script>

<style lang="scss" scoped>
    .vjs-custom-skin{
        position: fixed;top: 0;left: 0;z-index: 1500;width: 500px;height: 500px;
    }
    .components-box{width: 100%;height: 100%;}
    .left-1{
        position: absolute;left: 30px;top: 15px;width: 1445px;height: 747px;
        background-image:url('../../assets/1p/1.png');background-size: 1445px 747px;animation:scaleAni .4s linear;animation-iteration-count:1;
        .title{
            font-size: 20px;color: rgb(255,255,255);float: left;line-height: 46px;margin-left: 60px;display: block;width: 90%;text-align: left;
        }
        .subTitle{
            width: 180px;height: 30px;margin: 10px auto 10px auto;line-height: 40px;text-align: center;color: #fff;font-size: 18px;
            background-image: url("../../assets/renkou/02.png");background-size: 180px 30px;background-repeat: no-repeat;display: flex;align-items: center;justify-content: center;
        }
        .xiaoqu-box{
            width: 1280px;height: 620px;margin-left: 140px;margin-top: 60px; flex-wrap: wrap;align-content: flex-start;overflow-y: auto;
        }
        .video-box{
            width: 150px;height: 130px;margin-bottom: 10px;margin-right:10px;
            background-image: url('../../assets/dahome/63.png');background-size: 150px 130px;background-repeat: no-repeat;
        }
    }
    @keyframes scaleAni {
       0%{
            transform: scale(1);
       }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
    }
</style>
