<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加轮播</el-button>
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="sort" label="排序号"></el-table-column>
            <el-table-column prop="cover" label="图片" width="70">
              <template #default="props">
                <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.img" @click="showDialog('dialogImage',imgdownload + props.row.img)"></el-image>
              </template>
            </el-table-column>
            <el-table-column prop="type" label="所在位置"></el-table-column>
            <el-table-column prop="par" label="参数"></el-table-column>
            <el-table-column label="编辑">
                <template #default="scope">
                    <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                    <el-popconfirm
                            confirmButtonText='好的'
                            cancelButtonText='不用了'
                            @confirm="del(scope.$index, scope.row)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="这是一段内容确定删除吗？">
                        <template #reference>
                            <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">删除</el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

  <!-- 排序号 图片 所在位置 参数 -->
  <el-drawer :title="id?'编辑':'添加'+'轮播图'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
    <div class="edit" v-if="drawerFormVisible">
      <el-form ref="from" :model="d" label-width="90px" @close="showDrawer()" style="width:96%;">
        <el-form-item :rules="[ { required: true, message: '排序不能为空'} ]" label="排序" prop="sort">
            <el-input-number v-model="d.sort" :min="0" :max="100"></el-input-number>
        </el-form-item>
        <el-form-item label="照片">
            <el-upload
                    :class="{disabled:uploadDisabled}"
                    class="upload-demo floatLeft"
                    :action="uploadHost"
                    list-type="picture-card"
                    :file-list="fileListImg"
                    :on-success="uploadSuccess"
                    :before-upload="handleBeforeUpload"
                    :on-change="handleLimit"
                    :limit="1"
                    :multiple='false'>
            <template #default><i class="el-icon-plus"></i></template>
            <template #file="{file}">
                <div>
                <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                <span class="el-upload-list__item-actions">
                    <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemove(file,idx)}"></i></span>
                </span>
                </div>
            </template>
            </el-upload>
        </el-form-item>
        <el-form-item label="所在位置" prop="type">
          <el-input autocomplete="off" clearable v-model="d.type"></el-input>
        </el-form-item>
        <el-form-item label="参数" prop="par">
          <el-input autocomplete="off" clearable v-model="d.par"></el-input>
        </el-form-item>
        <el-form-item>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                <el-button @click="closeDrawer()">取 消</el-button>
                <el-button type="primary" @click="submitForm('from')">确 定</el-button>
            </div>
        </el-form-item>
      </el-form>
    </div>
  </el-drawer>

  <!-- 预览 -->
  <el-dialog :title="dialogTitle" v-model="dialogVisible">
    <div v-if="dialogHtml" v-html="dialogHtml"></div>
    <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
  </el-dialog>

</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost,bannerImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "vote",
        setup() {
            return reactive({
              pageAuthority:{},
              uploadHost: uploadHost(),
              ossHost: ossHost(),
              imgdownload: bannerImg(),
              fileListImg: [],
              uploadDisabled: false,

              dialogImage: '',
              dialogHtml: '',
              dialogTitle: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "id":0,
                "img_old":"",
                "img":"",
                "sort": 1,
                "type":"",
                "par":""
              },
              query:{
                  key: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.banner;//获取当前页面权限
            this.getData();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                        "id":0,
                        "img_old":"",
                        "img":"",
                        "sort": 1,
                        "type":"",
                        "par":""
                    }
                    this.d = Object.assign({}, d);
                    this.fileListImg = [];
                    this.uploadDisabled = false;
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          uploadSuccess(res: any) {
              this.d.img = res.filename;
          },
          handleBeforeUpload(file: any) {
              const isJPG = file.type === "image/jpeg" || file.type === "image/png";
              const isLt2M = file.size / 1024 / 1024 < 2;

              if (!isJPG) {
              console.error('上传头像图片只能是 JPG 格式!');
              }
              if (!isLt2M) {
              console.error('上传头像图片大小不能超过 2MB!');
              }
              return isJPG && isLt2M;
          },
          handleLimit(file: any, fileList: any) {
              if (fileList.length >= 1) {
              this.uploadDisabled = true;
              }
          },
          // 预览
          handlePreview(file: any) {
            this.dialogImage = file.url;
            this.dialogVisible = true;
          },
          // 删除图片
          handleRemove() {
            (this as any).d.img = ""
            this.fileListImg = [];
            this.uploadDisabled = false;
          },
            addItem(){
                let o:any = "";
                (this as any).d.items.push(o);
                this.$forceUpdate();
            },
            delItem(i:any){
                if((this as any).d.items.length>1){
                    (this as any).d.items.splice(i,1);
                }else{
                  (this as any).$message.error('必须要有一个选项');
                }
            },
            showDialog(key:any,msg:any,title:any){
                this.dialogTitle = title;
                (this as any)[key] = msg;
                this.dialogVisible = true;
            },
            showDrawer(row: any = undefined) {
                if (row) {
                    let data:any = JSON.parse(JSON.stringify(row));
                    this.id = data.id;
                    data.img_old = data.img;
                    let o:any = {
                        name: '',
                        url: data.img?(this.imgdownload+data.img):''
                    };
                    this.uploadDisabled = data.img?true:false;
                    (this as any).fileListImg.push(o);
                    data.sort = Number(data.sort);
                    this.d = data;
                }
                this.drawerFormVisible = true;
            },
          closeDrawer() {
              this.drawerFormVisible = false;
          },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/banner/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 删除
            del(index: number, row: any) {
                (this as any).axios.post("manager/banner/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                  data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/banner/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  .guige-box{
      background: rgba(103, 194, 58, 0.2);
      border: solid 1px rgb(103, 194, 58);
  }
</style>