<template>
    <div class="page-box flex-center pd20">
        <div class="black flex-center">
            <img src="../assets/8.png">
        </div>
        <img class="back" src="../assets/back.png">
        <img class="title" src="../assets/title.png">
        <img class="bottom" src="../assets/3.png">
        <img class="left" src="../assets/4.png">
        <img class="right1" src="../assets/5.png">
        <img class="right2" src="../assets/6.png">
        <img class="right3" src="../assets/7.png">
        <img class="left-center" :style="{display:show1?'block':'none'}" @click="show1=false" src="../assets/4_1.png">
        <img class="left2-center" :style="{display:show2?'block':'none'}" @click="show2=false" src="../assets/4_2.png">
        <div class="click-1" @click="show1=true;show2=false"></div>
        <div class="click-2" @click="show2=true;show1=false"></div>
    </div>
</template>

<script lang="ts">
    import {defineComponent} from 'vue';

    export default defineComponent({
        name: 'Datas',
        components: {},
        data() {
            return {
                show1: false,
                show2: false,
            }
        },
        mounted() {
        },
        computed: {
        },
        methods: {
        }
    });
</script>
<style lang="scss" scoped>
    .page-box {
        height: 100vh;width: 100vw;overflow: hidden;
        background: #000;color: #c5e2ff;
    }
    .black{
        position: fixed;
        width: 100vw;height: 100vh;
    }
    .back{
        position: fixed;
        width: 100vw;height: 100vh;
        img{
            width: 1825px;height: 1012px;
        }
    }
    .title{
        position: absolute;top: -40px;left: 50%;margin-left: -158px;
        animation: title 0.3s 1.5s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes title{
        0%{top:-40px;}
        100%{top:20px;}
    }
    .bottom{
        position: absolute;bottom: -80px;left: 48%;margin-left: -219px;
        animation: bottom 0.3s 1.5s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes bottom{
        0%{bottom:-80px;}
        100%{bottom:20px;}
    }
    .left{
        position: fixed;top: 80px;left: -500px;
        animation: left 0.3s 0.6s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes left{
        0%{left:-500px;}
        100%{left:40px;}
    }
    .right1{
        position: fixed;top: 80px;right: -570px;
        animation: right1 0.3s 0.6s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes right1{
        0%{right:-570px;}
        100%{right:40px;}
    }
    .right2{
        position: fixed;top: 317px;right: -570px;
        animation: right2 0.3s 0.9s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes right2{
        0%{right:-570px;}
        100%{right:40px;}
    }
    .right3{
        position: fixed;top: 640px;right: -570px;
        animation: right3 0.3s 1.2s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes right3{
        0%{right:-570px;}
        100%{right:40px;}
    }
    .left-center{
        position: fixed;top: 50%;margin-top: -391px;left: 48%;margin-left: -350px;
        transform: scale(0, 0);
        animation: left_center 0.3s 0s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes left_center{
        0%{transform: scale(0, 0);}
        100%{transform: scale(1, 1);}
    }
    .left2-center{
        position: fixed;top: 50%;margin-top: -208px;left: 48%;margin-left: -350px;
        transform: scale(0, 0);
        animation: left2-center 0.3s 0s ease-out;
        animation-fill-mode:forwards;
    }
    @keyframes left2-center{
        0%{transform: scale(0, 0);}
        100%{transform: scale(1, 1);}
    }
    .click-1{
        position: fixed;top: 80px;left: 40px;width: 490px;height: 610px;background: rgba(0,0,0,0);
    }
    .click-2{
        position: fixed;top: 690px;left: 40px;width: 490px;height: 350px;background: rgba(0,0,0,0);
    }
</style>
