<template>
    <div class="page-box flex-center pd20">
        <img class="back" src="../assets/back.png" alt="">
        <div class="top">
            <div class="mt20 flex-center"><img src="../assets/title.png" alt=""></div>
            <div class="top-d-t flex-center">
                <div class="top-time">
                    <img src="" alt="">
                    <span>21:23:56</span>
                </div>
                <div class="top-date">
                    <img src="" alt="">
                    <span>2021-10-7</span>
                </div>
            </div>
        </div>
        <div class="center flex-row">
            <div class="data-box c-left flex-column-center">
                <div class="max-title flex-center mb10">人员结构数据</div>
                <div class="mud-box structure flex-center mb10">
                    <div class="flex-column str-item">
                        <span>总人口</span>
                        <span>8433</span>
                    </div>
                    <div class="flex-column str-item">
                        <span>常住人口</span>
                        <span>3498</span>
                    </div>
                    <div class="flex-column str-item">
                        <span>流动人口</span>
                        <span>4935</span>
                    </div>
                    <div class="flex-column str-item">
                        <span>重点人群</span>
                        <span>0</span>
                    </div>
                </div>
                <div class="mud-box user-scale flex-row">
                    <div class="mini-title">不同年龄段人口比例</div>
                    <div id="oftenUserChart" style="width: 200px;height:170px;"></div>
                    <div id="flowuserChart" style="width: 200px;height:170px;"></div>
                </div>
            </div>
            <div class="data-box c-right flex-column-center">中间-左边</div>
        </div>
        <div class="bottom">底部</div>
    </div>
</template>

<script lang="ts">
    import {defineComponent} from 'vue';
   // 引入 echarts 核心模块，核心模块提供了 echarts 使用必须要的接口。
    import * as echarts from 'echarts/core';
    // 引入柱状图图表，图表后缀都为 Chart
    import { BarChart, PieChart } from 'echarts/charts';
    // 引入提示框，标题，直角坐标系，数据集，内置数据转换器组件，组件后缀都为 Component
    import {
        TitleComponent,
        TooltipComponent,
        LegendComponent,
        GridComponent,
        DatasetComponent,
        TransformComponent
    } from 'echarts/components';
    // 标签自动布局，全局过渡动画等特性
    import { LabelLayout, UniversalTransition } from 'echarts/features';
    // 引入 Canvas 渲染器，注意引入 CanvasRenderer 或者 SVGRenderer 是必须的一步
    import { CanvasRenderer } from 'echarts/renderers';
    // 注册必须的组件
    echarts.use([
        TitleComponent,
        TooltipComponent,
        LegendComponent,
        GridComponent,
        DatasetComponent,
        TransformComponent,
        LabelLayout,
        UniversalTransition,
        CanvasRenderer,
        BarChart,
        PieChart,
    ]);

    export default defineComponent({
        name: 'Datas',
        components: {},
        data() {
            return {
            }
        },
        mounted() {
            this.drawEconomics();
        },
        computed: {
        },
        methods: {
            drawEconomics() {
                let often_userChart = echarts.init((document as any).getElementById('oftenUserChart'));
                let flow_userChart = echarts.init((document as any).getElementById('flowuserChart'));
                let option = {
                    title: {
                        text: '',
                        left: 'center',
                        top: 'center'
                    },
                    series: [
                        {
                        type: 'pie',
                        data: [
                            {
                            value: 335,
                            name: 'A'
                            },
                            {
                            value: 234,
                            name: 'B'
                            },
                            {
                            value: 1548,
                            name: 'C'
                            }
                        ],
                        radius: ['40%', '70%']
                        }
                    ]
                };
                often_userChart.setOption(option);
                flow_userChart.setOption(option);
            },
        }
    });
</script>
<style lang="scss" scoped>
    .page-box {
        height: 100vh;width: 100vw;
        background: #000;color: #c5e2ff;
    }
    .back{
        position: fixed;top: 0;right: 0;bottom: 0;left:0;
    }
    .top{
        position: fixed;top: 0;left: 0;width: 100vw;
        .top-d-t{
            position: absolute;right: 30px;top: 30px;
        }
    }
    .center{
        justify-content: space-between;width: 100vw;
        .data-box{
            width: 500px;height: 960px; background: #000fff;
        }
        .c-left{
            width: 490px;
        }
        .c-right{
            width: 560px;
        }
        .max-title{
            width: 180px;height: 30px;font-size: 18px;
            background-image:url('../assets/1.png');background-size: 180px 30px;
        }
        .mud-box{
            width: 460px;border: solid 1px rgba(86,110,157,0.3);box-sizing: border-box;
            background: rgba(46,58,84,0.6);
        }
        .structure{
            height: 90px;
            .str-item{flex: 1;}
            .str-item span:nth-child(1){}
            .str-item span:nth-child(2){font-size: 32px;}
        }
        .user-scale{
            flex-wrap: wrap;
            .mini-title{width: 100%;background: rgba(0,0,0,0.1);height: 22px;line-height: 22px;}
        }
    }
    .bottom{
        position: fixed;bottom: 0;left: 0;width: 100vw;
    }
</style>
