<template>
    <div class="home">
        <el-container class="Box">
            <el-aside width="200px">
                 <!-- 一 logo -->
                <div class="logo-box">
                    <div class="logo lineOne">{{$store.state.org_id?($store.state.orgList[0].name||'柯桥社区')+'管理系统':systemName}}</div>
                </div>
                 <!-- 二 左侧导航 -->
                <div class="aside-box"><Aside></Aside></div>
            </el-aside>

            <el-container>
                 <!-- 三 头部管理信息 -->
                <el-header class="heads">
                    <span>{{version}}</span>
                    <el-dropdown trigger="click" @command="handleCommand">
                          <span class="el-dropdown-link">
                            {{username2}}<i class="el-icon-arrow-down el-icon--right"></i>
                          </span>
                        <template #dropdown>
                            <el-dropdown-menu>
                                <el-dropdown-item command="1" v-if="pageAuthority">修改密码</el-dropdown-item>
                                <el-dropdown-item command="2">退出登录</el-dropdown-item>
                            </el-dropdown-menu>
                        </template>
                    </el-dropdown>
                </el-header>
                <!-- 四 内容区域 -->
                <el-main style="padding:10px;height:100%;">
                    <!-- 面包屑 -->
                    <!-- <el-breadcrumb separator="/" class="breads">
                        <el-breadcrumb-item >{{ Breadcrumbs.split('/')[0] }}</el-breadcrumb-item>
                        <el-breadcrumb-item>{{ Breadcrumbs.split('/')[1] }}</el-breadcrumb-item>
                    </el-breadcrumb> -->
                    <router-view class="Content"/>
                </el-main>
            </el-container>

        </el-container>
        <!--修改密码-->
        <el-dialog title="修改密码" v-model="dialogFormVisible">
            <el-form :model="form" ref="ruleForm">
                <el-form-item label="旧密码" :label-width="formLabelWidth" prop="oldpass" :rules="{ required: true, message: '旧密码不能为空', trigger: 'blur'}">
                    <el-input type="password" v-model="form.oldpass"  autocomplete="off" clearable></el-input>
                </el-form-item>
                <el-form-item label="新密码" :label-width="formLabelWidth" prop="newpass" :rules="{ required: true, message: '新密码不能为空', trigger: 'blur'}">
                    <el-input type="password" v-model="form.newpass" autocomplete="off" clearable></el-input>
                </el-form-item>
            </el-form>
            <template #footer>
                <span class="dialog-footer">
                <el-button size="small" @click="cancelupdate()">取 消</el-button>
                <el-button size="small" type="primary" @click="sureupdate('ruleForm')">确 定</el-button>
                </span>
            </template>
        </el-dialog>

    </div>
</template>

<script lang="ts">
    import {defineComponent} from 'vue';
    import {
        mapState,
        /* mapMutations */
    } from 'vuex'
    import Aside from "@/components/Aside.vue";

    export default defineComponent({
        name: 'Home',
        components: {Aside},
        data() {
            return {
                pageAuthority:{},
                dialogFormVisible: false,
                form: {
                    oldpass: '',
                    newpass: '',
                },
                formLabelWidth: '80px'
            }
        },
        mounted() {
          this.pageAuthority = (this as any).$store.state.pageAuthoritys.editpass;//获取当前页面权限
          console.log((this as any).$store.state.pageAuthoritys);
            // // 异步获取用户名
            (this as any).$store.dispatch('setNewToken', '561168sd1as32'); // 修改用户名
        },
        computed: {
            ...mapState({
                username2: (state: any) => state.username,
                Breadcrumbs: (state: any) => state.Breadcrumbs,
                version: (state: any) => state.version,
                systemName: (state: any) => state.systemName,
            }),
        },
        methods: {
            // 退出登录
            loginout() {
                (this as any).$store.dispatch('setUserNameAction', ''); // 清除登录的用户名
                (this as any).$store.dispatch('setTokenAction', ''); // 清除token
                (this as any).$store.dispatch('setMenuAction', []); // 配置默认用户的权限菜单
                (this as any).$store.dispatch('setAsideIndex', 0); // 配置左侧导航为默认选项
                (this as any).$store.dispatch('setOrg', ""); 
                (this as any).$store.dispatch('setOrgList', []); 
                this.$router.push("/")
            },
            handleCommand(command: string) {
                if (command === '1') {
                    console.log('修改密码');
                    this.dialogFormVisible = true;
                } else if (command === '2') {
                    this.loginout();
                }
            },
            cancelupdate() {
                this.dialogFormVisible = false;
                (this as any).form.oldpass = '';
                (this as any).form.newpass = ''
            },
            sureupdate(formName: string) {
                (this as any).$refs[formName].validate((valid: any) => {
                    if (valid) {
                        (this as any).axios.post('manager/editpass', this.form, {
                            headers: {token: (this as any).$store.state.token}
                        }).then((e: any) => {
                            console.log(e)
                            if (e.status === 200) {
                                if (e.data.success) {
                                    (this as any).$message.success("修改成功");
                                    setTimeout(() => {
                                        this.loginout()
                                    }, 1000)
                                } else {
                                    (this as any).$message.error(e.data.err);
                                }
                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });

            },
        }
    });
</script>
<style lang="scss" scoped>
    .home {
        background: #fff;
        height: 100vh;
        width: 100vw;
        overflow: hidden;

        .Box {
            height: 100%;
            .Content {
                width: 100%;
                height: calc(100%);
                background: #fff;
                display: flex;
                flex-direction: column;
            }
        }

        .breads {
            margin-bottom: 10px;
            font-size: $font-size-14;
        }

        .logo-box {
            position: relative;
            width: 200px;
            height: 60px;
            background: $--color-primary;
            .logo{
                position: fixed;left: 0;top: 0;z-index: 10;
                width: 400px;
                height: 60px;
                text-align: left;
                margin-left: 20px;
                color: #fff;
                line-height: 60px;
                font-size: $font-size-20;
            }
        }
        .aside-box{
            overflow-y: auto;overflow-x: hidden;width: 200px;height: calc(100% - 60px);
        }

        .heads {
            display: flex;
            justify-content: flex-end;
            line-height: 60px;
            background: $--color-primary;
            span {
                color: #fff;
                margin-left: 20px;
                cursor: pointer;
            }
            .el-dropdown-link {
                line-height: 60px;
            }
        }
    }
    .el-aside{
        background: #353b48;
        z-index: 10;
    }
    /deep/ .heads .el-popper__arrow{left: 43px;}
    /deep/ .heads .el-dropdown__popper{width: 96px !important;height: 92px !important;}
</style>
