<template>
  <div class="loginBg">
    <div class="bg-top">
      <span class="t">柯桥社区后台管理平台</span>
    </div>
    <div class="login_c">
      <div class="center">
        <div class="title">登录</div>
        <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="80px" class="demo-ruleForm">
          <input type="password" style="display: none;" />
          <el-form-item label="账&emsp;&emsp;号:" prop="uname">
            <el-input type="text" autocomplete="off" v-model="ruleForm.uname" clearable></el-input>
          </el-form-item>
          <el-form-item label="密&emsp;&emsp;码:" prop="pass">
            <el-input :type="inputType" autocomplete="off" @focus="changeInputType" v-model="ruleForm.pass" clearable></el-input>
          </el-form-item>
          <el-form-item label="验&nbsp;&nbsp;证&nbsp;&nbsp;码:" prop="ecode" style="position: relative; margin-bottom: 10px">
            <el-input type="text" autocomplete="off" v-model="ruleForm.ecode" style="width: 100px"></el-input>
            <!-- <img :src="`http://kq-community.server.zhhost.top/zh8848/VerifyCode${rand}/h=28&bg=FFFFFFFF&len=4`" class="ecode" @click="newRand"/> -->
            <img :src="vcodeimg" @click="getVerfyCode">
          </el-form-item>
          <div class="checkbox">
            <text>记&nbsp;&nbsp;住&nbsp;&nbsp;我:</text>
            <el-checkbox v-model="remember" name="type" @change="rememberMe"></el-checkbox>
          </div>
          <div class="button">
              <div @click="submitForm('ruleForm')">登录</div>
              <div @click="resetForm('ruleForm')">重置</div>
          </div>
        </el-form>
      </div>
    </div>
      <span class="base-t">版本号：1.0.3</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { setCookie, getCookie } from "@/utils/utils";
import { mapState } from "vuex";
export default defineComponent({
  name: "Login",
  data() {
    const validatePass = (rule: any, value: any, callback: any) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        callback();
      }
    };
    const validateAccount = (rule: any, value: any, callback: any) => {
      if (value === "") {
        callback(new Error("请输入账号"));
      } else {
        callback();
      }
    };
    const validateEcode = (rule: any, value: any, callback: any) => {
      if (value === "") {
        callback(new Error("请输入验证码"));
      } else {
        callback();
      }
    };
    return {
      inputType: 'text',
      rand: Math.floor(Math.random() * 100),
      ruleForm: {
        pass: "", //1
        ecode: "", // 1
        uname: "", //admin
        key: ''
      },
      remember: false,
      rules: {
        pass: [{ validator: validatePass, trigger: "blur" }],
        uname: [{ validator: validateAccount, trigger: "blur" }],
        ecode: [{ validator: validateEcode, trigger: "blur" }],
      },
      fullscreenLoading: false, // 全屏加载loading
      vcodeimg: ''
    };
  },
  mounted() {
    this.getVerfyCode()
    // const { proxy,ctx  }: any = getCurrentInstance(); //获取上下文实例，ctx=vue2的this
    document.addEventListener("keydown", (e) => {
      let key = window.event ? e.keyCode : e.which;
      if (key === 13 && window.location.pathname == "/") {
        this.submitForm("ruleForm");
      }
    });
    const isRemember: any = getCookie("remember") || "";
    if (isRemember === "true") {
      this.remember = true;
      let Obj: any = Object.assign({}, this.ruleForm);
      Obj.uname = getCookie("uname") || "";
      Obj.pass = getCookie("pass") || "";
      this.ruleForm = Object.assign({}, Obj);
    } else {
      this.remember = false;
      (this as any).uname = '';
      (this as any).pass = '';
    }
  },
  computed: {
    ...mapState({
      version: (state: any) => state.version,
      systemName: (state: any) => state.systemName,
    })
  },
  methods: {
    getVerfyCode(){
        (this as any).axios.post("manager/VerifyCode",{},{headers: {token:(this as any).$store.state.token},}).then((res: any) => {
          
          
          if(res.data.success){
            (this as any).vcodeimg = `data:image/png;base64,${res.data.msg.img}`;
            // console.log(res.data.success&&res.data.msg);
            (this as any).ruleForm.key = res.data.msg.key;
          }else{
            // (this as any).vcodeimg = '';
            // (this as any).ruleForm.key = '';
          }
        }).catch(() => {
        });
    },
    changeInputType() {
      this.inputType = 'password'
    },
    rememberMe() {
      if (!this.remember) {
        setCookie("remember", "false");
        setCookie("uname", "");
        setCookie("pass", "");
      } else {
        setCookie("remember", "true");
        setCookie("uname", this.ruleForm.uname);
        setCookie("pass", this.ruleForm.pass);
      }
    },
    newRand() {
      this.rand = Math.floor(Math.random() * 100);
    },
    submitForm(formName: any) {
      // const { proxy,ctx }: any = getCurrentInstance();
      (this as any).$refs[formName].validate((valid: any) => {
        const store = (this as any).$store;
        if (valid) {
          this.fullscreenLoading = true;

          // ts中使用接口（Interfaces）来定义 对象 的类型。
          interface dataType {
            uname: string;
            pass: string;
            vcode: string;
            key: string;
          }

          let data: dataType = {
            uname: this.ruleForm.uname, // 如果code的类型错误 则编译失败
            pass: this.ruleForm.pass, // 如果code的类型错误 则编译失败
            vcode: this.ruleForm.ecode, // 如果code的类型错误 则编译失败
            key: this.ruleForm.key, // 如果code的类型错误 则编译失败
          };

          (this as any).axios.post("manager/login",data,{headers: {token:(this as any).$store.state.token},}).then((e: any) => {
              this.fullscreenLoading = false;
              if (e.data.success) {
                let d: any = e.data.msg;
                store.dispatch("setUserIdAction", d.id); // 修改用户id
                store.dispatch("setUserNameAction", d.name); // 修改用户名
                store.dispatch("setTokenAction", d.token); // 修改登录用户 的 Token
                store.dispatch("setOrgAction", d.org_id); // 修改登录用户的org_id
                let arr: any = JSON.parse(JSON.stringify(d.menu)),arr1: any = [],arr2:any={}; //arr2是配置页面内权限
                console.log(d.menu);
                
                let Obj: any = {
                  系统设置: "systemmanage",
                  人员管理: "usersmanage",
                  预警配置: "warningmanage",
                  房屋管理: "housemanage",
                  车辆管理: "carmanage",
                  党建管理: "partybuildchmanage",
                  在线治理: "securitymanage", 
                  智慧物管: "propertymanage",
                  智慧防疫: "antiepidemicmanage",
                  惠民活动: "activitymanage",
                  文件: "filemanage",
                };
                arr.map((item: any, index: number) => {
                  if(item.label){
                    item.routes = Obj[item.label];
                    item.routesIndex = index;
                    let ars: any = [];
                    item.sub.map((val: any) => {
                      if (val.show&&val.label) {
                        ars.push(val);
                      }
                      // 这里是配置页面内权限
                      arr2[val.component] = {};
                      if(val.sub.length>0&&val.sub){
                        val.sub.map((ev:any)=>{
                          arr2[val.component][ev.component] = ev;
                        });
                      }
                    });
                    item.sub = JSON.parse(JSON.stringify(ars));
                    if(item.sub.length>0){
                      arr1.push(item);
                    }
                  }
                });
                // 获取权限
                console.log(arr2);
                console.log(arr1);
                store.dispatch("setMenuAction", arr1); // 修改登录用户 的 Token
                store.dispatch("setPageAuAction",arr2);//配置页面内权限
                this.getAllMenu(() => {
                  // 路由修改
                  this.$router.push({
                    path: arr1[0]["routes"],
                    query: {
                      type: "0",
                      component: arr1[0]["sub"][0]["component"],
                      routesIndex: 0
                    },
                  });
                  // 获取组织架构 属于社区获取社区组织 没有则是街道获取街道组织
                  let da:any = {
                    leave: d.org_id?"2":"0",//0街道全部 1只显示社区 2指定社区下的部门
                    org_id: d.org_id||""
                  };
                  (this as any).axios.post("manager/organization/list", da, {headers: { token: (this as any).$store.state.token },}).then((e:any)=>{
                    if (e.status === 200) {
                        let d: any = e.data;
                        if (d.success) {
                            let list:any = JSON.parse(JSON.stringify(d.msg.list));
                            let arr1:any = [];
                            let arr2:any = [];
                            list.map((e:any)=>{
                                e.children = [],
                                e.id.length===2?arr1.push(e):arr2.push(e);
                            });
                            arr2.map((e:any)=>{
                                let v:any = e.id.substring(0,2);
                                arr1.map((ev:any)=>{
                                    if(ev.id===v){
                                        let o:any = {
                                            id: e.id,
                                            name:e.name
                                        }
                                        ev.children.push(o);
                                    }
                                });
                            });
                            // console.log(arr1);
                            store.dispatch("setOrgListAction", arr1);
                        }else{
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                  })
                });
              } else {
                (this as any).$message.error(e.data.err);
              }
            })
            .catch(() => {
              this.fullscreenLoading = false;
            });
        } else {
          // console.log("error submit!!");
          return false;
        }
      });
    },
    // 获取所有的权限列表
    getAllMenu(callback: any = null) {
      (this as any).axios.post("manager/menu",{},{headers:{token:(this as any).$store.state.token},}).then((t: any) => {
          if (t.status == 200) {
            if (t.data.success) {
              (this as any).$store.dispatch("setAllPowerMenuAction",t.data.msg);
              callback && callback();
            }
          }
        })
        .catch((err: any) => {
          console.error(err);
        });
    },
    resetForm(formName: any) {
      (this as any).$refs[formName].resetFields();
    },
  },
});
</script>

<style lang="scss" scoped>
.loginBg {
  text-align: left;width: 100vw;height: 100vh;overflow: hidden;display: flex;flex-direction: column;justify-content: space-between;align-items: center;
}
.login_c {
  position: absolute;width: 100vw;height: 100vh;display: flex;align-items: center;justify-content: center;
  .center {
    padding: 20px 60px; box-sizing: border-box;background: #fff;border-radius: 20px;margin-top: 60px;
    display: table-cell;vertical-align: middle; box-shadow: 5px 5px 36px 10px rgba(0, 0, 0, 0.06);
    .title {
      text-align: center;font-size: $font-size-24;margin-bottom: 20px;
    }
  }
}
.bg-top{
  width: 100vw;height: 50vh;background: $--color-primary;display: flex;flex-direction: column;align-items: center;justify-content: space-between; padding-top: 120px;box-sizing: border-box;
  .t{color: #fff;font-size: 40px;letter-spacing: 2px;}
}
.base-t{color: #999;font-size: $font-size-12;letter-spacing: 2px;margin-bottom: 20px;letter-spacing: 1px;}

.checkbox {
  text-align: left;
  margin: 40px 0;
  text{
      font-weight: 700;
      margin-right: 20px;
      color:#606266;
  }
}
.el-form-item {
  border-bottom: 1px solid $--color-primary;
}
/deep/.el-input__inner{
    border:0;
}
/deep/.el-form-item__label{
    text-align: left;
    font-weight: 700;
}
.button{
    display: flex;
    justify-content: space-between;
    div{
        border-radius: 3px;
        color:#ffffff;
        font-weight: 700;
        background-color: $--color-primary;
        text-align: center;
        line-height: 40px;
        width: 40%;
        cursor: pointer;
    }
}
</style>