<template>
  <div class="main-component-box">
    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入房屋号" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-select v-model="query.state" placeholder="房屋状态" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in states" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加房屋</el-button>
      </div>
    </div>
    <div class="tableBox">
      <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="code" label="房屋号"></el-table-column>
            <el-table-column prop="water_id" label="水司户号"></el-table-column>
            <el-table-column prop="fullname" label="所属社区"></el-table-column>
            <el-table-column prop="builder" label="建筑年份"></el-table-column>
            <el-table-column prop="area" label="建筑面积"></el-table-column>
            <el-table-column prop="type" label="房屋用处" >
              <template #default="props"><span>{{typelist[props.row.type].title||''}}</span></template>
            </el-table-column>
            <el-table-column prop="renting" label="是否群租" >
              <template #default="props"><span>{{props.row.renting==='1'?'群租':'非群租'}}</span></template>
            </el-table-column>
            <el-table-column prop="cou" label="住户">
              <template #default="props"><span class="cous" @click="showdialog('dialogTable',props.row.id)">{{props.row.cou||0}}</span></template>
            </el-table-column>
            <el-table-column prop="state" label="状态" width="150">
              <template #default="props">
                <el-switch v-model="props.row.state" active-color="#13ce66" active-text="正常" active-value="1" inactive-color="#ff4949" inactive-text="停用" inactive-value="0" @change="setHouseState(props.$index, props.row)" :disabled="!pageAuthority.edit"></el-switch>
              </template>
            </el-table-column>
            <el-table-column label="编辑"  width="200">
                <template #default="scope">
                    <el-button size="mini" type="success" @click="showAddUser(scope.row)" :disabled="!pageAuthority.user_add">添加用户</el-button>
                    <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 类型 小区名 所属建筑 单元 房源号 面积  -->
    <el-drawer :title="id?'编辑':'添加'+'房屋'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
      <div class="edit" v-if="drawerFormVisible">
        <el-form ref="from" :model="d" label-width="90px" @close="closeDialog()" style="width:96%;">
            <el-form-item :rules="[ { required: true, message: '请选择社区'} ]" label="所属社区" prop="org_id">
                <el-select v-model="d.org_id" placeholder="请选择" clearable>
                    <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '请选择房屋类型'} ]" label="房屋类型" prop="type" size="small">
                <el-select v-model="d.type" placeholder="请选择">
                    <el-option v-for="item in typelist" :key="item.id" :label="item.title" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '请选择是否群租'} ]" label="是否群租" prop="renting" size="small" v-if="d.type=='1'">
                <el-select v-model="d.renting" placeholder="请选择">
                    <el-option v-for="item in rentlist" :key="item.id" :label="item.title" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
          <el-form-item :rules="[ { required: true, message: '房屋号不能为空'} ]" label="房屋号" prop="code">
            <el-input autocomplete="off" placeholder="XX小区XX栋XX单元XXX"  clearable v-model="d.code"></el-input>
          </el-form-item>
          <el-form-item label="水司户号" prop="water_id">
            <el-input autocomplete="off"  clearable v-model="d.water_id"></el-input>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '面积不能为空'} ]" label="面积/㎡" prop="area">
            <el-input autocomplete="off" type="number" clearable v-model="d.area"></el-input>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '年份不能为空'} ]" label="建造年份" prop="builder">
            <el-input autocomplete="off" type="number" clearable v-model="d.builder"></el-input>
          </el-form-item>
          <el-form-item>
              <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                  <el-button @click="closeDialog()">取 消</el-button>
                  <el-button type="primary" @click="submitForm('from')">确 定</el-button>
              </div>
          </el-form-item>
        </el-form>
      </div>
    </el-drawer>

    <!-- 预览 -->
    <el-dialog :title="dialogTitle" v-model="dialogVisible">
        <div v-if="dialogHtml" v-html="dialogHtml"></div>
        <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
        <!-- 表格 -->
        <div v-if="dialogTable.length!=0">
            <el-table :data="dialogTable" style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="住户"></el-table-column>
                <el-table-column prop="mobile" label="联系电话"></el-table-column>
                <el-table-column prop="sex" label="性别">
                    <template #default="props"><span>{{props.row.sex==='1'?'男':'女'}}</span></template>
                </el-table-column>
                <el-table-column prop="head" label="是否户主">
                    <template #default="props"><span>{{props.row.head==='1'?'户主':'非户主'}}</span></template>
                </el-table-column>
                <el-table-column prop="live" label="状态" width="180">
                    <template #default="props">
                        <el-switch v-model="props.row.live" active-color="#13ce66" active-text="居住" active-value="1" inactive-color="#ff4949" inactive-text="不居住" inactive-value="0" @change="setUser_live(props.$index, props.row.userid)" :disabled="!pageAuthority.user_live"></el-switch>
                    </template>
                </el-table-column>
                <el-table-column label="编辑"  width="100">
                    <template #default="scope">
                        <el-popconfirm
                                confirmButtonText='好的'
                                cancelButtonText='不用了'
                                @confirm="delUser(scope.$index,scope.row.userid)"
                                icon="el-icon-info"
                                iconColor="red"
                                title="确定要从该房屋中移除吗？">
                            <template #reference>
                                <el-button size="mini" type="danger" :disabled="!pageAuthority.user_delete">移除</el-button>
                            </template>
                        </el-popconfirm>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-dialog>

    <!-- 房屋添加用户 -->
    <el-dialog v-model="addUserdialogVisible" :title="houseTitle+'  添加用户'">
        <el-form v-if="addUserdialogVisible" ref="from_adduser" :model="user_add" label-width="90px" @close="closeAdduserDialog()" style="width:96%;">
            <el-form-item :rules="[ { required: true, message: '请选择用户'} ]" label="用户" prop="userid" size="small">
                <el-select v-model="user_add.userid" placeholder="请选择" filterable>
                    <el-option v-for="item in userslist" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '请选择是否户主'} ]" label="是否户主" prop="head" size="small">
                <el-select v-model="user_add.head" placeholder="请选择">
                    <el-option v-for="item in heads" :key="item.id" :label="item.title" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '请选择是否居住'} ]" label="是否居住" prop="live" size="small">
                <el-select v-model="user_add.live" placeholder="请选择">
                    <el-option v-for="item in lives" :key="item.id" :label="item.title" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="closeAdduserDialog()">取 消</el-button>
                    <el-button type="primary" @click="submiUsertForm('from_adduser')">确 定</el-button>
                </div>
            </el-form-item>
        </el-form>
    </el-dialog>
  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "house",
        setup() {
            return reactive({
              pageAuthority:{},
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogImage: '',
              dialogHtml: '',
              dialogTable: [],
              dialogTitle: '',
              dialogVisible: false,
              user_live: {
                "house_id":"",
                "userid":""
              },

              addUserdialogVisible: false,
              houseTitle: '',
              user_add: {
                "house_id":"",
                "userid":"",
                "head":"",
                "live":""
              },
              userslist: [],

              drawerFormVisible:false,
              id:'',
              d: {
                "id":0,
                "org_id":"",
                "code":"",
                "water_id":"",
                "type":"",
                "renting":"0",
                "builder":"",
                "area": "",
              },
              typelist: [{id:"0",title: '空置'},{id:"1",title:'出租'},{id:"2",title:'自住'},{id:"3",title:'其他'}],
              rentlist: [{id:"0",title: '非群租'},{id:"1",title:'群租'}],
              states: [{id:"0",title: '停用'},{id:"1",title:'正常'}],
              heads: [{id:"0",title: '非户主'},{id:"1",title:'户主'}],
              lives: [{id:"0",title: '不居住'},{id:"1",title:'居住'}],
              query:{
                  key: '',
                  state: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
              org_id: '',
              orgList: []
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.house;//获取当前页面权限
            this.org_id = (this as any).$store.state.org_id;
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
            this.getuserslist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":0,
                        "org_id":"",
                        "code":"",
                        "water_id":"",
                        "type":"",
                        "renting":"0",
                        "builder":"",
                        "area": "",
                    }
                    this.d = Object.assign({}, d);
                }
            },
            addUserdialogVisible(v:any) {
                if(v===false){
                    let user_add:any = {
                        "house_id":"",
                        "userid":"",
                        "head":"",
                        "live":""
                    }
                    this.user_add = Object.assign({}, user_add);
                }
            },
            dialogVisible(v:any) {
                if(v===false){
                    let user_live:any = {
                       "house_id":"",
                         "userid":""
                    }
                    this.user_live = Object.assign({}, user_live);
                }
            },
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            // 获取用户
            getuserslist(){
              let data:any = {"isworkers":"","s_org_id":(this as any).$store.state.org_id,"leave":""};
              (this as any).axios.post('manager/users/searchList',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                  if (t.status == 200) {
                      if (t.data.success) {
                        let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                        this.userslist = list;
                      } else {
                        this.userslist = [];
                      }
                  }else {
                    this.userslist = [];
                  }
              }) 
            },
            showDrawer(row: any = undefined) {
                this.drawerFormVisible = true;
                if (row) {
                    this.id = row.id;
                    (this as any).axios.post('manager/house/get',{id:this.id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let data:any = JSON.parse(JSON.stringify(t.data.msg));
                                this.d = data;
                                this.$forceUpdate();
                            } else {
                                (this as any).$message.error(t.data.err);
                                this.closeDialog();
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                            this.closeDialog();
                        }
                    })
                }
            },
            closeDialog() {
                this.drawerFormVisible = false;
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/house/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 删除/变更状态
            setHouseState(index: number, row: any) {
                (this as any).axios.post("manager/house/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }else{
                            (this as any).tableData[index].state = (this as any).tableData[index].state==="0"?"1":"0";
                            (this as any).$message.error(e.data.err);  
                        }
                    } else {
                        (this as any).tableData[index].state = (this as any).tableData[index].state==="0"?"1":"0";
                        (this as any).$message.error('请求失败');
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    state: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    state: this.query.state,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/house/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },


            // 添加用户相关
            showAddUser(row:any){
                this.addUserdialogVisible = true;
                this.user_add.house_id = row.id||'0';
                this.houseTitle = row.code;
            },
            closeAdduserDialog(){
                this.addUserdialogVisible = false;
            },
            submiUsertForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.user_add
                        };
                        if(!data.house_id){
                            (this as any).$message.error('未正确选择房屋或未获取到房屋信息，请稍后再试');
                            this.addUserdialogVisible = false;
                            return
                        }
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/house/user_add',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.addUserdialogVisible = false;
                                    this.getData();
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },



            // 查看设置住户相关
            showdialog(key:any,id:any){
                if(key==='dialogTable'){//预览表格
                    if(!(this as any).pageAuthority.user_list){
                        (this as any).$message.error('没有权限查看住户列表');
                        return;
                    }
                    // 获取用户数据
                    this.user_live.house_id = id;
                    (this as any).axios.post('manager/house/user_list',{house_id:id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                                this.dialogTable = list;
                                this.dialogVisible = true;
                            } else {
                                this.dialogTable = [];
                            }
                        }else {
                            this.dialogTable = [];
                        }
                    }) 
                    // this[key] = 
                }
            },
            // 设置用户是否居住
            setUser_live(index: number, id: any) {
                this.user_live.userid = id;
                let data: any = {
                    ...this.user_live
                };
                (this as any).axios.post("manager/house/user_live",data, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                        }else{
                            (this as any).dialogTable[index].live = (this as any).dialogTable[index].live==="0"?"1":"0";
                            (this as any).$message.error(e.data.err);  
                        }
                    } else {
                        (this as any).dialogTable[index].live = (this as any).dialogTable[index].live==="0"?"1":"0";
                        (this as any).$message.error('请求失败');
                    }
                })
            },
            // 从房屋移除用户
            delUser(index: number, id: any) {
                this.user_live.userid = id;
                let data: any = {
                    ...this.user_live
                };
                (this as any).axios.post("manager/house/user_delete",data, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.dialogTable.splice(index,1);
                        }else{
                            (this as any).$message.error(e.data.err);  
                        }
                    } else {
                        (this as any).$message.error('请求失败');
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
  .head{
      .ml10{
          margin-left: 10px;
      }
  }
  /deep/.el-form-item__content{
      text-align: left;
  }
  /deep/ .mce-statusbar{display: none;}
</style>