<template>
    <div>
        <div class="pt10">
            <el-tabs v-model="type" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="mainBox" ref="myRef">
            <!-- 支部管理 -->
            <partyBranch :is="Component" v-if="component==='party_branch'"></partyBranch>
            <!-- 申请管理 -->
            <partyApply :is="Component" v-if="component==='party_apply'"></partyApply>
            <!-- 联审管理 -->
            <partyInspect :is="Component" v-if="component==='party_inspect'"></partyInspect>
            <!-- 资讯管理 -->
            <partyNews :is="Component" v-if="component==='party_news'"></partyNews>
            <!-- 共建单位 -->
            <partyGroup :is="Component" v-if="component==='party_group'"></partyGroup>
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive , ref } from 'vue';
    import partyBranch from './party_branch.vue'
    import partyApply from './party_apply.vue'
    import partyInspect from './party_inspect.vue'
    import partyNews from './party_news.vue'
    import partyGroup from './party_group.vue'

    export default defineComponent({
        name: "partybuildchmanage",
        components:{  partyBranch,partyApply,partyInspect,partyNews,partyGroup },
        setup() {
            const myRef = ref(null);
            return reactive({
                myRef,
                type:'',
                component:'',
                menuInfo:[],
            })
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
            (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight); // 修he
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {
              // 切换tab 高度 重新设置
              (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight);
            }
        },
        methods: {
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component'],
                        routesIndex: (this as any).$route.query.routesIndex
                    }
                })
            },
        }
    })
</script>

<style lang="scss" scoped>
</style>