<template>
  <div class="main-component-box">
    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-select v-model="query.apply" placeholder="审核状态" size="small" class="ml10 filter-item" style="width: 150px;" >
            <el-option v-for="item in applays" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>
    <div class="tableBox">
      <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="recommend_name" label="发布人"></el-table-column>
            <el-table-column prop="name" label="会议名称"></el-table-column>
            <el-table-column prop="day" label="日期"></el-table-column>
            <el-table-column prop="address" label="地点"></el-table-column>
            <el-table-column prop="person" label="参与人员"></el-table-column>
            <el-table-column prop="type" label="会议类别" width="120">
                <template #default="scope">
                    <span>{{types[scope.row.type]}}</span>
                </template>
            </el-table-column>
            <el-table-column prop="branch_name" label="申请所属支部"></el-table-column>
            <el-table-column prop="intime" label="提交时间"></el-table-column>
            <el-table-column prop="apply" label="申请状态" width="120">
                <template #default="scope">
                    <el-tag :type="states[scope.row.apply].type||'info'">{{states[scope.row.apply].title||""}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column label="审核" width="170">
                <template #default="scope">
                    <el-popconfirm
                            confirmButtonText='通过'
                            cancelButtonText='不通过'
                            @confirm="confirm(scope.row.id,1)"
                            @cancel="confirm(scope.row.id,2)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="通过申请吗？" v-if="scope.row.apply==0">
                        <template #reference>
                            <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">审核</el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 预览 -->
    <el-dialog v-model="dialogVisible">
        <img :src="dialogImageUrl" alt="" class="dialogImg">
    </el-dialog>

    <!-- 审核 -->
    <el-dialog title="审核" v-model="applyDialogVisible">
        <el-form v-if="applyDialogVisible" ref="from_appaly" :model="setstateForm" label-width="150px" @close="closeAdduserDialog()" style="width:96%;">
            <el-form-item label="拒绝理由" prop="refuse" size="small">
                <el-input autocomplete="off" placeholder="请输入拒绝理由"  clearable v-model="setstateForm.refuse"></el-input>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="applyDialogVisible=false;">取 消</el-button>
                    <el-button type="primary" @click="subapplyForm('from_appaly')">确 定</el-button>
                </div>
            </el-form-item>
        </el-form>
    </el-dialog>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost, partyImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "party_news",
        setup() {
            return reactive({
              pageAuthority:{},
              imgdownload: partyImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),
              
              dialogImageUrl: '',
              dialogVisible: false,
              
              types:['支委会','党小组会','党员大会','党课学习','主题党日'],
              applays: [{id:0,title: '审核中',type:'info'},{id:1,title:'已审核',type:'success'}],
              states: [{id:"0",title: '申请中',type:'info'},{id:"1",title:'通过',type:'success'},{id:"2",title:'不通过',type:'danger'}],
              ismanagers: [{id:0,title: '不是'},{id:1,title:'是'}],
              query:{
                  apply: 0,
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],

              applyDialogVisible: false,
              setstateForm: {
                    "id":"",
                    "apply": 0,
                    "refuse": "",
              }
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.party_news;//获取当前页面权限
            this.getData();
        },
        watch: {
            applyDialogVisible(v:any) {
                if(v===false){
                    let setstateForm:any = {
                        "id":"",
                        "apply": 0,
                        "refuse": "",
                    }
                    this.setstateForm = Object.assign({}, setstateForm);
                }
            },
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            closeapplyDialog(){},
            // 预览
            handlePreview(file: any) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            // 删除/变更状态
            confirm(id:any,apply:any) {
                this.setstateForm.id = id;
                this.setstateForm.apply = apply;
                if(apply==1){
                    this.subapplyForm('');
                }else{
                    this.applyDialogVisible = true;
                }
            },
            subapplyForm(formName: any) {
                // (this as any).$refs[formName].validate((valid: Boolean) => {
                //     if (valid) {
                        let data: any = {
                            ...this.setstateForm
                        };
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/party_news/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.applyDialogVisible = false;
                                    this.getData();
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    // } else {
                    //     return false;
                    // }
                // })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    apply: number,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    apply: this.query.apply,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/party_news/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },

        }
    })
</script>

<style lang="scss" scoped>
  .head{
      .ml10{
          margin-left: 10px;
      }
  }
  /deep/.el-form-item__content{
      text-align: left;
  }
  /deep/ .mce-statusbar{display: none;}
</style>
