<template>
  <div class="main-component-box">
    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">新建共建单位</el-button>
        <!-- <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">编辑共建单位</el-button> -->
      </div>
    </div>
    <div class="tableBox">
      <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="name" label="支部名称"></el-table-column>
            <el-table-column prop="num" label="数量"></el-table-column>
            <el-table-column label="编辑">
                <template #default="scope">
                    <el-button size="mini" @click="showDrawer(scope.row,scope.$index)" :disabled="!pageAuthority.edit">编辑</el-button>
                    <el-popconfirm
                            confirmButtonText='好的'
                            cancelButtonText='不用了'
                            @confirm="del(scope.$index, scope.row)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="这是一段内容确定删除吗？">
                        <template #reference>
                            <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">删除</el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <!-- 编辑-->
    <el-drawer title="共建单位" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
        <div class="edit" v-if="drawerFormVisible">
            <el-form ref="from" :model="form" label-width="80px" @close="closeDrawer()" style="width:96%;">
                <el-form-item  class="guige-box mb20">
                    <el-form-item label="单位名称" prop="name" :rules="[ { required: true, message: '单位名称为空'} ]">
                        <el-input clearable v-model="form.name" class="mb10"></el-input>
                    </el-form-item>
                    <el-form-item label="数量" prop="num" :rules="[ { required: true, message: '数量不能为空'} ]">
                        <el-input type="number" clearable v-model="form.num"></el-input>
                    </el-form-item>
                </el-form-item>
                <el-form-item>
                    <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                        <el-button @click="closeDrawer()">取 消</el-button>
                        <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                    </div>
                </el-form-item>
            </el-form>
        </div>
    </el-drawer>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "party_group",
        setup() {
            return reactive({
              pageAuthority:{},
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              drawerFormVisible:false,
              d: {
                "json": []
              },
              form:{
                  name:'',num:0
              },
              fIdx: null,
              tableData:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.party_branch;//获取当前页面权限
            this.getData();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    this.fIdx =null;
                    this.form = {
                    name:'',num:0
                    };
                }
            },
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            showDrawer(row: any = undefined,i:any=null) {
                if(row){
                    this.fIdx =i;
                    this.form = row;
                }
                this.drawerFormVisible = true;
            },
            closeDrawer(){
                this.drawerFormVisible = false;
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        if(this.fIdx==0||this.fIdx){
                            (this as any).tableData[(this as any).fIdx] = this.form;
                        }else{
                            (this as any).tableData.push(this.form);
                        }
                        let data: any = JSON.stringify((this as any).tableData);
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/party_group/design',{json:data},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData();
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 获取列表
            getData() {
                (this as any).axios.post('manager/party_group/list',{},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            let data = JSON.parse(JSON.stringify(d.msg));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            del(i:any){
                let d = (this as any).tableData;
                d.splice(i,1);
                console.log(d);
                let data = JSON.stringify(d);
                // return 
                (this as any).axios.post('manager/party_group/design',{json:data},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                    if (t.status == 200) {
                        if (t.data.success) {
                            this.drawerFormVisible = false;
                            this.getData();
                            (this as any).$message.success('成功');
                        } else {
                            (this as any).$message.error(t.data.err);
                        }
                    } else {
                        (this as any).$message.error('请求失败');
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
  .head{
      .ml10{
          margin-left: 10px;
      }
  }
  /deep/.el-form-item__content{
      text-align: left;
  }
  /deep/ .mce-statusbar{display: none;}
</style>
