<template>
  <div class="main-component-box">
    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入申请人" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>
    <div class="tableBox">
      <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="name" label="申请人"></el-table-column>
            <el-table-column prop="cover" label="申请照片" width="120">
              <template #default="props">
                <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.img" @click="handlePreview({url:imgdownload + props.row.img})"></el-image>
              </template>
            </el-table-column>
            <el-table-column prop="idcard" label="身份证"></el-table-column>
            <el-table-column prop="mobile" label="电话"></el-table-column>
            <el-table-column prop="branchname" label="申请所属支部"></el-table-column>
            <el-table-column prop="intime" label="申请时间"></el-table-column>
            <el-table-column prop="ismember" label="申请状态" width="120">
                <template #default="scope">
                    <el-tag :type="states[scope.row.ismember].type||'info'">{{states[scope.row.ismember].title||""}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="passtime" label="变更时间"></el-table-column>
            <el-table-column label="审核" width="170">
                <template #default="scope">
                    <el-popconfirm
                            confirmButtonText='通过'
                            cancelButtonText='不通过'
                            @confirm="confirm(scope.row.userid,1)"
                            @cancel="confirm(scope.row.userid,2)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="通过申请吗？" v-if="scope.row.ismember==0">
                        <template #reference>
                            <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">审核</el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 预览 -->
    <el-dialog v-model="dialogVisible">
        <img :src="dialogImageUrl" alt="" class="dialogImg">
    </el-dialog>

    <!-- 审核 -->
    <el-dialog title="审核" v-model="applyDialogVisible">
        <el-form v-if="applyDialogVisible" ref="from_appaly" :model="setstateForm" label-width="150px" @close="closeAdduserDialog()" style="width:96%;">
            <el-form-item :rules="[ { required: true, message: '请选择是否劳务工作者'} ]" label="是否劳务工作者" prop="ismanager" size="small" v-if="setstateForm.ismember===1">
                <el-select v-model="setstateForm.ismanager" placeholder="请选择">
                    <el-option v-for="item in ismanagers" :key="item.id" :label="item.title" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="拒绝理由" prop="refuse" size="small" v-else-if="setstateForm.ismember===2">
                <el-input autocomplete="off" placeholder="请输入拒绝理由"  clearable v-model="setstateForm.refuse"></el-input>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="applyDialogVisible=false;">取 消</el-button>
                    <el-button type="primary" @click="subapplyForm('from_appaly')">确 定</el-button>
                </div>
            </el-form-item>
        </el-form>
    </el-dialog>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost, partyImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "party_apply",
        setup() {
            return reactive({
              pageAuthority:{},
              imgdownload: partyImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),
              
              dialogImageUrl: '',
              dialogVisible: false,
              
              states: [{id:"0",title: '申请中',type:'info'},{id:"1",title:'通过',type:'success'},{id:"2",title:'不通过',type:'danger'}],
              ismanagers: [{id:0,title: '不是'},{id:1,title:'是'}],
              query:{
                  key: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],

              applyDialogVisible: false,
              setstateForm: {
                "userid":"",
                "ismember":"",
                "ismanager":0,
                "refuse":""
              }
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.party_apply;//获取当前页面权限
            this.getData();
        },
        watch: {
            applyDialogVisible(v:any) {
                if(v===false){
                    let setstateForm:any = {
                        "userid":"",
                        "ismember":"",
                        "ismanager":"",
                        "refuse":""
                    }
                    this.setstateForm = Object.assign({}, setstateForm);
                }
            },
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            closeapplyDialog(){},
            // 预览
            handlePreview(file: any) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            // 删除/变更状态
            confirm(userid:any,ismember:any) {
                this.setstateForm.userid = userid;
                this.setstateForm.ismember = ismember;
                this.applyDialogVisible = true;
            },
            subapplyForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.setstateForm
                        };
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/party_apply/setstate',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.applyDialogVisible = false;
                                    this.getData();
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/party_apply/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },

        }
    })
</script>

<style lang="scss" scoped>
  .head{
      .ml10{
          margin-left: 10px;
      }
  }
  /deep/.el-form-item__content{
      text-align: left;
  }
  /deep/ .mce-statusbar{display: none;}
</style>
