<template>
  <div class="main-component-box">
    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-select v-model="query.apply" placeholder="联审状态" size="small" class="ml10 filter-item" style="width: 150px;" >
            <el-option v-for="item in applays" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>
    <div class="tableBox">
      <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="recommend_name" label="推荐人姓名"></el-table-column>
            <el-table-column prop="name" label="姓名"></el-table-column>
            <el-table-column prop="sex" label="性别" width="60">
              <template #default="props"><span>{{props.row.sex=='1'?'男':'女'}}</span></template>
            </el-table-column>
            <el-table-column prop="idcard" label="身份证"></el-table-column>
            <el-table-column prop="mobile" label="电话"></el-table-column>
            <el-table-column prop="time1" label="入党时间"></el-table-column>
            <el-table-column prop="type" label="类别" width="120">
              <template #default="props"><span>{{props.row.type=='0'?'发展对象联审':'转正联审'}}</span></template>
            </el-table-column>
            <el-table-column prop="house" label="房屋情况">
              <template #default="props">
                  <div v-for="(v,i) in props.row.house" :key="i">{{v}}</div>
              </template>
            </el-table-column>
            <el-table-column prop="branch_name" label="申请所属支部"></el-table-column>
            <el-table-column prop="intime" label="推荐时间"></el-table-column>
            <el-table-column prop="ismember" label="申请状态" width="120">
                <template #default="scope">
                    <el-tag :type="states[scope.row.apply].type||'info'">{{states[scope.row.apply].title||""}}</el-tag>
                </template>
            </el-table-column>
            <!-- <el-table-column prop="passtime" label="变更时间"></el-table-column> -->
            <el-table-column label="审核" width="170">
                <template #default="scope">
                    <el-button size="mini" type="danger" @click="confirm(scope.row.id)" v-if="scope.row.apply==0" :disabled="!pageAuthority.edit">审核</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 预览 -->
    <el-dialog v-model="dialogVisible">
        <img :src="dialogImageUrl" alt="" class="dialogImg">
    </el-dialog>

    <!-- 审核 -->
    <el-dialog title="审核" v-model="applyDialogVisible">
        <el-form v-if="applyDialogVisible" ref="from_appaly" :model="setstateForm" label-width="170px" @close="closeAdduserDialog()" style="width:96%;">
            <el-form-item label="各部门意见:" :rules="[{ required: true, message: '请先选择部门意见'}]" prop="applyjson" size="small">
                <el-form-item v-for="(v,idx) in setstateForm.applyjson" :key="idx">
                    <el-form-item :label="v.t+':'" :prop="'applyjson.'+idx+'.'+v.t+'.apply'" size="small" :rules="[{ required: true, message: '请先选择部门意见'}]">
                        <el-radio-group v-model="setstateForm.applyjson[idx][v.t].apply">
                            <el-radio :label="1">通过</el-radio>
                            <el-radio :label="2">不通过</el-radio>
                        </el-radio-group>
                        <el-input autocomplete="off" v-if="setstateForm.applyjson[idx][v.t].apply==2" placeholder="请输入拒绝理由"  clearable v-model="setstateForm.applyjson[idx][v.t].refuse"></el-input>
                    </el-form-item>
                </el-form-item>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="applyDialogVisible=false;">取 消</el-button>
                    <el-button type="primary" @click="subapplyForm('from_appaly')">确 定</el-button>
                </div>
            </el-form-item>
        </el-form>
    </el-dialog>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost, partyImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "party_inspect",
        setup() {
            return reactive({
              pageAuthority:{},
              imgdownload: partyImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),
              
              dialogImageUrl: '',
              dialogVisible: false,
              
              applays: [{id:0,title: '审核中',type:'info'},{id:1,title:'已审核',type:'success'}],
              states: [{id:0,title: '审核中',type:'info'},{id:1,title:'通过',type:'success'},{id:2,title:'不通过',type:'danger'}],
              query:{
                  apply: 0,
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],

              applyDialogVisible: false,
              setstateForm: {
                "id":"",
                "apply": 0,
                "applyjson": [
                    {"综治中心意见":{apply:0,refuse:""},t:"综治中心意见"},
                    {"计生办意见":{apply:0,refuse:""},t:"计生办意见"},
                    {"自然资源和规划部门":{apply:0,refuse:""},t:"自然资源和规划部门"},
                    {"综合执法部门":{apply:0,refuse:""},t:"综合执法部门"},
                    {"公安（派出所）意见":{apply:0,refuse:""},t:"公安（派出所）意见"},
                    {"市场监管部门意见":{apply:0,refuse:""},t:"市场监管部门意见"},
                    {"街道办意见":{apply:0,refuse:""},t:"街道办意见"},
                ],
              },
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.party_inspect;//获取当前页面权限
            this.getData();
        },
        watch: {
            applyDialogVisible(v:any) {
                if(v===false){
                    let setstateForm:any = {
                        "id":"",
                        "apply": 0,
                        "applyjson": [
                            {"综治中心意见":{apply:0,refuse:""},t:"综治中心意见"},
                            {"计生办意见":{apply:0,refuse:""},t:"计生办意见"},
                            {"自然资源和规划部门":{apply:0,refuse:""},t:"自然资源和规划部门"},
                            {"综合执法部门":{apply:0,refuse:""},t:"综合执法部门"},
                            {"公安（派出所）意见":{apply:0,refuse:""},t:"公安（派出所）意见"},
                            {"市场监管部门意见":{apply:0,refuse:""},t:"市场监管部门意见"},
                            {"街道办意见":{apply:0,refuse:""},t:"街道办意见"},
                        ],
                    }
                    this.setstateForm = Object.assign({}, setstateForm);
                }
            },
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            closeapplyDialog(){},
            // 预览
            handlePreview(file: any) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            // 删除/变更状态
            confirm(id:any) {
                this.setstateForm.id = id;
                this.applyDialogVisible = true;
            },
            subapplyForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.setstateForm
                        };
                        let applyjson:any = data.applyjson;
                        let applys:any = 0;
                        applyjson.map((e:any)=>{
                            applys += e[e.t].apply;
                        })
                        let apply:any = applys-6<1?0:(applys-6>1?2:1);
                        if(apply===0){
                            (this as any).$message.error('请勾选审核意见');
                            return;
                        }
                        data.apply = apply;
                        let stringify:any = JSON.stringify(data.applyjson);
                        data.applyjson = stringify;
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/party_inspect/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.applyDialogVisible = false;
                                    this.getData();
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    apply: number,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    apply: this.query.apply,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/party_inspect/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },

        }
    })
</script>

<style lang="scss" scoped>
  .head{
      .ml10{
          margin-left: 10px;
      }
  }
  /deep/.el-form-item__content{
      text-align: left;
  }
  /deep/ .mce-statusbar{display: none;}
</style>