<template>
    <div class="main-component-box">
          
        <div class="head">
          <i @click="getData()" class="el-icon-refresh"></i>
          <div class="left filter-container">
            <el-input placeholder="请输入车牌号" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
            <el-select v-model="query.state" placeholder="车辆状态" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
                <el-option v-for="item in states" :key="item.id" :label="item.title" :value="item.id">
                </el-option>
            </el-select>
            <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
          </div>
          <div class="right">
            <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加车辆</el-button>
          </div>
        </div>

        <div class="tableBox">
            <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="车主"></el-table-column>
                <el-table-column prop="fullname" label="所属社区"></el-table-column>
                <el-table-column prop="license" label="车牌号"></el-table-column>
                <el-table-column prop="type" label="类型">
                  <template #default="props"><span>{{typelist[props.row.type].title||''}}</span></template>
                </el-table-column>
                <el-table-column prop="brand" label="品牌型号"></el-table-column>
                <el-table-column prop="seat" label="座位数"></el-table-column>
                <el-table-column prop="state" label="状态" width="150">
                  <template #default="props">
                    <el-switch v-model="props.row.state" active-color="#13ce66" active-text="正常" active-value="1" inactive-color="#ff4949" inactive-text="停用" inactive-value="0" @change="del(props.$index, props.row)" :disabled="!pageAuthority.edit"></el-switch>
                  </template>
                </el-table-column>
                <el-table-column label="编辑"  width="90">
                    <template #default="scope">
                        <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

        <!-- 车主 类型 车牌号 品牌型号  -->
        <el-drawer :title="id?'编辑':'添加'+'车辆'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
          <div class="edit" v-if="drawerFormVisible">
            <el-form ref="from" :model="d" label-width="90px" @close="closeDialog()" style="width:96%;">
                <el-form-item :rules="[ { required: true, message: '请选择车主'} ]" label="车主" prop="userid" size="small">
                    <el-select v-model="d.userid" placeholder="请选择" filterable>
                        <el-option v-for="item in userslist" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item :rules="[ { required: true, message: '请选择类型'} ]" label="类型" prop="type" size="small">
                    <el-select v-model="d.type" placeholder="请选择">
                        <el-option v-for="item in typelist" :key="item.id" :label="item.title" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
              <el-form-item :rules="[ { required: true, message: '车牌号不能为空'} ]" label="车牌号" prop="license">
                <el-input autocomplete="off" clearable v-model="d.license"></el-input>
              </el-form-item>
              <el-form-item :rules="[ { required: true, message: '品牌型号不能为空'} ]" label="品牌型号" prop="brand">
                <el-input autocomplete="off" clearable v-model="d.brand"></el-input>
              </el-form-item>
              <el-form-item :rules="[ { required: true, message: '座位数不能为空'} ]" label="座位数" prop="seat">
                <el-input autocomplete="off" type="number" clearable v-model="d.seat"></el-input>
              </el-form-item>
              <el-form-item>
                  <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                      <el-button @click="closeDialog()">取 消</el-button>
                      <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                  </div>
              </el-form-item>
            </el-form>
          </div>
        </el-drawer>

        <!-- 预览 -->
        <el-dialog v-model="dialogVisible"> <img :src="dialogImageUrl" alt="" class="dialogImg"> </el-dialog>
        
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "car",
        setup() {
            return reactive({
              pageAuthority:{},
              uploadHost: uploadHost(),
              ossHost: ossHost(),
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "id":0,
                "userid":"",
                "type":"",
                "license":"",
                "brand":"",
                "seat":""
              },
              typelist: [{id:"0",title: '轿车'},{id:"1",title:'货车'},{id:"2",title:'客车'}],
              states: [{id:"0",title: '停用'},{id:"1",title:'正常'}],
              query:{
                  key: '',
                  state: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 50,
              tableData:[],
              userslist:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.car;//获取当前页面权限
            this.getData();
            this.getuserslist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":0,
                      "userid":"",
                      "type":"",
                      "license":"",
                      "brand":"",
                      "seat":""
                    }
                    this.d = Object.assign({}, d);
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            // 获取用户
            getuserslist(){
              let data:any = {"isworkers":"","s_org_id":(this as any).$store.state.org_id,"leave":""};
              (this as any).axios.post('manager/users/searchList',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                  if (t.status == 200) {
                      if (t.data.success) {
                        let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                        this.userslist = list;
                      } else {
                        this.userslist = [];
                      }
                  }else {
                    this.userslist = [];
                  }
              }) 
            },
            closeDialog() {
                this.drawerFormVisible = false;
            },
            showDrawer(row: any = undefined) {
                this.drawerFormVisible = true;
                if (row) {
                    this.id = row.id;
                    (this as any).axios.post('manager/car/get',{id:this.id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let data:any = JSON.parse(JSON.stringify(t.data.msg));
                                // delete data.state;
                                this.d = data;
                                this.$forceUpdate();
                            } else {
                                (this as any).$message.error(t.data.err);
                                this.closeDialog();
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                            this.closeDialog();
                        }
                    })
                }
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/car/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                        
                    } else {
                        return false;
                    }
                })
            },
            // 删除/变更状态
            del(index: number, row: any) {
                (this as any).axios.post("manager/car/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }else{
                            (this as any).tableData[index].state = (this as any).tableData[index].state==="0"?"1":"0";
                            (this as any).$message.error(e.data.err);  
                        }
                    } else {
                        (this as any).tableData[index].state = (this as any).tableData[index].state==="0"?"1":"0";
                        (this as any).$message.error('请求失败');
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    state: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    state: this.query.state,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/car/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
  .head{
      .ml10{
          margin-left: 10px;
      }
  }
  /deep/.el-form-item__content{
      text-align: left;
  }
  /deep/ .mce-statusbar{display: none;}
</style>