<template>
  <div class="bmap">
    <div id="allmap" :style="style"></div>
  </div>
</template>

<script lang="ts">
  export default {
    name: 'BMap',
    props: {
      // 样式-自定义传入
      style:{
        type:String,default:"width:100%;height:400px"
      },
      // 经纬度
      location: {
        type: String,
        default: ''
      },
      // 缩放等级
      scale:{
        type:Number,
        default:20
      }
    },
    data(){
      return {
        map:null,
        latNumber:'',
        lngNumber:'',
      }
    },
    mounted() {
      let location:any = (this as any).location.split(',');
      (this as any).lngNumber = location[0];
      (this as any).latNumber = location[1];
      // 百度地图API功能
      let map:any = new (window as any).BMap.Map("allmap");
      map.enableScrollWheelZoom(true); // 开启鼠标滚轮缩放
      let point:any = new (window as any).BMap.Point((this as any).lngNumber,(this as any).latNumber);
      map.centerAndZoom(point,(this as any).scale);
      //// 创建标注
      let marker:any = new (window as any).BMap.Marker(point,{enableDragging: false});
      map.addOverlay(marker);// 将标注添加到地图中
      (this as any).map = map;
    },
    watch:{
    },
    methods:{
    }
  }
</script>

<style scoped lang="scss">
  #allmap {

    padding-top: 10px;
  }
</style>