<template>
  <div class="main-component-box">
    <!--具体选项 预约人员情况 -->
    <appointments v-if="componentData.type==='appointments'" :name="componentData.name" :id="componentData.id" @childBack="childBack"></appointments>
    <div class="main-component" v-else>
      <div class="head">
        <i @click="getData()" class="el-icon-refresh"></i>
        <div class="left filter-container">
          <el-input placeholder="请输入疫苗预约名称" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
          <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
        </div>
        <div class="right">
          <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加疫苗预约</el-button>
        </div>
      </div>

      <div class="tableBox">
          <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
              <template #empty>
                  <span style="color: #969799;">没有更多数据</span>
              </template> 
              <el-table-column prop="title" label="预约名称"></el-table-column>
              <el-table-column prop="cover" label="图片">
                <template #default="props">
                  <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.imgs.split(',')[0]" @click="showDialog('dialogArrImage',props.row.imgs)"></el-image>
                </template>
              </el-table-column>
              <!-- <el-table-column prop="msg" label="预预内容">
                <template #default="scope">
                  <el-button size="mini" @click="showDialog('dialogHtml',scope.row.msg,scope.row.title)">查看预约内容</el-button>
                </template>
              </el-table-column> -->
              <el-table-column prop="maxuser" label="可预约人数"></el-table-column>
              <el-table-column prop="cou" label="已预约">
                  <template #default="scope"><span class="cous" @click="showlistuser(scope.row)">{{scope.row.cou}}</span></template>
              </el-table-column>
              <el-table-column prop="starttime" label="开始时间" width="170"></el-table-column>
              <el-table-column label="编辑" width="170">
                  <template #default="scope">
                      <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                      <el-popconfirm
                              confirmButtonText='好的'
                              cancelButtonText='不用了'
                              @confirm="del(scope.$index, scope.row)"
                              icon="el-icon-info"
                              iconColor="red"
                              title="这是一段内容确定删除吗？">
                          <template #reference>
                              <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">删除</el-button>
                          </template>
                      </el-popconfirm>
                  </template>
              </el-table-column>
          </el-table>
      </div>

      <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

      <!-- 预约标题 预约内容 预约图片 最大可预约人数 开始时间-->
      <el-drawer :title="(id?'编辑':'添加')+'预约'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
        <div class="edit" v-if="drawerFormVisible">
          <el-form ref="from" :model="d" label-width="90px" @close="closeDrawer()" style="width:96%;">
            <el-form-item :rules="[ { required: true, message: '预约标题不能为空'} ]" label="预约标题" prop="title">
              <el-input autocomplete="off" clearable v-model="d.title"></el-input>
            </el-form-item>
            <el-form-item label="选择社区" prop="org_id" v-if="!org_id">
                <el-select v-model="d.org_id" style="width: 150px;" clearable>
                    <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '预约上限不能为空'} ]" label="预约上限" prop="maxuser">
              <el-input-number v-model="d.maxuser" :min="1" :max="10000"></el-input-number>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '请选择开始时间'} ]" label="开始时间" prop="starttime">
              <el-date-picker v-model="d.starttime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择开始时间"></el-date-picker>
            </el-form-item>
            <el-form-item label="预约图片">
                <el-upload
                        :class="{disabled:uploadDisabled}"
                        class="upload-demo floatLeft"
                        :action="uploadHost"
                        list-type="picture-card"
                        :file-list="fileListImg"
                        :on-success="uploadSuccess"
                        :before-upload="handleBeforeUpload"
                        :on-change="handleLimit"
                        :limit="1"
                        :multiple='false'>
                <template #default><i class="el-icon-plus"></i></template>
                <template #file="{file}">
                    <div>
                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                    <span class="el-upload-list__item-actions">
                        <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemove(file,idx)}"></i></span>
                    </span>
                    </div>
                </template>
                </el-upload>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '预约内容不能为空'} ]" label="预约内容" prop="msg" size="small">
                <Tinymce @update:value="valChange" :value="d.msg"/>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="closeDrawer()">取 消</el-button>
                    <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                </div>
            </el-form-item>
          </el-form>
        </div>
      </el-drawer>

      <!-- 预览 -->
      <el-dialog :title="dialogTitle" v-model="dialogVisible">
        <div v-if="dialogHtml" v-html="dialogHtml"></div>
        <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
        <div v-if="dialogArrImage">
          <img v-for="(v,i) in dialogArrImage.split(',')" :key="i" :src="imgdownload+v" alt="" class="dialogImg" style="margin-bottom:10px;">
        </div>
      </el-dialog>
  </div>
</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost,appointmentsImg} from '@/utils/utils'
    import {mapState} from "vuex";
  import appointments from './appointments.vue';
  import Tinymce from '@/components/Tinymce/index.vue';

    export default defineComponent({
        name: "vaccine",
        components: {Tinymce,appointments},
        setup() {
            return reactive({
              pageAuthority:{},
              org_id: "",//所属组织ID
              orgList: [],//所属组织架构
              componentData: {
                  type: '',
                  name: '',
                  id: ''
              },
              imgdownload: appointmentsImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),
              fileListImg: [],
              uploadDisabled: false,

              dialogImage: '',
              dialogArrImage: '',
              dialogHtml: '',
              dialogTitle: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "id":0,
                "title":"",
                "org_id": '',
                "msg":"",
                "imgs_old":"",
                "imgs":"",
                "maxuser": 1,
                "starttime":""
              },
              workorderTypes: [{id:"1",title: '环境卫生'},{id:"2",title:'五水共治'},{id:"3",title:'疫情防控'},{id:"4",title:'纠纷调解'},{id:"5",title:'月度检查'}],
              userslist: [],
              query:{
                  key: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
              editType: null,//修改类型 edit del
              listEditIdx: null,//当前修改表格行 下标
              listitemEditIdx: null,//当前修改表格行 > 子行 下标
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.vaccine;//获取当前页面权限
            this.org_id = (this as any).$store.state.org_id;
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
            this.getuserslist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":0,
                      "title":"",
                      "org_id": '',
                      "msg":"",
                      "imgs_old":"",
                      "imgs":"",
                      "maxuser": 1,
                      "starttime":""
                    }
                    this.d = Object.assign({}, d);
                    this.fileListImg = [];
                    this.uploadDisabled = false;
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          uploadSuccess(res: any) {
              this.d.imgs = res.filename;
          },
          handleBeforeUpload(file: any) {
              const isJPG = file.type === "image/jpeg" || file.type === "image/png";
              const isLt2M = file.size / 1024 / 1024 < 2;

              if (!isJPG) {
              console.error('上传头像图片只能是 JPG 格式!');
              }
              if (!isLt2M) {
              console.error('上传头像图片大小不能超过 2MB!');
              }
              return isJPG && isLt2M;
          },
          handleLimit(file: any, fileList: any) {
              if (fileList.length >= 1) {
              this.uploadDisabled = true;
              }
          },
          // 删除图片
          handleRemove() {
            (this as any).d.img = ""
            this.fileListImg = [];
            this.uploadDisabled = false;
          },
          // 获取社工
          getuserslist(){
            let data:any = {"isworkers":"1","s_org_id":(this as any).$store.state.org_id,"leave":"0"};
            (this as any).axios.post('manager/users/searchList',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                      list.map((e:any)=>{
                        e.disabled = e.isworkers!=="1";
                        
                      })
                      this.userslist = list;
                    } else {
                      this.userslist = [];
                    }
                }else {
                  this.userslist = [];
                }
            }) 
          },
          valChange(e: any){
            this.d.msg = e;
          },

          closeDrawer() {
              this.drawerFormVisible = false;
          },
          showDrawer(row: any = undefined) {
              if (row) {
                  this.id = row.id;
                  (this as any).axios.post('manager/vaccine/get',{id:this.id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                      if (t.status == 200) {
                          if (t.data.success) {
                            let data:any = JSON.parse(JSON.stringify(t.data.msg));
                            data.imgs_old = data.imgs;
                            data.maxuser = +data.maxuser;
                            let o:any = {
                              name: '',
                              url: data.imgs?(this.imgdownload+data.imgs):''
                            };
                            this.uploadDisabled = data.imgs?true:false;
                            data.imgs?(this as any).fileListImg.push(o):[];
                            this.d = data;
                            this.drawerFormVisible = true;
                          } else {
                              (this as any).$message.error(t.data.err);
                          }
                      } else {
                          (this as any).$message.error('请求失败');
                      }
                  })
              }else{
                this.drawerFormVisible = true;
              }
          },
          showDialog(key:any,msg:any,title:any){
            this.dialogTitle = title||'图片预览';
            console.log(msg);
            
            (this as any)[key] = msg;
            this.dialogVisible = true;
          },

          pagechange(val: string) {
              this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
          },
          submitForm(formName: any) {
              (this as any).$refs[formName].validate((valid: Boolean) => {
                  if (valid) {
                    let url:any = 'manager/vaccine/design';
                    let data:any = {
                          ...this.d
                      };
                    console.log(data);
                    // return
                    (this as any).axios.post(url,data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                this.drawerFormVisible = false;
                                this.getData('1');
                                (this as any).$message.success('成功');
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                        }
                    })
                  } else {
                      return false;
                  }
              })
          },
            // 删除
            del(index: number, row: any) {
                (this as any).axios.post("manager/vaccine/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }else{
                          (this as any).$message.error(e.data.err);
                        }
                    }else{
                      (this as any).$message.error('请求失败');
                    }
                })
            },
          // 获取列表
          getData(currentpage: string = '') {
              interface dataType {
                  key: string,
                  currentpage: string,
                  pagesize: string
              }
              let data: dataType = {
                  key: this.query.key,
                  currentpage: this.query.currentpage,
                  pagesize: this.query.pagesize
              };
              if (currentpage) {
                  data.currentpage = currentpage;
              }
              (this as any).axios.post('manager/vaccine/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      let d: any = e.data;
                      (this as any).total = '0';
                      if (d.success) {
                          this.total = d.msg.count;
                          let list:any = JSON.parse(JSON.stringify(d.msg.list));
                          this.tableData = list;
                      } else {
                          (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                              (this as any).$router.replace("/")
                          })
                      }
                  }
              })
          },
          showlistuser(row:any){
            if(!(this as any).pageAuthority.appointments){
                (this as any).$message.error('没有权限查看疫苗预约人');
                return;
            }
            this.componentData.type = 'appointments';
            this.componentData.name = row.title;
            this.componentData.id = row.id;
          },
          childBack() {
            this.componentData.type = '';
          },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>