<template>
  <div class="main-component-box">
    <appointments v-if="componentData.type==='appointments'" :name="componentData.name" :id="componentData.id" @childBack="childBack"></appointments>
    <div class="main-component" v-else>
      <div class="head">
        <i @click="getData()" class="el-icon-refresh"></i>
        <div class="left filter-container">
        </div>
        <div class="right">
          <!-- <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">录入接种情况</el-button> -->
        </div>
      </div>

      <div class="tableBox">
          <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
              <template #empty>
                  <span style="color: #969799;">没有更多数据</span>
              </template> 
              <el-table-column prop="name" label="社区"></el-table-column>
              <el-table-column prop="json" label="接种情况">
                  <template #default="scope">
                      <el-button size="mini" @click="showdialog('dialogTable',scope.row.json)">查看</el-button>
                  </template>
              </el-table-column>
              <el-table-column label="编辑" width="170">
                  <template #default="scope">
                      <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">录入</el-button>
                  </template>
              </el-table-column>
          </el-table>
      </div>


      <!-- 录入接种情况-->
      <el-drawer title="录入接种情况" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
        <div class="edit" v-if="drawerFormVisible">
          <el-form ref="from" :model="d" label-width="90px" @close="closeDrawer()" style="width:96%;">
            <el-form-item label="社区" prop="org_id" v-if="!org_id">
                <el-select v-model="d.org_id" style="width: 150px;" clearable disabled="true">
                    <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="接种情况" prop="json">
                  <el-form-item :label="`${v.name}：`"  label-width="80px"  class="guige-box mb20" v-for="(v,idx) in d.json" :key="idx">
                      <el-form-item label="已接种" :prop="'json.'+idx+'.nums'"  label-width="60px">
                          <el-input type="number" clearable v-model="d.json[idx].nums" class="mb10"></el-input>
                      </el-form-item>
                      <el-form-item label="未接种" :prop="'json.'+idx+'.nonums'"  label-width="60px">
                          <el-input type="number" clearable v-model="d.json[idx].nonums"></el-input>
                      </el-form-item>
                  </el-form-item>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="closeDrawer()">取 消</el-button>
                    <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                </div>
            </el-form-item>
          </el-form>
        </div>
      </el-drawer>

      <!-- 预览 -->
      <el-dialog :title="dialogTitle" v-model="dialogVisible">
        <div v-if="dialogHtml" v-html="dialogHtml"></div>
        <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
        <!-- 表格 -->
        <div v-if="dialogTable.length!=0">
            <el-table :data="dialogTable" style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="小区"></el-table-column>
                <el-table-column prop="nums" label="已结种"></el-table-column>
                <el-table-column prop="nonums" label="未接种"></el-table-column>
            </el-table>
        </div>
        <div v-if="dialogArrImage">
          <img v-for="(v,i) in dialogArrImage.split(',')" :key="i" :src="imgdownload+v" alt="" class="dialogImg" style="margin-bottom:10px;">
        </div>
      </el-dialog>
  </div>
</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost,appointmentsImg} from '@/utils/utils'
    import {mapState} from "vuex";
  import appointments from './appointments.vue';

    export default defineComponent({
        name: "vaccine",
        components: {appointments},
        setup() {
            return reactive({
              pageAuthority:{},
              org_id: "",//所属组织ID
              orgList: [],//所属组织架构
              componentData: {
                  type: '',
                  name: '',
                  id: ''
              },
              imgdownload: appointmentsImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),
              fileListImg: [],
              uploadDisabled: false,

              dialogImage: '',
              dialogArrImage: '',
              dialogHtml: '',
              dialogTable: [],
              dialogTitle: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "org_id": '',
                "json": []
              },
              workorderTypes: [{id:"1",title: '环境卫生'},{id:"2",title:'五水共治'},{id:"3",title:'疫情防控'},{id:"4",title:'纠纷调解'},{id:"5",title:'月度检查'}],
              userslist: [],
              query:{
                  key: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              tableData:[],
              editType: null,//修改类型 edit del
              listEditIdx: null,//当前修改表格行 下标
              listitemEditIdx: null,//当前修改表格行 > 子行 下标
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.vaccine;//获取当前页面权限
            this.org_id = (this as any).$store.state.org_id;
            this.orgList = (this as any).$store.state.orgList;

            this.getData();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "org_id": '',
                      "json": []
                    }
                    this.d = Object.assign({}, d);
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          showdialog(key:any,json:any){
              if(key==='dialogTable'){//预览表格
                  if(!json){
                      (this as any).$message.error('暂无接种数据，请先录入');
                      return;
                  }
                  this.dialogTable = json;
                  this.dialogVisible = true;
              }
          },
          closeDrawer() {
              this.drawerFormVisible = false;
          },
          showDrawer(row: any = undefined) {
            let json:any = row.json;
            if(!json){
              const index = (this as any).orgList.findIndex(function(item:any) {
                  return item.id === row.id;
              });
              json = JSON.parse(JSON.stringify((this as any).orgList[index].children));
              json.map((e:any)=>{
                e.nums = '';
                e.nonums = '';
              })
            }
            this.d.org_id = row.id;
            this.d.json = json;
            this.drawerFormVisible = true;
          },
          showDialog(key:any,msg:any,title:any){
            this.dialogTitle = title||'图片预览';
            console.log(msg);
            (this as any)[key] = msg;
            this.dialogVisible = true;
          },

          pagechange(val: string) {
              this.query.currentpage = val.toString();
                this.getData()
          },
          submitForm(formName: any) {
              (this as any).$refs[formName].validate((valid: Boolean) => {
                  if (valid) {
                    let url:any = 'manager/vaccination/design';
                    let data:any = {
                          ...this.d
                    };
                    data.json = JSON.stringify(data.json);
                    console.log(data);
                    // return
                    (this as any).axios.post(url,data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                this.drawerFormVisible = false;
                                this.getData();
                                (this as any).$message.success('成功');
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                        }
                    })
                  } else {
                      return false;
                  }
              })
          },
            // 删除
            del(index: number, row: any) {
                (this as any).axios.post("manager/vaccine/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData()
                        }else{
                          (this as any).$message.error(e.data.err);
                        }
                    }else{
                      (this as any).$message.error('请求失败');
                    }
                })
            },
          // 获取列表
          getData() {
            // return
              (this as any).axios.post('manager/vaccination/list',{},{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      let d: any = e.data;
                      if (d.success) {
                          let list:any = JSON.parse(JSON.stringify(d.msg.list));
                          this.tableData = list;
                      } else {
                          (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                              (this as any).$router.replace("/")
                          })
                      }
                  }
              })
          },
          showlistuser(row:any){
            if(!(this as any).pageAuthority.appointments){
                (this as any).$message.error('没有权限查看疫苗预约人');
                return;
            }
            this.componentData.type = 'appointments';
            this.componentData.name = row.title;
            this.componentData.id = row.id;
          },
          childBack() {
            this.componentData.type = '';
          },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>