<template>
    <el-config-provider :locale="locale">
        <router-view/>
    </el-config-provider>
</template>
<script>
    import {defineComponent} from 'vue';
    import {ElConfigProvider} from 'element-plus'
    import zhCn from 'element-plus/lib/locale/lang/zh-cn'

    export default defineComponent({
        name: 'App',
         components: {
            [ElConfigProvider.name]:ElConfigProvider,//添加组件
        },
        data(){
            return {
                locale:zhCn
            }
        },
        created() {
            // 在页面加载时读取sessionStorage里的状态信息
            if (sessionStorage.getItem('store')) {
                this.$store.replaceState(
                    Object.assign(
                        {},
                        this.$store.state,
                        JSON.parse(sessionStorage.getItem('store'))
                    )
                )
            }
            // 在页面刷新时将vuex里的信息保存到sessionStorage里  beforeunload事件在页面刷新时先触发
            window.addEventListener('beforeunload', () => {
                sessionStorage.setItem('store', JSON.stringify(this.$store.state))
            })

        }
    })
</script>
<style lang="scss">
    /*@import "element-variables";*/
    #app {
        -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-align: center; color: #2c3e50; line-height: inherit;
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }

    #nav {
        padding: 30px;
        a {
            font-weight: bold; color: #2c3e50;
            &.router-link-exact-active { color: #42b983; }
        }
    }
    

    * { text-decoration: none; list-style: none; font-size: $font-size-14; outline: none; }
    body { margin: 0; padding: 0; }

    ::-webkit-scrollbar {
        width: 0 !important;
    }
    ::-webkit-scrollbar {
        width: 0 !important;height: 0;
    }

    // element ui
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {-webkit-appearance: none;}
    input[type="number"] { -moz-appearance: textfield; }
    .el-table::before{height: 0px !important;}
    .el-breadcrumb__inner { font-size: $font-size-14; }
    .el-table__body-wrapper { overflow: inherit; }
    .el-date-editor { float: left; }
    .el-select--popper { z-index: 3333 !important; }
    .el-upload-list__item-thumbnail{ object-fit:cover; }
    .el-tabs__nav {@extend .ml10;}
    .el-main { background-color: #E9EEF3;overflow: hidden !important;}
    .el-image{cursor: pointer;}

    /* 常用样式类 */
    .ml10 { margin-left: 10px !important; }
    .ml20 { margin-left: 20px !important; }
    .mr10 { margin-right: 10px !important; }
    .mr20 { margin-right: 20px !important; }
    .mb10 { margin-bottom: 10px !important; }
    .mb20 { margin-bottom: 20px !important; }
    .mt10 { margin-top: 10px !important; }
    .mt20 { margin-top: 20px !important; }

    .pl10 { padding-left: 10px; box-sizing: border-box}
    .pl20 { padding-left: 20px; box-sizing: border-box}
    .pr10 { padding-right: 10px; box-sizing: border-box}
    .pr20 { padding-right: 20px; box-sizing: border-box}
    .pb10 { padding-bottom: 10px; box-sizing: border-box}
    .pb20 { padding-bottom: 20px; box-sizing: border-box}
    .pt10 { padding-top: 10px; box-sizing: border-box}
    .pt20 { padding-top: 20px; box-sizing: border-box}
    .pd10 { padding: 10px;box-sizing: border-box}
    .pd20 { padding: 20px;box-sizing: border-box}

    .flex-row { display: flex;flex-direction: row;}
    .flex-row-center { @extend .flex-row;align-items: center;}
    .flex-row-end { @extend .flex-row;align-items: center;justify-content: flex-end;}
    .flex-column { display: flex;flex-direction: column;}
    .flex-column-center { @extend .flex-column;align-items: center;}
    .flex-center { display: flex;align-items: center;justify-content: center;}


    .floatLeft { float: left; }
    .floatRight { float: right; }

    // 超出部分显示省略号 1行
    .lineOne{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; word-break: break-all; }
    //-2行
    .lineTwo{ text-overflow: -o-ellipsis-lastline; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; word-break: break-all; }



    /* 主体区域常用样式 */


    // 主体内容区域
    .mainBox { overflow-y: auto; height: calc(100%); width: 100%; margin: 0 auto; position: relative;}

    // 主体组件
    .main-component-box,.main-component{display: flex;flex-direction: column;width: 100%;height: 100%;position: relative;}

    // 头部检索部分
    .head {
        width: 100%; display: flex; justify-content: space-between; line-height: 32px; font-size: $font-size-14;
        .el-icon-refresh {font-size: $font-size-24 !important; cursor: pointer; @extend .ml10; float: left; height: 33px !important; line-height: 33px !important;}
        .el-icon-back { float: left; @extend .ml10; font-size: $font-size-24 !important; cursor: pointer; line-height: 35px !important; }

        .left { width: 80%; height: 100%; float: left; text-align: left; }
        .filter-container {
            @extend .pb10;
            .filter-item { display: inline-block; vertical-align: middle; @extend .mb10; }
        }
        .right { width: 20%; height: 100%; float: right; text-align: right;margin-bottom: 20px !important;
            .add { @extend .mr10; }
        }
    }

    // 表单内容部分
    .tableBox { overflow-y: auto; flex: 1; width: calc(100% - 20px); margin: 0 auto; 
        .table { line-height: 35px; overflow: inherit; }
        thead,tbody{box-sizing: border-box;}
        th{border-top: solid 1px #ebeef5 !important}
        tr >th:nth-child(1),tr >td:nth-child(1){border-left: solid 1px #ebeef5 !important}
        td,th{border-right: solid 1px #ebeef5 !important}
        .pagin {}
    }

    // 分页
    .el-pagination{ 
        @extend .pd10;
        .el-icon{display: inline-block !important;}
    }

    // 图片弹出预览样式
    .dialogImg { width: 100%; height: 100%; margin: 0 auto; display: block; }

    // 右侧编辑-抽屉
    .edit {
        height: calc(100vh - 70px); overflow-y: auto;
        .authorityItem { @extend .pb10; line-height: 0; text-align: left; }
        .authorityGroup { @extend .pl20; }
    }



    /* 其他 */

    // 左侧导航选中样式
    .text-active { color: $--color-primary; background: rgba(0, 0, 0, 0.3); }

    // .el-upload--picture-card 控制加号部分
    .disabled .el-upload--picture-card { display: none !important; }

    .main-component-box .tinymce-container .mce-statusbar{display: none;}
    .cous{color: $font-main-color;cursor: pointer;}
</style>
