/* less 公共变量 */

/* 改变主题色变量 */ 
@--color-primary: teal;

/* icon font path, required */
@--font-path: '~element-plus/lib/theme-chalk/fonts';

@deep: ~'>>>';


/* 一、颜色 */
/* 文字颜色 */
@font-main-color: #3d8eff;//主色
@font-light-color: #4b94fa;//主色 浅
@font-weaklight-color: #e7f1ff;//主色 极浅
@font-warning-color: #ff635b;//警告色
@font-success-color: #67c23a;//安全色 绿色
@font-normal-color: #333;//主题色 常用文字颜色 黑
@font-grey-color: #999;//副标题色 灰
@font-weak-color: #ccc;//弱文案 浅灰
@font-white-color: #fff;//白色

/* 背景色 */
@bg-main-color: #3d8eff;//主色
@bg-light-color: #4b94fa;//主色 浅
@bg-weaklight-color: #e7f1ff;//主色 极浅
@bg-warning-color: #ff635b;//警告色
@bg-success-color: #67c23a;//安全色 绿色
@bg-white-color: #fff;//白色
@bg-weak-color: #f5f5f5;//弱色 浅灰

/* 风格线/条 */
@line-color: #eee;//分割线
@strip-color: #f5f5f5;//分割条

/* 蒙层 */
@mask-bg-color: rgba(0,0,0,0.55);//蒙版背景


/* 二、字体 */
@font-size-12: 12px;
@font-size-14: 14px;
@font-size-16: 16px;
@font-size-20: 20px;
@font-size-24: 24px;


/* 三、其他 */
@border-radius-5: 5px;
@border-radius-10: 10px;
@border-radius-15: 15px;
@border-radius-20: 20px;
