<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入工单名称" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-select v-model="query.type" placeholder="请选择工单类型" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in workorderTypes" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加工单</el-button>
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <el-table-column type="expand">
                <template #default="props">
                    <el-table :data="props.row.detail" style="width: 100%" class="tableBox" height="auto">
                      <el-table-column prop="name" label="接收人"></el-table-column>
                      <el-table-column label="回复状态">
                            <template #default="scope">
                              <el-tag :type="!scope.row.report?'info':'success'" size="mini">{{!scope.row.report?'未回复':'已回复'}}</el-tag>
                            </template>
                      </el-table-column>
                      <el-table-column prop="report" label="回复内容"></el-table-column>
                      <el-table-column label="回复拍照">
                        <template #default="scope">
                          <el-image v-if="scope.row.reportimg" style="width: 40px; height: 40px" fit="contain" :src="imgdownload + scope.row.reportimg" @click="showDialog('dialogImage',imgdownload + scope.row.reportimg,scope.row.name)"></el-image>
                        </template>
                      </el-table-column>
                      <el-table-column prop="reporttime" label="回复时间"></el-table-column>
                      <el-table-column label="编辑">
                          <template #default="scope">
                              <el-popconfirm
                                      v-if="!scope.row.reporttime"
                                      confirmButtonText='好的'
                                      cancelButtonText='不用了'
                                      @confirm="()=>{listEditIdx=props.$index;listitemEditIdx=scope.$index;editType='del';del(props.row.id, scope.row.userid);}"
                                      icon="el-icon-info"
                                      iconColor="red"
                                      title="确定要从工单中移除吗？">
                                  <template #reference>
                                      <el-button size="mini" type="danger" :disabled="!pageAuthority.delUser">移除</el-button>
                                  </template>
                              </el-popconfirm>
                          </template>
                      </el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template> 
            <el-table-column prop="title" label="工单名称"></el-table-column>
            <el-table-column prop="fullname" label="所属社区部门" width="250"></el-table-column>
            <el-table-column prop="msg" label="工单内容" width="170">
              <template #default="scope">
                <el-button size="mini" @click="showDialog('dialogHtml',scope.row.msg,scope.row.title)">查看工单内容</el-button>
              </template>
            </el-table-column>
            <el-table-column prop="intime" label="更新时间" width="170"></el-table-column>
            <el-table-column label="编辑" width="170">
                <template #default="scope">
                    <el-button size="mini" @click.stop="()=>{listEditIdx=scope.$index;editType='edit';showDrawer(scope.row);}" :disabled="!pageAuthority.addUser">添加接收人</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 会议名称、地点、参与人员、会议动照片、笔记照片、会议内容-->
    <el-drawer :title="'添加'+(id?'接收人':'工单')" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" destroy-on-close>
      <div class="edit" v-if="drawerFormVisible">
        <el-form ref="from" :model="d" label-width="90px" @close="closeDrawer()" style="width:96%;">
          <el-form-item :rules="[ { required: true, message: '工单不能为空'} ]" label="工单名称" prop="title" v-if="!id">
            <el-input autocomplete="off" clearable v-model="d.title"></el-input>
          </el-form-item>
          <el-form-item label="选择社区" prop="org_id" v-if="!org_id">
              <el-select v-model="d.org_id" style="width: 150px;" clearable>
                  <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id">
                  </el-option>
              </el-select>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '请选择工单类型'} ]" label="工单类型" prop="type" v-if="!id">
            <el-select v-model="d.type" placeholder="请选择" clearable>
                <el-option v-for="item in workorderTypes" :key="item.id" :label="item.title" :value="item.id">
                </el-option>
            </el-select>
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '接收人员不能为空'} ]" label="接收人员" prop="users">
            <el-transfer v-model="d.users" :data="id?noSelectuserslist:userslist" :props="{key:'id',label:'name'}" :titles="['未选', '已选']" />
          </el-form-item>
          <el-form-item :rules="[ { required: true, message: '工单内容不能为空'} ]" label="工单内容" prop="msg" size="small" v-if="!id">
              <Tinymce @update:value="valChange" :value="d.msg"/>
          </el-form-item>
          <el-form-item>
              <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                  <el-button @click="closeDrawer()">取 消</el-button>
                  <el-button type="primary" @click="submitForm('from')">确 定</el-button>
              </div>
          </el-form-item>
        </el-form>
      </div>
    </el-drawer>

    <!-- 预览 -->
    <el-dialog :title="dialogTitle" v-model="dialogVisible">
      <div v-if="dialogHtml" v-html="dialogHtml"></div>
      <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
    </el-dialog>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import { ossHost, uploadHost,jobsImg} from '@/utils/utils'
    import {mapState} from "vuex";
    import Tinymce from '@/components/Tinymce/index.vue';

    export default defineComponent({
        name: "jobs",
        components: {Tinymce},
        setup() {
            return reactive({
              pageAuthority:{},
              org_id: "",//所属组织ID
              orgList: [],//所属组织架构
              imgdownload: jobsImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogImage: '',
              dialogHtml: '',
              dialogTitle: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "title":"",
                "org_id": '',
                "type": "1",
                "msg":"",
                "users": []
              },
              workorderTypes: [{id:"1",title: '环境卫生'},{id:"2",title:'五水共治'},{id:"3",title:'疫情防控'},{id:"5",title:'月度检查'}],
              userslist: [],
              noSelectuserslist: [],
              query:{
                  key: '',
                  type: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
              editType: null,//修改类型 edit del
              listEditIdx: null,//当前修改表格行 下标
              listitemEditIdx: null,//当前修改表格行 > 子行 下标
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.jobs;//获取当前页面权限
            this.org_id = (this as any).$store.state.org_id;
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
            this.getuserslist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "title":"",
                      "org_id": '',
                      "type": "1",
                      "msg":"",
                      "users": []
                    }
                    this.d = Object.assign({}, d);
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          // 获取社工
          getuserslist(){
            let data:any = {"isworkers":"1","s_org_id":(this as any).$store.state.org_id,"leave":""};
            (this as any).axios.post('manager/users/searchList',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                      this.userslist = list;
                    } else {
                      this.userslist = [];
                    }
                }else {
                  this.userslist = [];
                }
            }) 
          },
          valChange(e: any){
            this.d.msg = e;
          },

          closeDrawer() {
              this.drawerFormVisible = false;
          },
          showDrawer(row: any = undefined) {
              if(row){
                  this.id = row.id;
                  let detail:any = row.detail;
                  let userslist:any = JSON.parse(JSON.stringify(this.userslist));
                  if(detail.length>0){
                    detail.map((e:any)=>{
                      for (let i = userslist.length-1; i >= 0; i--) {
                        if(e.userid == userslist[i].id){
                          userslist.splice(i,1);
                        }
                      }
                    });
                  }
                  if(!userslist.length){
                    (this as any).$message.error('没有可添加的人员');
                    return;
                  }
                  this.noSelectuserslist = userslist;
                  this.drawerFormVisible = true;
              }else{
                  this.drawerFormVisible = true;
              }
          },
          showDialog(key:any,msg:any,title:any){
            this.dialogTitle = title;
            (this as any)[key] = msg;
            this.dialogVisible = true;
          },

          pagechange(val: string) {
              this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
          },
          submitForm(formName: any) {
              (this as any).$refs[formName].validate((valid: Boolean) => {
                  if (valid) {
                    let url:any = '';
                    let data:any = null;
                    if(!(this as any).id){//添加工单
                      url = 'manager/jobs/design'; 
                      data = {
                          ...this.d
                      };
                      data.users = JSON.stringify(data.users);
                    }else{//添加接收人
                      url = 'manager/jobs/addUser'; 
                      data = {
                          jobid: this.id,
                          userids: JSON.stringify(this.d.users)
                      };
                    }
                    console.log(data);
                    // return
                    (this as any).axios.post(url,data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                this.drawerFormVisible = false;
                                this.getData('1');
                                (this as any).$message.success('成功');
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                        }
                    })
                      
                  } else {
                      return false;
                  }
              })
          },
          // 删除
          del(id:any, rowid:any) {
            let data:any = {
              jobid: id,
              userid: rowid
            };
            (this as any).axios.post("manager/jobs/delUser",data, {headers: {token: (this as any).$store.state.token}
            }).then((e: any) => {
                if (e.status === 200) {
                    if (e.data.success) {
                        (this as any).$message.success('成功');
                        this.getData('1')
                    }
                }
            })
          },
          // 获取列表
          getData(currentpage: string = '') {
              interface dataType {
                  key: string,
                  type: string,
                  currentpage: string,
                  pagesize: string
              }
              let data: dataType = {
                  key: this.query.key,
                  type: this.query.type,
                  currentpage: this.query.currentpage,
                  pagesize: this.query.pagesize
              };
              if (currentpage) {
                  data.currentpage = currentpage;
              }
              (this as any).axios.post('manager/jobs/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      let d: any = e.data;
                      // this.tableData = [];
                      (this as any).total = '0';
                      if (d.success) {
                          this.total = d.msg.count;
                          let list:any = JSON.parse(JSON.stringify(d.msg.list));
                          list.map((e:any)=>{
                            if(e.detail.length>0){
                              e.detail.map((ev:any)=>{
                                ev.reporttime = !ev.reporttime?null:ev.reporttime.substring(0,19);
                              })
                            }
                          })

                          let Idx:any = (this as any).listEditIdx;
                          let itemIdx:any = (this as any).listitemEditIdx;
                          if(itemIdx===null){//没该行 > 子行 内容
                            if(Idx!==null){//修改的是list行
                              if(this.editType==='del'){
                                this.tableData.splice(Idx,1);
                              }{
                                (this as any).tableData[Idx] = list[Idx];
                              }
                            }else{//没修改table行内容 全更新
                              this.tableData = list;
                            }
                          }else{//修改的是list行 > 子行 内容
                              if(this.editType==='del'){//删除子行
                                (this as any).tableData[Idx].detail.splice(itemIdx,1);
                              }else{//修改子行
                                (this as any).tableData[Idx].detail[itemIdx] = list[Idx].detail[itemIdx];
                              }
                          }
                          
                          this.listEditIdx = null;//当前修改表格行 下标
                          this.listitemEditIdx = null;//当前修改表格行 > 子行 下标
                          this.editType = null;//当前修改表格行 > 子行 下标
                      } else {
                          (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                              (this as any).$router.replace("/")
                          })
                      }
                  }
              })
          },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>