<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入巡逻人" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-select v-if="!org_id" v-model="query.s_org_id" placeholder="请选择部门" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="name" label="巡逻人"></el-table-column>
            <el-table-column prop="fullname" label="社区部门"></el-table-column>
            <el-table-column prop="starttime" label="开始时间"></el-table-column>
            <el-table-column prop="endtime" label="结束时间"></el-table-column>
            <el-table-column label="编辑" width="170">
                <template #default="scope">
                    <el-button size="mini" @click="()=>{dialogVisible=true;location=scope.row.location}">查看详细</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

  <!-- 巡逻线路 -->
  <el-dialog title="巡逻线路" v-model="dialogVisible">
      <!-- 高德 -->
      <gaodeLineMap class="patrol-line1" :location="location"></gaodeLineMap>
      <!-- 百度 -->
      <!-- <baiduLineMap class="patrol-line2" :location="location"></baiduLineMap> -->
  </el-dialog>
</div>
</template>

<script lang="ts">
    // import Map from '@/components/map.vue'
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import gaodeLineMap from "@/components/gaodeLineMap/index.vue"
    import baiduLineMap from "@/components/baiduLineMap/index.vue"
    export default defineComponent({
        name: "patrol",
        components: {gaodeLineMap,baiduLineMap},
        setup() {
            return reactive({
              org_id: "",//所属组织ID
              orgList: [],//所属组织架构
              Map: null,
              dialogVisible: false,

              query:{
                  key: '',
                  s_org_id: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
              location: [],
            })
        },
        data() {
            return {
              storeName:'',
              storeId: '',
              storeEditType: '',
            }
        },
        mounted() {
            this.org_id = (this as any).$store.state.org_id;
            this.query.s_org_id = this.org_id;
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
        },
        watch: {
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            loadRongJs(e:any){
                console.log(e)
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            // 删除
            del(index: number, row: any) {
                (this as any).axios.post("store/place/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    console.log('del', e)
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    s_org_id: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    s_org_id: this.query.s_org_id,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                  data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/patrol/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            data.map((e:any)=>{
                                let location:any = [];
                                let l:any = null;
                                l = e.location.split('|');
                                l.map((ev:any)=>{
                                    if(!ev){
                                        return;
                                    }
                                    let arr = ev.split(',');
                                    let o = {lat:arr[1],long:arr[0]};
                                    location.push(o);
                                })
                                e.location = location;
                            })
                                console.log(data);
                            this.tableData = data;
                        }else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  .patrol-line1,.patrol-line2{
      width: 100%;height: 500px;position: relative;
  }
</style>