<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入社工" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-select v-if="!org_id" v-model="query.s_org_id" placeholder="请选择部门" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id"></el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="name" label="签到人"></el-table-column>
            <el-table-column prop="fullname" label="所属社区/部门"></el-table-column>
            <el-table-column label="签到时间" >
              <template #default="scope"><span>{{scope.row.day||''}} {{scope.row.time||''}}</span></template>
            </el-table-column>
            <el-table-column label="编辑">
                <template #default="scope">
                    <el-button size="mini" @click="showDialog(scope.row.position)">查看签到点</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 查看签到点 -->
    <el-dialog title="签到点" v-model="dialogVisible">
        <BMap :location="location"></BMap>
    </el-dialog>

</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import BMap from "@/components/BMap/index.vue";
    export default defineComponent({
        name: "sign",
        components: { BMap },
        setup() {
            return reactive({
              org_id: "",//所属组织ID
              orgList: [],//所属组织架构

              dialogVisible: false,
              location: '',

              query:{
                  key: '',
                  s_org_id: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.org_id = (this as any).$store.state.org_id;
            this.query.s_org_id = this.org_id;
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
        },
        watch: {
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    s_org_id: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    s_org_id: this.query.s_org_id,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                  data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/sign/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        }else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            showDialog(position:any){
                if(position){
                    this.dialogVisible=true;
                    this.location=position;
                }else{
                    (this as any).$message.error('没有签到定位信息');
                }
            },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  .patrol-line1,.patrol-line2{
      width: 100%;height: 500px;position: relative;
  }
</style>