<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入姓名/手机号/身份证号" v-model="query.key" class="ml10 filter-item" style="width: 230px;" size="small" clearable></el-input>
        <el-select v-model="query.isworkers" placeholder="用户身份" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in isworkersType" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="query.state" placeholder="用户状态" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in states" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="query.type" placeholder="是否常驻" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in types" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="query.ispoint" placeholder="是否重点" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in ispoints" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-select v-model="query.alone" placeholder="是否独居" size="small" class="ml10 filter-item" style="width: 150px;" clearable>
            <el-option v-for="item in alones" :key="item.id" :label="item.title" :value="item.id">
            </el-option>
        </el-select>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showUpuserDialog" :disabled="!pageAuthority.edit">导入</el-button>
        <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加用户</el-button>
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="name" label="姓名"></el-table-column>
            <el-table-column prop="id" label="ID"></el-table-column>
            <el-table-column prop="fullname" label="社区部门"></el-table-column>
            <el-table-column prop="cover" label="照片" width="70">
              <template #default="props">
                <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.cover" @click="handlePreview({url:imgdownload + props.row.cover})"></el-image>
              </template>
            </el-table-column>
            <el-table-column prop="cover" label="人脸识别信息" width="120">
              <template #default="props">
                <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.face" @click="handlePreview({url:imgdownload + props.row.face})"></el-image>
              </template>
            </el-table-column>
            <el-table-column label="编辑人脸信息"  width="190">
                <template #default="scope">
                    <el-button size="mini" @click="showFeceDrawer(scope.row)" :disabled="!pageAuthority.face">{{!scope.row.face?'上传':'编辑'}}人脸</el-button>
                    <el-popconfirm
                            confirmButtonText='好的'
                            cancelButtonText='不用了'
                            @confirm="deleteFace(scope.row)"
                            icon="el-icon-info"
                            iconColor="red"
                            title="确定删除人脸信息吗？">
                        <template #reference>
                          <el-button size="mini" type="danger" plain :disabled="!scope.row.face||!pageAuthority.delface">删除</el-button>
                        </template>
                    </el-popconfirm>
                </template>
            </el-table-column>
            <el-table-column prop="sex" label="性别" width="60">
              <template #default="props"><span>{{props.row.sex=='1'?'男':'女'}}</span></template>
            </el-table-column>
            <!-- <el-table-column prop="birthday" label="生日" width="100"></el-table-column> -->
            <el-table-column prop="mobile" label="联系电话" width="120"></el-table-column>
            <!-- <el-table-column prop="jobtitle" label="职务" width="100"></el-table-column> -->
            <el-table-column prop="isparty" label="是否入党" width="100">
              <template #default="props"><span>{{props.row.isparty=='1'?'是':'否'}}</span></template>
            </el-table-column>
            <el-table-column prop="ispoint" label="重点人员" width="100">
              <template #default="props"><span>{{props.row.ispoint==='1'?'重点':'非重点'}}</span></template>
            </el-table-column>
            <el-table-column prop="type" label="常驻/流动" width="100">
              <template #default="props"><span>{{props.row.type==='1'?'流动人口':'常驻人口'}}</span></template>
            </el-table-column>
            <el-table-column prop="alone" label="是否独居" width="100">
              <template #default="props"><span>{{props.row.alone==='1'?'是':'不是'}}</span></template>
            </el-table-column>
            <!-- <el-table-column prop="isworkers" label="身份" width="60">
              <template #default="props"><span>{{isworkersType[props.row.isworkers].title||''}}</span></template>
            </el-table-column> -->
            <!-- <el-table-column prop="leave" label="等级" width="100">
              <template #default="props">
                <span v-if="props.row.isworkers==='0'">{{leaves['0'][0].title||''}}</span>
                <span v-else-if="props.row.isworkers==='1'">{{leaves['1'][props.row.leave].title||''}}</span>
                <span v-else-if="props.row.isworkers==='2'">{{leaves['2'][props.row.leave-1].title||''}}</span>
              </template>
            </el-table-column> -->
            <el-table-column prop="state" label="状态" width="150">
              <template #default="props">
                <el-switch v-model="props.row.state" active-color="#13ce66" active-text="正常" active-value="1" inactive-color="#ff4949" inactive-text="停用" inactive-value="0" @change="setState(props.$index, props.row)"></el-switch>
              </template>
            </el-table-column>
            <el-table-column label="编辑"  width="90">
                <template #default="scope">
                    <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

  <!-- 姓名 性别 年龄 职业 联系电话 -->
  <el-drawer :title="id?'编辑':'添加'+'用户'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
    <div class="edit" v-if="drawerFormVisible">
      <el-form ref="from" :model="d" label-width="110px" @close="closeDialog()" style="width:96%;">
        <el-form-item :rules="[ { required: true, message: '姓名不能为空'} ]" label="姓名" prop="name">
          <el-input autocomplete="off" clearable v-model="d.name"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择性别'} ]" label="性别" prop="sex">
          <el-radio-group v-model="d.sex">
              <el-radio :label="'1'">男</el-radio>
              <el-radio :label="'2'">女</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '出生年月不能为空'} ]" label="出生年月" prop="birthday">
          <el-date-picker v-model="d.birthday" type="date" value-format="YYYY-MM-DD" placeholder="选择出生年月"></el-date-picker>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '身份证号不能为空'} ]" label="身份证号" prop="idcard">
          <el-input autocomplete="off" maxlength="18" clearable v-model="d.idcard"></el-input>
        </el-form-item>
        <!-- <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="户口所在地" prop="household">
          <el-cascader v-model="d.household" :options="cityData"></el-cascader>
          <el-input autocomplete="off" clearable v-model="d.householdDetail"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="居住地" prop="address">
          <el-cascader v-model="d.address" :options="cityData"></el-cascader>
          <el-input autocomplete="off" clearable v-model="d.addressDetail"></el-input>
        </el-form-item> -->
        <el-form-item :rules="[ { required: true, message: '户口所在地不能为空'} ]" label="户口所在地" prop="household">
          <el-input autocomplete="off" maxlength="50" clearable v-model="d.household"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '居住地不能为空'} ]" label="居住地" prop="address">
          <el-input autocomplete="off" maxlength="50" clearable v-model="d.address"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择是否党员'} ]" label="党员" prop="isparty">
          <el-radio-group v-model="d.isparty">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">否</el-radio>
          </el-radio-group>
        </el-form-item>
        <!-- <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="是否社工" prop="isworkers">
          <el-radio-group v-model="d.isworkers">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">否</el-radio>
          </el-radio-group>
        </el-form-item> -->
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="身份" prop="isworkers">
          <el-select v-model="d.isworkers" placeholder="请选择" clearable>
              <el-option v-for="item in isworkersType" :key="item.id" :label="item.title" :value="item.id">
              </el-option>
          </el-select>
        </el-form-item>
        <el-form-item v-if="d.isworkers!='0'" :rules="[ { required: true, message: '请选择'} ]" label="等级" prop="leave">
          <el-select v-model="d.leave" placeholder="请选择" clearable>
              <el-option v-for="item in leaves[d.isworkers]" :key="item.id" :label="item.title" :value="item.id">
              </el-option>
          </el-select>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择所属部门'} ]" label="所属部门" prop="org_id">
          <el-cascader v-model="d.org_id" :options="organlist" :props="{value:'id',label:'name'}" clearable class="floatLeft"></el-cascader>
        </el-form-item>
        <el-form-item v-if="d.isworkers!='0'" label="职务" prop="jobtitle">
          <el-input autocomplete="off" clearable v-model="d.jobtitle"></el-input>
        </el-form-item>
        <el-form-item label="照片">
            <el-upload
                    :class="{disabled:uploadDisabled}"
                    class="upload-demo floatLeft"
                    :action="uploadHost"
                    list-type="picture-card"
                    :file-list="fileListImg"
                    :on-success="uploadSuccess"
                    :before-upload="handleBeforeUpload"
                    :on-change="handleLimit"
                    :limit="1"
                    :multiple='false'>
            <template #default><i class="el-icon-plus"></i></template>
            <template #file="{file}">
                <div>
                <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                <span class="el-upload-list__item-actions">
                    <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemove(file,idx)}"></i></span>
                </span>
                </div>
            </template>
            </el-upload>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '联系电话不能为空'} ]" label="联系电话" prop="mobile">
          <el-input autocomplete="off" type="number" maxlength="11" clearable v-model="d.mobile"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="人口类别" prop="type">
          <el-radio-group v-model="d.type">
              <el-radio :label="'0'">常驻人口</el-radio>
              <el-radio :label="'1'">流动人口</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="类别备注" prop="typemsg">
          <el-input autocomplete="off" maxlength="15" clearable v-model="d.typemsg" placeholder="如：新生儿、学生、高层次人才引进等"></el-input>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="重点人口" prop="ispoint">
          <el-radio-group v-model="d.ispoint">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">不是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="是否独居" prop="alone">
          <el-radio-group v-model="d.alone">
              <el-radio :label="'1'">是</el-radio>
              <el-radio :label="'0'">不是</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="状态" prop="state">
          <el-radio-group v-model="d.state">
              <el-radio :label="'1'">正常</el-radio>
              <el-radio :label="'0'">停用</el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item label="状态备注" prop="statemsg">
          <el-input autocomplete="off" maxlength="15" clearable v-model="d.statemsg" placeholder="如：已逝、迁出、流出等"></el-input>
        </el-form-item>
        <el-form-item>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                <el-button @click="closeDialog()">取 消</el-button>
                <el-button type="primary" @click="submitForm('from')">确 定</el-button>
            </div>
        </el-form-item>
      </el-form>
    </div>
  </el-drawer>

  <!-- 预览 -->
  <el-dialog v-model="dialogVisible">
    <img :src="dialogImageUrl" alt="" class="dialogImg">
  </el-dialog>

  <!-- 状态备注 -->
  <el-dialog v-model="statemsgdialogVisible" title="用户变更状态" :show-close="false" :close-on-press-escape="false" :close-on-click-modal="false">
    <el-input v-model="userState.statemsg" placeholder="如：已逝、迁出、流出等"></el-input>
    <div style="margin-top:10px;">
        <el-button @click="()=>{statemsgdialogVisible=false;tableData[stateIdx].state = tableData[stateIdx].state==='0'?'1':'0';}">取 消</el-button>
        <el-button type="primary" @click="del">确 定</el-button>
    </div>
  </el-dialog>

  <!-- 导入用户 -->
  <el-dialog title="导入用户" v-model="upuserDialogVisible" width="40%">
      <el-upload class="upload-demo"
          :action="'https://kq-community.server.zhhost.top/zh8848/upfile_xls'"
          :before-upload="beforeUploadUsers"
          :on-success="(e)=>{upUsersSuccess(e)}"
          multiple
          limit="1"
          :file-list="fileList"
          :before-remove="beforeRemove">
          <el-button size="small" type="primary" v-if="btnShow">选择文件</el-button>
          <div class="el-upload__tip" v-if="btnShow">只能上传xlsx或xls表格，且不超过20MB</div>
      </el-upload>
      <div style="margin-top:10px;">
          <el-button @click="upuserDialogVisible = false">取 消</el-button>
          <el-button @click="download">下载模板</el-button>
          <el-button type="primary" @click="upUsers('form_')" :disabled="fileUpusers.length===0">确 定</el-button>
      </div>
  </el-dialog>

  <!-- 传人脸 -->
  <el-dialog v-model="drawerFaceFormVisible" title='上传人脸信息'>
    <el-upload
            :class="{disabled:uploadDisabledFace}"
            class="upload-demo"
            :action="uploadHost"
            list-type="picture-card"
            :file-list="fileListImgFace"
            :on-success="uploadSuccessFace"
            :before-upload="handleBeforeUploadFace"
            :on-change="handleLimitFace"
            :limit="1"
            :multiple='false'>
    <template #default><i class="el-icon-plus"></i></template>
    <template #file="{file}">
        <div>
        <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
        <span class="el-upload-list__item-actions">
            <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemoveFace(file,idx)}"></i></span>
        </span>
        </div>
    </template>
    </el-upload>
    <div style="margin:10px 0">备注：上传照片大小限制在10~200kb之间且只能上传jpg格式人脸照片。</div>
    <el-button @click="drawerFaceFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="upFace" :disabled="!faceD.face">确 定</el-button>
  </el-dialog>

</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import { ElMessageBox } from 'element-plus'
    import { uploadHost,usersrImg,leaves,isworkersType} from '@/utils/utils'
    import { cityData } from '@/utils/city'
    import { ElLoading } from 'element-plus'

    export default defineComponent({
        name: "users",
        components: {},
        setup() {
            return reactive({
              pageAuthority:{},
              cityData: cityData(),
              imgdownload: usersrImg(),
              uploadHost: uploadHost(),
              leaves: leaves(),
              isworkersType: isworkersType(),
              fileListImg: [],
              uploadDisabled: false,
              dialogImageUrl: '',
              dialogVisible: false,
              statemsgdialogVisible: false,
              userState: {
                "id":"",
                "state":"",
                "statemsg":""
              },
              stateIdx: -1,//变更状态的下标

              drawerFaceFormVisible: false,
              uploadDisabledFace: false,
              fileListImgFace: [],
              faceD: {
                "id":"",
                "name":"",
                "face":"",
                "face_old":""
              },

              drawerFormVisible:false,
              id:'',
              d: {
                "id":"0",
                "cover_old":"",
                "cover":"",
                "name":"",
                "idcard": "",
                "mobile":"",
                "birthday":"",
                "sex": '1',
                "isworkers": '1',
                "leave": '0',
                "isparty": '1',
                "address": "",
                "household": "",
                "org_id":"",
                "jobtitle":"",
                "state":"1",
                "statemsg": "",
                "type":"0",
                "typemsg":"",
                "ispoint":"1",
                "alone":"0"

              },
              organlist: [],
              states: [
                {id: '0', title: '停用'},
                {id: '1', title: '正常'},
              ],
              types: [
                {id: '0', title: '常驻人口'},
                {id: '1', title: '流动人口'},
              ],
              ispoints:[//是否重点人口
                {id: '0', title: '非重点'},
                {id: '1', title: '重点'},
              ],
              alones:[//是否独居
                {id: '0', title: '不是'},
                {id: '1', title: '是'},
              ],

              query:{
                  key: '',
                  state: '',
                  isworkers: '',
                  type: '',
                  ispoint: '',
                  alone: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],

              upuserDialogVisible: false,
              btnShow: true,
              fileList: [],
              fileUpusers:[],
            })
        },
        data() {
            return {
              storeName:'',
              storeId: '',
              storeEditType: '',
            }
        },
        mounted() {
          this.pageAuthority = (this as any).$store.state.pageAuthoritys.users;//获取当前页面权限
          
          this.getData();
          this.getOrganlist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":"0",
                      "cover_old":"",
                      "cover":"",
                      "name":"",
                      "idcard": "",
                      "mobile":"",
                      "birthday":"",
                      "sex": '1',
                      "isworkers": '1',
                      "leave": '0',
                      "isparty": '1',
                      "address": "",
                      // "addressDetail": "",
                      "household": "",
                      // "householdDetail": "",
                      "org_id":"",
                      "jobtitle":"",
                      "state":"1",
                      "statemsg": "",
                      "type":"0",
                      "typemsg":"",
                      "ispoint":"1",
                      "alone":"0"
                    };
                    this.d = Object.assign({}, d);
                    this.fileListImg = [];
                    this.uploadDisabled = false;
                }
            },
            statemsgdialogVisible(v:any) {
                if(v===false){
                  this.userState = {
                    "id":"",
                    "state":"",
                    "statemsg":""
                  };
                  this.stateIdx = -1;
                }
            },
            upuserDialogVisible(v:any) {
                if(v===false){
                  this.btnShow = true;
                  this.fileList = [];
                  this.fileUpusers = [];
                }
            },
            drawerFaceFormVisible(v:any){
                if(v===false){
                    let d:any = {
                      "id":"",
                      "name":"",
                      "face":"",
                      "face_old":""
                    };
                    this.faceD = Object.assign({}, d);
                    this.fileListImgFace = [];
                    this.uploadDisabledFace = false;
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          download(){
            window.open('https://kq-community.server.zhhost.top/temp/柯桥用户导入.xlsx');
          },
          showUpuserDialog(){
            this.upuserDialogVisible = true;
          },
          beforeUploadUsers(files: any){
              let arr = files.name.split('.')
              let suffix = arr[arr.length - 1]
              let isJPG1 = false
              if (suffix == 'xlsx' || suffix == 'xls') {
              isJPG1 = true
              } else {
              isJPG1 = false
              }
              const isLt20M = (files.size / 1024 / 1024) < 20;
              if (!isJPG1) {
                  (this as any).$message.error('上传文件只能是 xlsx或xls表格!');
              }
              if (!isLt20M) {
                  (this as any).$message.error('上传文件大小不能超过 20MB!');
              }
              if(isJPG1 && isLt20M){
              // (this as any).$loading({title: '上传中...'});
              }
              let name = true;
              this.btnShow = false;
              return isJPG1 && isLt20M && name;
          },
          beforeRemove(){
              this.btnShow = true;
              this.fileUpusers = [];
          },
          upUsersSuccess(e:any){
              let fileArr:any = [];
              if(e.success){
                  fileArr = e.msg.list
                  for(let i=0; i<fileArr.length;i++){
                      let item = fileArr[i]
                      let obj:any = {
                        "id":"0",
                        "cover_old":"",
                        "cover":"",
                        "name":"",
                        "idcard": "",
                        "mobile":"",
                        "birthday":"",
                        "sex": '1',
                        "isworkers": '1',
                        "leave": '0',
                        "isparty": '1',
                        "address": "",
                        "household": "",
                        "org_id":"",
                        "jobtitle":"",
                        "state":"1",
                        "statemsg": "",
                        "type":"0",
                        "typemsg":"",
                        "ispoint":"1",
                        "alone":"0"
                      }
                      let keys:any = {'姓名':'name','出生年月':'birthday','身份证号':'idcard','户口所在地':'household','居住地':'address','所属社区部门':'org_id','职务':'jobtitle','联系电话':'mobile','人口类别备注':'typemsg','状态备注':'statemsg',}
                      let leaves:any = {'普通居民': -1,'工作人员': 0,'普通党员': 1,'主任': 2,'委员': 3,'副书记': 4,'书记': 5,}
                      let workers:any = {'居民': 0,'社工': 1,'领导': 2}
                      Object.keys(item).forEach((key) => {
                          switch(key){
                              case '姓名':
                              case '出生年月':
                              case '身份证号':
                              case '户口所在地':
                              case '居住地':
                              case '所属社区部门':
                              case '职务':
                              case '联系电话':
                              case '人口类别备注':
                              case '状态备注':
                                  (obj as any)[keys[key]] = item[key];
                              break;
                              case '性别':
                                  obj.sex = item[key] === '男'?1:2;
                              break;
                              case '党员':
                                  obj.isparty = item[key] === '是'?1:0;
                              break;
                              case '身份':
                                  obj.isworkers = workers[item[key]];
                              break;
                              case '等级':
                                  obj.leave = leaves[item[key]];
                              break;
                              case '人口类别':
                                  obj.type = item[key] === '流动人口'?1:0;
                              break;
                              case '重点人口':
                                  obj.ispoint = item[key] === '是'?1:0;
                              break;
                              case '是否独居':
                                  obj.alone = item[key] === '是'?1:0;
                              break;
                              case '状态':
                                  obj.state = item[key] === '正常'?1:0;
                              break;
                              default:
                              break;
                          }
                      });
                      (this as any).fileUpusers.push(obj);
                  }
                  console.log((this as any).fileUpusers);
              }
          },
          async upUsers(){
                let noUploads:any = '';
                for(let i=0;i<this.fileUpusers.length; i++){
                    let data:any = this.fileUpusers[i];
                    await (this as any).axios.post('manager/users/design',data,{headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                        if (!e.data.success) {
                            noUploads += (data.name+':'+e.data.err+'; ');
                        }
                    }).catch(()=>{noUploads += (data.name+':'+'其他原因'+'; ');})
                }
                if(noUploads===''){
                    (this as any).$message.success('导入成功');
                }else{
                    ElMessageBox.alert(noUploads, '以下用户导入失败', {confirmButtonText: '知道了'});
                }
                this.upuserDialogVisible = false;
                this.query = {
                    key: '',
                    state: '',
                    isworkers: '',
                    type: '',
                    ispoint: '',
                    alone: '',
                    currentpage: '1',
                    pagesize: '10'
                };
                this.getData();
          },
          // 获取组织架构
          getOrganlist(){
            (this as any).axios.post('manager/organization/list',{},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));

                      // 组织架构层级数据整理
                      let arObj:any = {};
                      list.map((e:any)=>{
                        let key:any = e.id.length||'0';
                        arObj[key] = arObj[key]||[];
                        arObj[key].push(e);
                      })
                      for (const key in arObj) {
                        let k:any = key;
                        let arr:any = arObj[k];
                        let key_m:any = k-2;
                        arr.map((e:any)=>{
                          let v:any = e.id.substring(0,key_m);
                          let arr1:any = arObj[key_m]||[];
                          arr1.map((ev:any)=>{
                            if(ev.id===v){
                                let o:any = e;
                                ev.children = ev.children||[];
                                ev.children.push(o);
                            }
                          })
                        })
                      }
                      // console.log(arObj);
                      this.organlist = JSON.parse(JSON.stringify(arObj['2']));
                      console.log(arObj);
                    } else {
                      this.organlist = [];
                    }
                }else {
                  this.organlist = [];
                }
            })
          },
          
          uploadSuccess(res: any) {
              this.d.cover = res.filename;
          },
          uploadSuccessFace(res: any) {
              this.faceD.face = res.filename;
          },
          handleBeforeUpload(file: any) {
              const isJPG = file.type === "image/jpeg" || file.type === "image/png";
              const isLt2M = file.size / 1024 / 1024 < 10;

              if (!isJPG) {
                console.error('上传头像图片只能是 JPG 格式!');
              }
              if (!isLt2M) {
                console.error('上传头像图片大小不能超过 10MB!');
              }
              return isJPG && isLt2M;
          },
          handleBeforeUploadFace(file: any) {
              const isJPG = file.type === "image/jpeg";
              const isLt2M = file.size / 1024 < 200 && file.size / 1024 > 10;

              if (!isJPG) {
                (this as any).$message.error('上传头像图片只能是 JPG 格式!');
              }
              if (!isLt2M) {
                (this as any).$message.error('上传头像图片大小限制在10~200kb之间!');
              }
              this.uploadDisabledFace = false;
              return isJPG && isLt2M;
          },
          handleLimit(file: any, fileList: any) {
              if (fileList.length >= 1) {
              this.uploadDisabled = true;
              }
          },
          handleLimitFace(file: any, fileList: any) {
              if (fileList.length >= 1) {
              this.uploadDisabledFace = true;
              }
          },
          // 预览
          handlePreview(file: any) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
          },
          // 删除图片
          handleRemove() {
            (this as any).d.cover = ""
            this.fileListImg = [];
            this.uploadDisabled = false;
          },
          handleRemoveFace() {
            (this as any).d.cover = ""
            this.fileListImgFace = [];
            this.uploadDisabledFace = false;
          },
          upFace(){
            console.log(this.faceD);
            let loading:any = ElLoading.service({
              lock: true,
              text: 'Loading',
              spinner: 'el-icon-loading',
              background: 'rgba(0, 0, 0, 0.7)'
            });
            (this as any).axios.post('manager/users/face',this.faceD,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                        this.drawerFaceFormVisible = false;
                        this.getData();
                        (this as any).$message.success('成功');
                    } else {
                        (this as any).$message.error(t.data.err);
                    }
                } else {
                    (this as any).$message.error('请求失败');
                }
                loading.close();
            }).catch(()=>{
              (this as any).$message.error('请求失败');
              loading.close();
            })
          },
          deleteFace(row:any){
            if(!row.facecode&&row.faceid&&row.face&&row.id){
              (this as any).$message.error('没有人脸信息或数据错误，请稍后再试！');
              return;
            }
            let data:any = {
                "id":row.id,
                "face":row.face,
                "faceid":row.faceid,
                "facecode":row.facecode
            };
            let loading:any = ElLoading.service({
              lock: true,
              text: 'Loading',
              spinner: 'el-icon-loading',
              background: 'rgba(0, 0, 0, 0.7)'
            });
            (this as any).axios.post('manager/users/delface ',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                        this.getData();
                        (this as any).$message.success('成功');
                    }else{
                        (this as any).$message.error(t.data.err);
                    }
                } else {
                    (this as any).$message.error('请求失败');
                }
                loading.close();
            }).catch(()=>{
              (this as any).$message.error('请求失败');
              loading.close();
            })
          },

          closeDialog() {
              this.drawerFormVisible = false;
          },
          showDrawer(row: any = undefined) {
              if (row) {
                  this.id = row.id;
                  (this as any).axios.post('manager/users/get',{id:this.id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                      if (t.status == 200) {
                          if (t.data.success) {
                            let data:any = JSON.parse(JSON.stringify(t.data.msg));
                            data.cover_old = data.cover;
                            let o:any = {
                              name: '',
                              url: data.cover?(this.imgdownload+data.cover):''
                            };
                            this.uploadDisabled = data.cover?true:false;
                            data.cover?(this as any).fileListImg.push(o):[];
                            this.d = data;
                            this.drawerFormVisible = true;
                          } else {
                              (this as any).$message.error(t.data.err);
                          }
                      } else {
                          (this as any).$message.error('请求失败');
                      }
                  })
              }else{
                this.drawerFormVisible = true;
              }
          },
          showFeceDrawer(row: any = undefined){
            // if(row.face){
            //   (this as any).$message.success('该用户已经上传人脸信息！');
            //   return;
            // }
              if(row.id){
                this.faceD.id = row.id;
                this.faceD.face_old = row.face;
                this.drawerFaceFormVisible = true;
              }
          },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        let org_id:any = typeof data.org_id ==='object'?data.org_id[1]:data.org_id;
                        data.org_id = org_id;
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/users/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData();
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 设置用户状态
            setState(index: number, row: any) {
              let data:any = {
                "id":row.id,
                "state":row.state||'0',
                "statemsg":""
              };
              this.userState = data;
              this.stateIdx = index;
              this.statemsgdialogVisible = true;
            },
            del(){
              if(!this.userState.statemsg){
                (this as any).$message.error('请填写状态变更备注');
                return
              }
              (this as any).axios.post("manager/users/delete", this.userState, {headers: {token: (this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      if (e.data.success) {
                          (this as any).$message.success('成功');
                          this.getData('1')
                      }else{
                        (this as any).tableData[this.stateIdx].state = (this as any).tableData[this.stateIdx].state==="0"?"1":"0";
                        (this as any).$message.error(e.data.err);
                      }
                  }else{
                    (this as any).tableData[this.stateIdx].state = (this as any).tableData[this.stateIdx].state==="0"?"1":"0";
                    (this as any).$message.error('请求失败');
                  }
                  this.statemsgdialogVisible =false;
              })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    state: string,
                    isworkers: string,
                    type: string,
                    ispoint: string,
                    alone: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    state: this.query.state,
                    isworkers: this.query.isworkers,
                    type: this.query.type,
                    ispoint: this.query.ispoint,
                    alone: this.query.alone,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                  data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/users/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let da = JSON.parse(JSON.stringify(d.msg.list));
                            da.map((item:any)=>{
                              if(item.state == '1'){
                                item.stateFlag = true
                              }else{
                                item.stateFlag = false
                              }
                            })
                            console.log((this as any).$store.state.username);
                            this.tableData = da;
                            // if((this as any).$store.state.username==='tesdt'){
                            //   this.tableData = da;
                            // }else{
                            //   this.tableData = da.filter((item:any) => {
                            //     return item.name !== 'test'
                            //   })
                            // }
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
</style>