<template>
  <div class="map-page">
    <div id="mapBox" style="width:100%; height:100%"></div>
  </div>
</template>

<script lang="ts">
  import {defineComponent, reactive} from 'vue';
  // import AMap from 'AMap'; // 引入高德地图
  export default defineComponent({
    name: 'gaodeMap',
    props: {
      location: {
        type: Array,
        default () {
          return []
        }
      }
    },
    setup() {
      return reactive({
        Map: null,
        marker: null,
        path: null,
      })
    },
    data(){
      return {
      }
    },
    mounted() {
      this.initMap();
    },
    watch:{
      location: function(){
          this.initMap();
      }
    },
    methods:{
      initMap(){
        setTimeout(()=>{
          this.Map = new (window as any).AMap.Map('mapBox', {
              zoom:11,//级别
              center: [116.397428, 39.90923],//中心点坐标
              resizeEnable: true,
          });
          // 插件
          (window as any).AMap.plugin(['AMap.ToolBar', 'AMap.Scale'], ()=>{
            (this as any).Map.addControl(new (window as any).AMap.ToolBar());
            (this as any).Map.addControl(new (window as any).AMap.Scale());
          })
          // marker标记
          this.marker = new (window as any).AMap.Marker({
            position: null
          });
          (this as any).Map.add(this.marker);
          // 绘制折线
          this.path = new (window as any).AMap.Polyline({
            path: null,
            isOutline: false,     //线条是否带描边，默认false
            outlineColor: '#ffeeff',//线条描边颜色，此项仅在isOutline为true时有效，默认：#000000
            borderWeight: 1,    //描边的宽度，默认为1
            strokeColor: "#3366FF", //线条颜色，使用16进制颜色代码赋值。默认值为#006600
            strokeOpacity: 1,   //线条透明度，取值范围[0,1]，0表示完全透明，1表示不透明。默认为0.9
            strokeWeight: 2,    //线条宽度，单位：像素
            // 折线样式还支持 'dashed'
            strokeStyle: "dashed",  //线样式，实线:solid，虚线:dashed
            // strokeStyle是dashed时有效
            strokeDasharray: [10, 5],//勾勒形状轮廓的虚线和间隙的样式，此属性在strokeStyle 为dashed 时有效
            lineJoin: 'round',    //折线拐点的绘制样式，默认值为'miter'尖角，其他可选值：'round'圆角、'bevel'斜角
            lineCap: 'round',   //折线两端线帽的绘制样式，默认值为'butt'无头，其他可选值：'round'圆头、'square'方头
            zIndex: 50,       //折线覆盖物的叠加顺序。默认叠加顺序，先添加的线在底层，后添加的线在上层。通过该属性可调整叠加顺序，使级别较高的折线覆盖物在上层显示默认zIndex：50、
          });
          // 将折线添加至地图实例
          (this as any).Map.add(this.path);
            // 设置路径
            this.setMap();
        },50)
      },
      // 设置路径
      setMap(){
        let trackPath:any = [];
        (this as any).location.forEach((item:any) => {
          trackPath.push(new (window as any).AMap.LngLat(item.long,item.lat))
        });
        (this as any).path.setPath(trackPath);
        (this as any).path.show();

        // 将最后一条记录添加marker标记
        let lastTrack = new (window as any).AMap.LngLat((this as any).location[0].long,(this as any).location[0].lat);
        (this as any).Map.setCenter(lastTrack);
        (this as any).marker.setPosition(lastTrack);
        (this as any).marker.show();
      },
    }
  })
</script>

<style scoped lang="scss">
  .map-page,#mapBox{
    width: 100%;height: 100%;position: relative;
  }
  #mapBox{

  }
</style>