<template>
    <div>
        文件管理
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';

    export default defineComponent({
        name: "file",
        setup() {
            return reactive({
            })
        },
        data() {
            return {
            }
        },
        mounted() {
        },
        watch: {
        },
        computed: {
        },
        methods: {

        }
    })
</script>

<style lang="scss" scoped>
</style>