<template>
    <div class="main-component-box">
        <div class="head">
            <div class="left filter-container">
                <span class="title" @click="back()">{{name||''}}</span>
                <i class="el-icon-back floatLeft" @click="back()"></i>
                <i @click="getData('1')" class="el-icon-refresh"></i>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="tableBox">
            <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="姓名"></el-table-column>
            </el-table>
        </div>
        <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>
        
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";

    export default defineComponent({
        name: "listuser",
        props: {
            name: {
                type: String, default: ''
            },
            id: {
                type: String, default: ''
            },
        },
        setup() {
            return reactive({
                query:{
                    id: '',
                    currentpage: '1',
                    pagesize: '10'
                },
                total: 0,
                tableData:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.query.id = this.id;
            this.getData();
        },
        watch: {
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            back() {
                this.$emit('childBack', '');
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    itemid: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    itemid: this.id,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/vote/list_user',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    console.log(e)
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            this.tableData = d.msg.list;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },

        }
    })
</script>

<style lang="scss" scoped>
    /deep/.el-form-item__content{
        text-align: left;
    }
    .title{font-size: 18px; font-weight: 800;color: #666;cursor: pointer;margin-left: 20px;}
</style>
