<template>
  <div class="main-component-box">

    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入维修名称" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
      </div>
    </div>

    <div class="tableBox">
        <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <el-table-column type="expand">
                <template #default="props">
                    <el-table :data="props.row.detail" style="width: 100%" class="tableBox" :height="auto">
                      <el-table-column prop="cover" label="维修图片" width="80">
                        <template #default="scope">
                          <el-image style="width: 40px; height: 40px" fit="contain" :src="scope.row.imgs?imgdownload + scope.row.imgs.split(',')[0]:''" @click="showDialog('dialogArrImage',scope.row.imgs)"></el-image>
                        </template>
                      </el-table-column>
                      <el-table-column prop="msg" label="维修内容"></el-table-column>
                      <el-table-column prop="state" label="服务情况" width="120">
                          <template #default="scope">
                              <el-tag :type="scope.row.state=='0'?'info':'success'">{{scope.row.state=='0'?'未完结':'已完结'}}</el-tag>
                          </template>
                      </el-table-column>
                      <el-table-column prop="intime" label="更新时间" width="170">
                        <template #default="scope">
                          <span>{{scope.row.intime.substring(0,19)}}</span>
                        </template>
                      </el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template> 
            <el-table-column prop="name" label="发起人" width="120"></el-table-column>
            <el-table-column prop="title" label="维修名称"></el-table-column>
            <el-table-column prop="cover" label="图片" width="70">
              <template #default="props">
                <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.imgs.split(',')[0]" @click="showDialog('dialogArrImage',props.row.imgs)"></el-image>
              </template>
            </el-table-column>
            <el-table-column prop="msg" label="维修内容"></el-table-column>
            <el-table-column prop="happentime" label="问题出现时间" width="170"></el-table-column>
            <el-table-column prop="mediatorname" label="维修员" width="140">
                <template #default="scope">
                    <span v-if="scope.row.mediator">{{scope.row.mediatorname||''}}</span>
                    <el-button v-else size="mini" @click.stop="()=>{listEditIdx=scope.$index;editType='edit';showDrawer(scope.row);}" :disabled="!pageAuthority.maintain">添加维修人员</el-button>
                </template>
            </el-table-column>
            <el-table-column prop="lasttime" label="维修更新时间" width="170"></el-table-column>
            <el-table-column prop="state" label="处理情况" width="120">
                <template #default="scope">
                    <el-tag :type="scope.row.state==='0'?'info':'success'">{{scope.row.state==='0'?'未完结':'已完结'}}</el-tag>
                </template>
            </el-table-column>
            <el-table-column prop="intime" label="提交时间" width="170"></el-table-column>
        </el-table>
    </div>

    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

  <!-- 维修名、参与人员-->
  <el-drawer :title="'指定'+(id?'维修人员':'维修')" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
    <div class="edit" v-if="drawerFormVisible">
      <el-form ref="from" :model="d" label-width="90px" @close="closeDrawer()" style="width:96%;">
        <el-form-item :rules="[ { required: true, message: '维修人员不能为空'} ]" label="维修人员" prop="mediator">
          <el-select v-model="d.mediator" filterable placeholder="请选择">
            <el-option v-for="item in userslist" :key="item.id" :label="item.name" :value="item.id" :disabled="item.isworkers!=='1'"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                <el-button @click="closeDrawer()">取 消</el-button>
                <el-button type="primary" @click="submitForm('from')">确 定</el-button>
            </div>
        </el-form-item>
      </el-form>
    </div>
  </el-drawer>

  <!-- 预览 -->
  <el-dialog :title="dialogTitle" v-model="dialogVisible">
    <div v-if="dialogHtml" v-html="dialogHtml"></div>
    <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
    <div v-if="dialogArrImage">
      <img v-for="(v,i) in dialogArrImage.split(',')" :key="i" :src="imgdownload+v" alt="" class="dialogImg" style="margin-bottom:10px;">
    </div>
  </el-dialog>
</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost,propertyImg} from '@/utils/utils'
    import {mapState} from "vuex";

    export default defineComponent({
        name: "property",
        components: {},
        setup() {
            return reactive({
              pageAuthority:{},
              imgdownload: propertyImg(),
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogImage: '',
              dialogArrImage: '',
              dialogHtml: '',
              dialogTitle: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "id":"",
                "mediator": "",
              },
              workorderTypes: [{id:"1",title: '环境卫生'},{id:"2",title:'五水共治'},{id:"3",title:'疫情防控'},{id:"5",title:'月度检查'}],
              userslist: [],
              query:{
                  key: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
              editType: null,//修改类型 edit del
              listEditIdx: null,//当前修改表格行 下标
              listitemEditIdx: null,//当前修改表格行 > 子行 下标
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.property;//获取当前页面权限
            this.getData();
            this.getuserslist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":"",
                      "mediator": "",
                    }
                    this.d = Object.assign({}, d);
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          // 获取社工
          getuserslist(){
            let data:any = {"isworkers":"1","s_org_id":(this as any).$store.state.org_id,"leave":"0"};
            (this as any).axios.post('manager/users/searchList',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));
                      list.map((e:any)=>{
                        e.disabled = e.isworkers!=="1";
                        
                      })
                      this.userslist = list;
                    } else {
                      this.userslist = [];
                    }
                }else {
                  this.userslist = [];
                }
            }) 
          },

          closeDrawer() {
              this.drawerFormVisible = false;
          },
          showDrawer(row: any = undefined) {
              if(row){
                  this.d.id = row.id;
                  let userslist:any = JSON.parse(JSON.stringify(this.userslist));
                  if(!userslist.length){
                    (this as any).$message.error('没有可添加的人员');
                    return;
                  }
                  this.userslist = userslist;
                  this.drawerFormVisible = true;
              }else{
                  this.drawerFormVisible = true;
              }
          },
          showDialog(key:any,msg:any,title:any){
            this.dialogTitle = title;
            (this as any)[key] = msg;
            this.dialogVisible = true;
          },

          pagechange(val: string) {
              this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
          },
          submitForm(formName: any) {
              (this as any).$refs[formName].validate((valid: Boolean) => {
                  if (valid) {
                    let url:any = 'manager/property/maintain';
                    let data:any = {
                          ...this.d
                      };
                    console.log(data);
                    // return
                    (this as any).axios.post(url,data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                this.drawerFormVisible = false;
                                this.getData('1');
                                (this as any).$message.success('成功');
                            } else {
                                (this as any).$message.error(t.data.err);
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                        }
                    })
                      
                  } else {
                      return false;
                  }
              })
          },
          // 获取列表
          getData(currentpage: string = '') {
              interface dataType {
                  key: string,
                  currentpage: string,
                  pagesize: string
              }
              let data: dataType = {
                  key: this.query.key,
                  currentpage: this.query.currentpage,
                  pagesize: this.query.pagesize
              };
              if (currentpage) {
                  data.currentpage = currentpage;
              }
              (this as any).axios.post('manager/property/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                  if (e.status === 200) {
                      let d: any = e.data;
                      (this as any).total = '0';
                      if (d.success) {
                          this.total = d.msg.count;
                          let list:any = JSON.parse(JSON.stringify(d.msg.list));
                          this.tableData = list;
                      } else {
                          (this as any).$message.error(e.data.err);
                          (this as any).$store.dispatch('loginOut', '').then(() => {
                              (this as any).$router.replace("/")
                          })
                      }
                  }
              })
          },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
</style>