<template>
  <div class="main-component-box">
    <!--具体选项 投票情况 -->
    <listuser v-if="componentData.type==='listuser'" :name="componentData.name" :id="componentData.id" @childBack="childBack"></listuser>
    <div class="main-component" v-else>
        <div class="head">
            <i @click="getData()" class="el-icon-refresh"></i>
            <div class="left filter-container">
                <el-input placeholder="请输入投票名称" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
                <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
            </div>
            <div class="right">
                <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加投票</el-button>
            </div>
        </div>
        <div class="tableBox">
            <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
                <el-table-column type="expand">
                    <template #default="props">
                        <el-table :data="props.row.item" style="width: 100%" class="tableBox" :height="auto">
                        <el-table-column prop="msg" label="选项"></el-table-column>
                        <el-table-column prop="result" label="投票数">
                            <template #default="scope"><span class="cous" @click="showlistuser(scope.row)">{{scope.row.result}}</span></template>
                        </el-table-column>
                            <el-table-column label="编辑" v-if="!props.row.isHistory">
                                <template #default="scope">
                                    <el-button size="mini" @click="showItemDrawer(props.row,scope.row)" :disabled="!pageAuthority.item_update">编辑选项</el-button>
                                    <el-popconfirm
                                            confirmButtonText='好的'
                                            cancelButtonText='不用了'
                                            @confirm="delItem(scope.$index, props.row)"
                                            icon="el-icon-info"
                                            iconColor="red"
                                            title="这是一段内容确定删除吗？">
                                        <template #reference>
                                            <el-button size="mini" type="danger" :disabled="!pageAuthority.item_delete">删除选项</el-button>
                                        </template>
                                    </el-popconfirm>
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-table-column>
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="title" label="投票名称"></el-table-column>
                <el-table-column prop="starttime" label="开始时间"></el-table-column>
                <el-table-column prop="endtime" label="结束时间"></el-table-column>
                <el-table-column prop="showname" label="是否记名" width="100">
                <template #default="props"><span>{{props.row.showname=='0'?'是':'否'}}</span></template>
                </el-table-column>
                <!-- <el-table-column prop="msg" label="内容描述">
                <template #default="scope">
                    <el-button size="mini" @click="showDialog('dialogHtml',scope.row.msg,scope.row.title)">查看内容描述</el-button>
                </template>
                </el-table-column> -->
                <el-table-column label="编辑" width="260">
                    <template #default="scope">
                        <el-button size="mini" @click="showDrawer(scope.row)" v-if="!scope.row.isHistory" :disabled="!pageAuthority.edit">编辑</el-button>
                        <el-button size="mini" @click="showItemDrawer(scope.row)" v-if="!scope.row.isHistory" :disabled="!pageAuthority.item_add">添加选项</el-button>
                        <el-popconfirm
                                v-if="!scope.row.isHistory"
                                confirmButtonText='好的'
                                cancelButtonText='不用了'
                                @confirm="del(scope.$index, scope.row)"
                                icon="el-icon-info"
                                iconColor="red"
                                title="这是一段内容确定删除吗？">
                            <template #reference>
                                <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">删除</el-button>
                            </template>
                        </el-popconfirm>
                        <el-tag v-if="scope.row.isHistory" type="info" size="mini">历史活动</el-tag>
                    </template>
                </el-table-column>
            </el-table>
        </div>

        <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

        <!-- 投票主题 开始时间 内容描述 是否记名 选项 -->
        <el-drawer :title="id?'编辑':'添加'+'投票'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
            <div class="edit" v-if="drawerFormVisible">
            <el-form ref="from" :model="d" label-width="90px" @close="showDrawer()" style="width:96%;">
                <el-form-item :rules="[ { required: true, message: '投票主题不能为空'} ]" label="投票主题" prop="title">
                    <el-input autocomplete="off" clearable v-model="d.title"></el-input>
                </el-form-item>
                <el-form-item label="选择社区" prop="org_id" v-if="!org_id">
                    <el-select v-model="d.org_id" style="width: 150px;" clearable>
                        <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item :rules="[ { required: true, message: '开始时间不能为空'} ]" label="开始时间" prop="starttime">
                <el-date-picker v-model="d.starttime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择开始时间"></el-date-picker>
                </el-form-item>
                <el-form-item :rules="[ { required: true, message: '结束时间不能为空'} ]" label="结束时间" prop="endtime">
                <el-date-picker v-model="d.endtime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择结束时间"></el-date-picker>
                </el-form-item>
                <!-- <el-form-item :rules="[ { required: true, message: '内容描述不能为空'} ]" label="内容描述" prop="msg" size="small">
                    <Tinymce @update:value="valChange" :value="d.msg"/>
                </el-form-item> -->
                <el-form-item :rules="[ { required: true, message: '请选择'} ]" label="是否记名" prop="showname">
                <el-radio-group v-model="d.showname">
                    <el-radio :label="'0'">是</el-radio>
                    <el-radio :label="'1'">否</el-radio>
                </el-radio-group>
                </el-form-item>
                <el-form-item :rules="[ { required: true, message: '选项不能为空'} ]" label="选项" prop="items" v-if="!id">
                    <el-form-item  class="guige-box pd10 mb10" v-for="(v,idx) in d.items" :key="idx">
                        <el-form-item :rules="[ { required: true, message: '选项名称不能为空'} ]" label="选项名称" :prop="'items.'+idx"  label-width="80px">
                            <el-input autocomplete="off" clearable v-model="d.items[idx]"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <div class="flex-row-end mt10">
                                <el-button class="ml10" size="mini" type="danger" icon="el-icon-delete" @click="delFormItem(idx)">删除选项</el-button> 
                            </div>
                        </el-form-item>
                    </el-form-item>
                    <el-form-item >
                        <div>
                            <el-button size="mini" type="success" icon="el-icon-plus" @click="addItem">添加选项</el-button> 
                        </div>
                    </el-form-item>
                </el-form-item>
                <el-form-item>
                    <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                        <el-button @click="closeDrawer()">取 消</el-button>
                        <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                    </div>
                </el-form-item>
            </el-form>
            </div>
        </el-drawer>

        <!-- 选项标题-->
        <el-drawer :title="id?'编辑':'添加'+'选项'" :size="'40%'" v-model="drawerItemFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
            <div class="edit" v-if="drawerItemFormVisible">
            <el-form ref="from_item" :model="item" label-width="90px" @close="showDrawer()" style="width:96%;">
                <el-form-item :rules="[ { required: true, message: '选项不能为空'} ]" label="投票选项" prop="msg">
                <el-input autocomplete="off" clearable v-model="item.msg"></el-input>
                </el-form-item>
                <el-form-item>
                    <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                        <el-button @click="closeItemDrawer()">取 消</el-button>
                        <el-button type="primary" @click="submitItemForm('from_item')">确 定</el-button>
                    </div>
                </el-form-item>
            </el-form>
            </div>
        </el-drawer>

        <!-- 预览 -->
        <el-dialog :title="dialogTitle" v-model="dialogVisible">
            <div v-if="dialogHtml" v-html="dialogHtml"></div>
            <img v-if="dialogImage" :src="dialogImage" alt="" class="dialogImg">
        </el-dialog>
    </div>

</div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
  import { ossHost, uploadHost} from '@/utils/utils'
import {mapState} from "vuex";
  import listuser from './listuser.vue';

    export default defineComponent({
        name: "vote",
        components: {listuser},
        setup() {
            return reactive({
              pageAuthority:{},
              org_id: "",//所属组织ID
              orgList: [],//所属组织架构
              componentData: {
                  type: '',
                  name: '',
                  id: ''
              },
              uploadHost: uploadHost(),
              ossHost: ossHost(),

              dialogImage: '',
              dialogHtml: '',
              dialogTitle: '',
              dialogVisible: false,
              
              drawerItemFormVisible:false,
              item: {
                "voteid":0,
                "msg": '',
              },

              drawerFormVisible:false,
              id:'',
              d: {
                "id":0,
                "title": '',
                "org_id": '',
                "starttime":"",
                "endtime":"",
                // "msg": "",
                "showname": '0',
                "items": [""]
              },
              query:{
                  key: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
            })
        },
        data() {
            return {
              storeName:'',
              storeId: '',
              storeEditType: '',
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.vote;//获取当前页面权限
            this.org_id = (this as any).$store.state.org_id;
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                        "id":0,
                        "title": '',
                        "org_id": '',
                        "starttime":"",
                        "endtime":"",
                        // "msg": "",
                        "showname": '0',
                        "items": [""]
                    }
                    this.d = Object.assign({}, d);
                }
            },
            drawerItemFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let item:any = {
                        "voteid":0,
                        "msg": '',
                    }
                    this.item = Object.assign({}, item);
                }
            },
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            addItem(){
                let o:any = "";
                (this as any).d.items.push(o);
                this.$forceUpdate();
            },
            delFormItem(i:any){
                if((this as any).d.items.length>1){
                    (this as any).d.items.splice(i,1);
                }else{
                  (this as any).$message.error('必须要有一个选项');
                }
            },
            showDialog(key:any,msg:any,title:any){
                this.dialogTitle = title;
                (this as any)[key] = msg;
                this.dialogVisible = true;
            },
            valChange(e: any){
                // this.d.msg = e;
            },
            showDrawer(row: any = undefined) {
                if(row){
                    this.id = row.id;
                    let d:any = {
                        "id": row.id,
                        "title": row.title,
                        "starttime": row.starttime,
                        "endtime": row.endtime,
                        "showname": row.showname
                    }
                    this.d = d;
                }
                this.drawerFormVisible = true;
            },
            closeDrawer() {
                this.drawerFormVisible = false;
            },
            showItemDrawer(row: any = undefined,rowItem: any = undefined) {
                let item:any = {
                    "voteid": row.id,
                    "msg": rowItem?rowItem.msg:"",
                }
                this.item = item;
                this.drawerItemFormVisible = true;
            },
            closeItemDrawer() {
                this.drawerItemFormVisible = false;
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        data.items = JSON.stringify(data.items)||'';
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/vote/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            submitItemForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.item
                        };
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/vote/item_add',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerItemFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 删除选项
            delItem(index: number, row: any) {
                let data:any ={
                    "voteid": row.id,
                    "itemid": row.item[index].id
                };
                console.log(data);
                // return
                (this as any).axios.post("manager/vote/item_delete", data, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }
                    }
                })
            },
            // 删除
            del(index: number, row: any) {
                (this as any).axios.post("manager/vote/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/vote/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            data.map((e:any)=>{
                                e.isHistory = true;
                                let date = new Date(e.starttime.replace(/-/g,'/'));
                                let time = date.getTime();
                                let nowdate = new Date();
                                let nowtime = nowdate.getTime();
                                if(nowtime < time){//不是历史投票
                                    e.isHistory = false;
                                }
                            })
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            showlistuser(row:any){
                if(!(this as any).pageAuthority.list_user){
                    (this as any).$message.error('没有权限查看投票人');
                    return;
                }
                this.componentData.type = 'listuser';
                this.componentData.name = row.msg;
                this.componentData.id = row.id;
            },
            childBack() {
              this.componentData.type = '';
            },



        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
  /deep/ .mce-statusbar{display: none;}
  /deep/ .el-table__expanded-cell{ padding: 0 0 0 47px;}
  .guige-box{
      background: rgba(103, 194, 58, 0.2);
      border: solid 1px rgb(103, 194, 58);
  }
</style>