<template>
  <div class="edit">
      <el-form ref="dataForm" :rules="rules" :model="form" label-width="90px">
        <el-form-item v-for="(v,i) in renderForms" :key="i" :label="v.title" :prop="v.key">
            <el-input v-if="v.type==='input'" :type="v.inputType" :placeholder="v.placeholder" v-model="form[v.key]" show-word-limit :maxlength="v.maxlength" :max="v.maxlength"></el-input>
            <el-input-number v-if="v.type==='inputNumber'" v-model="form[v.key]" :min="1" :max="10" label="描述文字"></el-input-number>
            <el-rate v-if="v.type==='rate'" v-model="form[v.key]" :allow-half="v.allowHalf"></el-rate>
            <el-select v-if="v.type==='select'" clearable :placeholder="v.placeholder" v-model="form[v.key]">
                <el-option v-for="item in v.options" :key="item.value" :label="item.label" :value="item.value" />
            </el-select>
            <el-switch v-if="v.type==='switch'" v-model="form[v.key]" :active-text="v.activetext" :inactive-text="v.intext"></el-switch>
            <el-checkbox v-if="v.type==='checkbox'" :indeterminate="isIndeterminate" v-model="checkAll" @change="(e)=>handleCheckAllChange(e,v.key,v.options)">全选</el-checkbox>
            <el-checkbox-group v-if="v.type==='checkbox'" v-model="form[v.key]" @change="(e)=>handleCheckedCitiesChange(e, v.options)">
                <el-checkbox v-for="item in v.options" :label="item" :key="item">{{item}}</el-checkbox>
            </el-checkbox-group>
            <el-time-select v-if="v.type==='time'" v-model="form[v.key]" :picker-options="{ start: '00:00', step: '00:15', end: '24:00' }" placeholder="选择时间"> </el-time-select>
            <el-date-picker v-if="v.type==='date'" v-model="form[v.key]" type="date" placeholder="选择日期"> </el-date-picker>
            <el-date-picker v-if="v.type==='dateTime'" v-model="form[v.key]" type="datetimerange" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"></el-date-picker>
            <el-upload
              v-if="v.type==='upload'"
              class="upload-demo"
              :action="uploadHost"
              list-type="picture-card"
              :file-list="loadArrangesImg(v.fileList)"
              :on-success="(e)=>{uploadSuccess(e,v.key,i)}"
              :before-upload="handleBeforeUpload"
              :on-change="handleLimit"
              :limit="v.limit"
              :multiple='false'
              :class="{disabled:uploadDisabled}">
              <template #default><i class="el-icon-plus"></i></template>
              <template #file="{file}">
                  <div style="width:100%;height:100%;">
                      <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                      <span class="el-upload-list__item-actions">
                          <span class="el-upload-list__item-preview" @click="imgPreview(file)">
                              <i class="el-icon-zoom-in"></i>
                          </span>
                          <span  class="el-upload-list__item-delete">
                              <i class="el-icon-delete" @click="delImg(file,v.key,i)"></i>
                          </span>
                      </span>
                  </div>
              </template>
            </el-upload>
        </el-form-item>
        <el-form-item>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                <el-button @click="cancel()"  >取 消</el-button>
                <el-button type="primary" @click="confirm('from')" >确 定</el-button>
            </div>
        </el-form-item>
      </el-form>
  </div>
</template>

<script lang="ts">
  /**
   * dejavu
   * submitForm 表单提交组件
   * form array 示例如下:
   * renderForms:[
   {
        type: 'input', // string (input输入框/select下拉选择/switch开关/checkbox多选/date日期时间/button)
        value: '',
        placeholder: '',
        icon: 'el-icon-search'
      }
   ]
   *
   */
  import { defineComponent} from 'vue';
  import {uploadHost} from '@/utils/utils'
  export default defineComponent({
    name: 'submitForm',
    props: {
      uploadHost: {
        type: String,
        default:  ()=>{
          return uploadHost()
        }
      },
      renderForms: {
        type: Array,
        default: function() {
          return []
        }
      },
      form: {
        type: Object,
        default: function(){
          return {}
        }
      },
      rules: {
        type: Object,
        default: function(){
          return {}
        }
      },
      dialogStatus: {
          type: String,
          departFocus: function(){
              return 'create'
          }
      }
    },
    setup(){
        return{
          checkAll: false,
          isIndeterminate: true,
          dialogImageUrl: '',
          dialogVisible: false,
          disabled: false,
          uploadDisabled: false,
        }
    },
    mounted() {
          (this as any).$nextTick(() => {
              (this as any).$refs['dataForm'].clearValidate();
          })
    },
    methods: {
      handleCheckAllChange(val:any,key:any,options:any) {
          (this as any).form[key] = val ? options : [];
          (this as any).isIndeterminate = false;
      },
      handleCheckedCitiesChange(value:any,options:any) {
          let checkedCount = value.length;
          (this as any).checkAll = checkedCount === options.length;
          (this as any).isIndeterminate = checkedCount > 0 && checkedCount < options.length;
      },
      // 回显加载n张图片
      loadArrangesImg(imgs:any){
          if(imgs.length===0) return [] 
          let arr:any = []
          for (const key in imgs) {
              if (Object.prototype.hasOwnProperty.call(imgs, key)) {
                  const img:any = {name: "", url: imgs[key]};
                  arr.push(img)
              }
          }
          console.log(arr);
          return arr;
      },
      uploadSuccess(response:any,key:any,i:any){
        this.$emit('uploadSuccess',{response:response,key:key,i:i});
        (this as any).$loading().close();
      },
      handleBeforeUpload(file: any) {
          const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
          const isLt10M = (file.size / 1024 / 1024) < 10;
          if (!isJPG) {
              (this as any).$message.error('上传图片只能是 JPG或PNG 格式!');
          }
          if (!isLt10M) {
              (this as any).$message.error('上传图片大小不能超过 10MB!');
          }
          (this as any).$loading({title: '上传中...'});
          return isJPG && isLt10M;
      },
      handleLimit(file: any, fileList: any) {
          if (fileList.length >= 1) {
              this.uploadDisabled = true;
          }
      },
      // 预览
      imgPreview(file: any) {
        this.$emit('imgPreview',{file:file});
      },
      // 删除行程图片
      delImg(file:any,key:any,i:any){
          console.log((this as any).form[key],i);
          return
          // let imgs:any = JSON.parse(JSON.stringify((this as any).form[key]));
          // let idx:any = imgs.findIndex((e:any)=>{return e === file.url})
          // imgs.splice(idx,1);
          // this.fileList.splice(idx,1);
          // 此处 子组件直接删除数据 不可取
          // (this as any).form[key] = imgs;
          // 发射给父亲 删除数据吧
          // this.$emit('delImg',{key:key,imgIdx:idx,i:i});
      },
      confirm(v:any){
          (this as any).$refs['dataForm'].validate((valid:any) => {
              if (valid) {
                  // const formData = Object.assign({}, v);
                  console.log(this.form,v);
                  this.$emit('confirm',{form:this.form});
              }
          })
      },
      cancel(){
          this.$emit('cancel');
      },
    }
  })
</script>

<style lang="scss" scoped>
  .edit{
    padding: 0 20px;
    box-sizing: border-box;
      *{
          text-align: left !important;
      }
  }
  .el-checkbox{
    margin-right: 15px!important;
  }
  :deep(.el-checkbox__label){
    padding-left: 6px!important;
  }
  .dialog-footer{
      text-align: right;
  }
  .el-upload-box{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .el-upload-list--picture-card{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  :deep(.el-rate){
    height: 40px;
    line-height: 40px;
  }
  :deep(.el-rate__icon){
    font-size: $font-size-20 !important;
  }
  :deep(.el-rate__decimal){
    font-size: $font-size-20 !important;
  }

  
  .upload-demo {
    float: left;
    text-align: left;
  }
</style>
