<template>
    <div class="main-component-box">
        <div class="head">
            <div class="left filter-container">
                <span class="title" @click="back()">{{name||''}}</span>
                <i class="el-icon-back floatLeft" @click="back()"></i>
                <i @click="getData('1')" class="el-icon-refresh"></i>
            </div>
            <div class="right">
            </div>
        </div>
        <div class="tableBox">
            <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
                <template #empty>
                    <span style="color: #969799;">没有更多数据</span>
                </template>
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column prop="cover" label="照片" width="70">
                <template #default="props">
                    <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.cover" @click="handlePreview({url:imgdownload + props.row.cover})"></el-image>
                </template>
                </el-table-column>
                <el-table-column prop="sex" label="性别">
                <template #default="props"><span>{{props.row.sex=='1'?'男':'女'}}</span></template>
                </el-table-column>
                <el-table-column prop="mobile" label="联系方式"></el-table-column>
                <el-table-column prop="intime" label="预约时间"></el-table-column>
            </el-table>
        </div>
        <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

        <!-- 预览 -->
        <el-dialog v-model="dialogVisible">
            <img :src="dialogImageUrl" alt="" class="dialogImg">
        </el-dialog>
        
    </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import {mapState} from "vuex";
    import { usersrImg } from '@/utils/utils'

    export default defineComponent({
        name: "actappointments",
        props: {
            name: {
                type: String, default: ''
            },
            id: {
                type: String, default: ''
            },
            usertype: {
                type: String, default: ''
            },
            isuser:{
                type: Boolean, default: true
            }
        },
        setup() {
            return reactive({
                imgdownload: usersrImg(),
                dialogVisible: false,
                dialogImageUrl : '',
                query:{
                    activity_id: '',
                    type: '',
                    currentpage: '1',
                    pagesize: '100000'
                },
                total: 0,
                tableData:[],
                user: true
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.query.activity_id = this.id;
            this.query.type = this.usertype;
            this.user = this.isuser;
            this.getData();
        },
        watch: {
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            back() {
                this.$emit('childBack', '');
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    activity_id: string,
                    type: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    activity_id: this.id,
                    type: this.query.type,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                console.log(this.user);
                
                (this as any).axios.post(`manager/activity/userlist${this.user?'':2}`,data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    console.log(e)
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            this.tableData = d.msg.list;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            // 预览
            handlePreview(file: any) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },

        }
    })
</script>

<style lang="scss" scoped>
    /deep/.el-form-item__content{
        text-align: left;
    }
    .title{font-size: 18px; font-weight: 800;color: #666;cursor: pointer;margin-left: 20px;}
</style>
