<template>
  <div class="main-component-box">
    <div class="head">
      <i @click="getData()" class="el-icon-refresh"></i>
      <div class="left filter-container">
        <el-input placeholder="请输入活动报道" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
        <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
      </div>
      <div class="right">
        <el-button type="primary" size="small" class="mr10" @click="showDrawer()" :disabled="!pageAuthority.edit">添加活动报道</el-button>
      </div>
    </div>
    <div class="tableBox">
      <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
            <template #empty>
                <span style="color: #969799;">没有更多数据</span>
            </template>
            <el-table-column prop="title" label="标题"></el-table-column>
            <el-table-column prop="fullname" label="所属社区"></el-table-column>
              <el-table-column prop="img" label="照片" width="70">
                <template #default="props">
                  <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.img" @click="handlePreview({url:imgdownload + props.row.img})"></el-image>
                </template>
              </el-table-column>
            <el-table-column prop="intime" label="活动时间"  width="200"></el-table-column>
            <el-table-column label="编辑"  width="100">
                <template #default="scope">
                    <el-button size="mini" @click="showDrawer(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

    <!-- 编辑添加活动报道  -->
    <el-drawer :title="id?'编辑':'添加'+'活动报道'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
      <div class="edit" v-if="drawerFormVisible">
        <el-form ref="from" :model="d" label-width="90px" @close="closeDialog()" style="width:96%;">
            <el-form-item :rules="[ { required: true, message: '请选择社区'} ]" label="所属社区" prop="org_id">
                <el-select v-model="d.org_id" placeholder="请选择" clearable>
                    <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '标题不能为空'} ]" label="标题" prop="title">
                <el-input autocomplete="off" placeholder="标题"  clearable v-model="d.title"></el-input>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '活动时间不能为空'} ]" label="活动时间" prop="intime">
              <el-date-picker v-model="d.intime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择活动时间"></el-date-picker>
            </el-form-item>
            <el-form-item label="活动图片">
                <el-upload
                        :class="{disabled:uploadDisabled}"
                        class="upload-demo floatLeft"
                        :action="uploadHost"
                        list-type="picture-card"
                        :file-list="fileListImg"
                        :on-success="uploadSuccess"
                        :before-upload="handleBeforeUpload"
                        :on-change="handleLimit"
                        :limit="1"
                        :multiple='false'>
                <template #default><i class="el-icon-plus"></i></template>
                <template #file="{file}">
                    <div>
                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                    <span class="el-upload-list__item-actions">
                        <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemove(file,idx)}"></i></span>
                    </span>
                    </div>
                </template>
                </el-upload>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '内容不能为空'} ]" label="内容" prop="msg" size="small">
                <Tinymce @update:value="valChange" :value="d.msg"/>
            </el-form-item>
          <el-form-item>
              <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                  <el-button @click="closeDialog()">取 消</el-button>
                  <el-button type="primary" @click="submitForm('from')">确 定</el-button>
              </div>
          </el-form-item>
        </el-form>
      </div>
    </el-drawer>

      <!-- 预览 -->
      <el-dialog v-model="dialogVisible">
        <img :src="dialogImageUrl" alt="" class="dialogImg">
      </el-dialog>
  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import { ossHost, uploadHost,activityImg} from '@/utils/utils'
    import {mapState} from "vuex";
    import Tinymce from '@/components/Tinymce/index.vue';

    export default defineComponent({
        name: "house",
        components: {Tinymce},
        setup() {
            return reactive({
              pageAuthority:{},
              ossHost: ossHost(),

              imgdownload: activityImg(),
              uploadHost: uploadHost(),
              fileListImg: [],
              uploadDisabled: false,
              dialogImageUrl: '',
              dialogVisible: false,


              drawerFormVisible:false,
              id:'',
              d: {
                "id":0,
                "title": "",
                "msg": "",
                "intime": "",
                "org_id":"",
                "img":"",
                "img_old":"",
              },
              query:{
                  key: '',
                  state: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
              orgList: []
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.activity_news;//获取当前页面权限
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                        "id":0,
                        "title": "",
                        "msg": "",
                        "intime": "",
                        "org_id":"",
                        "img":"",
                        "img_old":"",
                    }
                    this.d = Object.assign({}, d);
                    this.uploadDisabled = false;
                    this.fileListImg = []
                }
            },
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
            showDrawer(row: any = undefined) {
                this.drawerFormVisible = true;
                if (row) {
                    this.id = row.id;
                    (this as any).axios.post('manager/activity_news/get',{id:this.id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                        if (t.status == 200) {
                            if (t.data.success) {
                                let data:any = JSON.parse(JSON.stringify(t.data.msg));
                                data.img_old = data.img;
                                let o:any = {
                                    name: '',
                                    url: data.img?(this.imgdownload+data.img):''
                                };
                                this.uploadDisabled = data.img?true:false;
                                data.img?(this as any).fileListImg.push(o):[];
                                this.d = data;
                                this.$forceUpdate();
                            } else {
                                (this as any).$message.error(t.data.err);
                                this.closeDialog();
                            }
                        } else {
                            (this as any).$message.error('请求失败');
                            this.closeDialog();
                        }
                    })
                }
            },
            closeDialog() {
                this.drawerFormVisible = false;
            },
            valChange(e: any){
                this.d.msg = e;
            },
            uploadSuccess(res: any) {
                this.d.img = res.filename;
            },
            handleBeforeUpload(file: any) {
                const isJPG = file.type === "image/jpeg" || file.type === "image/png";
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                console.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                console.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            },
            handleLimit(file: any, fileList: any) {
                if (fileList.length >= 1) {
                this.uploadDisabled = true;
                }
            },
            // 预览
            handlePreview(file: any) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            // 删除图片
            handleRemove() {
                (this as any).d.cover = ""
                this.fileListImg = [];
                this.uploadDisabled = false;
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/activity_news/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    key: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    key: this.query.key,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/activity_news/list',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },

        }
    })
</script>

<style lang="scss" scoped>
  .head{
      .ml10{
          margin-left: 10px;
      }
  }
  /deep/.el-form-item__content{
      text-align: left;
  }
  /deep/ .mce-statusbar{display: none;}
</style>