<template>
  <div class="main-component-box">
    <!--具体选项 人员情况 -->
    <actappointments v-if="componentData.type==='actappointments'" :name="componentData.name" :id="componentData.id" :usertype="componentData.usertype" :isuser="componentData.isuser" @childBack="childBack"></actappointments>
    <div class="main-component" v-else>
      <div class="head">
        <i @click="getData()" class="el-icon-refresh"></i>
        <div class="left filter-container">
          <el-input placeholder="请输入活动名称" v-model="query.key" class="ml10 filter-item" style="width: 150px;" size="small" clearable></el-input>
          <el-date-picker v-model="query.starttime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择开始时间" class="ml10" size="small" clearable></el-date-picker>
          <el-button type="primary" class="ml10 filter-item" size="small" @click="getData('1')">搜索</el-button>
        </div>
        <div class="right">
          <el-button type="primary" size="small" class="mr10" @click="showDialog()" :disabled="!pageAuthority.edit">添加活动</el-button>
        </div>
      </div>

      <div class="tableBox">
          <el-table :data="tableData" style="width: 100%;height:100%;" class="table">
              <template #empty>
                  <span style="color: #969799;">没有更多数据</span>
              </template>
              <el-table-column prop="title" label="活动名称"></el-table-column>
              <el-table-column prop="cover" label="照片" width="70">
                <template #default="props">
                  <el-image style="width: 40px; height: 40px" fit="contain" :src="imgdownload + props.row.cover" @click="handlePreview({url:imgdownload + props.row.cover})"></el-image>
                </template>
              </el-table-column>
              <el-table-column prop="place" label="场地"></el-table-column>
              <el-table-column prop="phone" label="联系电话" width="120"></el-table-column>
              <el-table-column prop="starttime" label="开始时间" width="170"></el-table-column>
              <el-table-column prop="maxman" label="活动人数" width="80"></el-table-column>
              <el-table-column prop="partycount" label="已报名" width="120">
                  <template #default="scope"><span class="cous" @click="showlistuser(scope.row,'0')">{{scope.row.partycount||0}}</span></template>
              </el-table-column>
              <el-table-column prop="partycount" label="已报名(非注册用户)" width="120">
                  <template #default="scope"><span class="cous" @click="showlistuser(scope.row,'0',false)">{{scope.row.partycount2||0}}</span></template>
              </el-table-column>
              <el-table-column prop="maxman1" label="志愿者上限" width="100"></el-table-column>
              <el-table-column prop="volunteercount" label="已报名" width="120">
                  <template #default="scope"><span class="cous" @click="showlistuser(scope.row,'1')">{{scope.row.volunteercount||0}}</span></template>
              </el-table-column>
              <el-table-column prop="volunteercount" label="已报名(非注册用户)" width="120">
                  <template #default="scope"><span class="cous" @click="showlistuser(scope.row,'1',false)">{{scope.row.volunteercount2||0}}</span></template>
              </el-table-column>
              <el-table-column label="编辑" width="170">
                  <template #default="scope">
                      <el-button size="mini" @click="showDialog(scope.row)" :disabled="!pageAuthority.edit">编辑</el-button>
                      <el-popconfirm
                              confirmButtonText='好的'
                              cancelButtonText='不用了'
                              @confirm="del(scope.$index, scope.row)"
                              icon="el-icon-info"
                              iconColor="red"
                              title="这是一段内容确定删除吗？">
                          <template #reference>
                              <el-button size="mini" type="danger" :disabled="!pageAuthority.edit">删除</el-button>
                          </template>
                      </el-popconfirm>
                  </template>
              </el-table-column>
          </el-table>
      </div>

      <el-pagination class="pagin" background layout="prev, pager, next" :total="total" @current-change="pagechange"></el-pagination>

      <!-- 活动添加 -->
      <el-drawer :title="id?'编辑':'添加'+'用户'" :size="'40%'" v-model="drawerFormVisible" :direction="'rtl'" :before-close="handleClose" destroy-on-close>
        <div class="edit" v-if="drawerFormVisible">
          <el-form ref="from" :model="d" label-width="90px" @close="closeDialog()" style="width:96%;">
            <el-form-item :rules="[ { required: true, message: '活动名称不能为空'} ]" label="活动名称" prop="title">
              <el-input autocomplete="off" clearable v-model="d.title"></el-input>
            </el-form-item>
            <el-form-item label="选择社区" prop="org_id" v-if="!org_id">
                <el-select v-model="d.org_id" style="width: 150px;" clearable>
                    <el-option v-for="item in orgList" :key="item.id" :label="item.name" :value="item.id">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="活动图片">
                <el-upload
                        :class="{disabled:uploadDisabled}"
                        class="upload-demo floatLeft"
                        :action="uploadHost"
                        list-type="picture-card"
                        :file-list="fileListImg"
                        :on-success="uploadSuccess"
                        :before-upload="handleBeforeUpload"
                        :on-change="handleLimit"
                        :limit="1"
                        :multiple='false'>
                <template #default><i class="el-icon-plus"></i></template>
                <template #file="{file}">
                    <div>
                    <img class="el-upload-list__item-thumbnail" :src="file.url" alt=""/>
                    <span class="el-upload-list__item-actions">
                        <span  class="el-upload-list__item-delete" ><i class="el-icon-delete" @click="(file)=>{handleRemove(file,idx)}"></i></span>
                    </span>
                    </div>
                </template>
                </el-upload>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '开始时间不能为空'} ]" label="开始时间" prop="starttime">
              <el-date-picker v-model="d.starttime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="选择开始时间"></el-date-picker>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '结束时间不能为空'} ]" label="结束时间" prop="endtime">
              <el-date-picker v-model="d.endtime" type="datetime" value-format="YYYY-MM-DD HH:mm:ss" placeholder="结束开始时间"></el-date-picker>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '场地不能为空'} ]" label="场地" prop="place">
              <el-input autocomplete="off" clearable v-model="d.place"></el-input>
            </el-form-item>
            <el-form-item label="联系电话" prop="phone">
              <el-input autocomplete="off" type="number" maxlength="11" clearable v-model="d.phone"></el-input>
            </el-form-item>
            <el-form-item label="活动人数" prop="maxman">
              <el-input-number v-model="d.maxman" :min="1" :max="10000"></el-input-number>
            </el-form-item>
            <el-form-item label="志愿者" prop="maxman1">
              <el-input-number v-model="d.maxman1" :min="1" :max="10000"></el-input-number>
            </el-form-item>
            <el-form-item :rules="[ { required: true, message: '活动内容不能为空'} ]" label="活动内容" prop="msg" size="small">
                <Tinymce @update:value="valChange" :value="d.msg"/>
            </el-form-item>
            <el-form-item>
                <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 20px">
                    <el-button @click="closeDialog()">取 消</el-button>
                    <el-button type="primary" @click="submitForm('from')">确 定</el-button>
                </div>
            </el-form-item>
          </el-form>
        </div>
      </el-drawer>

      <!-- 预览 -->
      <el-dialog v-model="dialogVisible">
        <img :src="dialogImageUrl" alt="" class="dialogImg">
      </el-dialog>
    </div>

  </div>
</template>

<script lang="ts">
    import {defineComponent, reactive} from 'vue';
    import { uploadHost,activityImg} from '@/utils/utils';
    import {mapState} from "vuex";
    import Tinymce from '@/components/Tinymce/index.vue';
    import actappointments from './actappointments.vue';

    export default defineComponent({
        name: "activity",
        components: {Tinymce,actappointments},
        setup() {
            return reactive({
              pageAuthority: {},
              org_id: "",//所属组织ID
              orgList: [],//所属组织架构
              componentData: {
                  type: '',
                  name: '',
                  id: '',
                  usertype: '',
                  isuser: true

              },
              imgdownload: activityImg(),
              uploadHost: uploadHost(),
              fileListImg: [],
              uploadDisabled: false,
              dialogImageUrl: '',
              dialogVisible: false,

              drawerFormVisible:false,
              id:'',
              d: {
                "id":"",
                "title":"",
                "org_id": '',
                "type":"0",
                "cover":"",
                "starttime":"",
                "endtime":"",
                "place":"",
                "phone":"",
                "maxman":"",
                "maxman1":"",
                "msg":""
              },
              organlist: [],

              query:{
                  type:"0",
                  starttime:"",
                  key: '',
                  state: '',
                  currentpage: '1',
                  pagesize: '10'
              },
              total: 0,
              tableData:[],
            })
        },
        data() {
            return {
            }
        },
        mounted() {
            this.pageAuthority = (this as any).$store.state.pageAuthoritys.activity;//获取当前页面权限
            this.org_id = (this as any).$store.state.org_id;
            this.orgList = (this as any).$store.state.orgList;
            this.getData();
            this.getOrganlist();
        },
        watch: {
            drawerFormVisible(v:any) {
                if(v===false){
                    (this as any).id = '';
                    let d:any = {
                      "id":"",
                      "title":"",
                      "org_id": '',
                      "type":"0",
                      "cover":"",
                      "starttime":"",
                      "endtime":"",
                      "place":"",
                      "phone":"",
                      "maxman":"",
                      "maxman1":"",
                      "msg":""
                    };
                    this.d = Object.assign({}, d);
                    this.fileListImg = [];
                    this.uploadDisabled = false;
                }
            }
        },
        computed: {
            ...mapState({
                parentHeight: (state: any) => state.parentHeight,
            }),
        },
        methods: {
          // 获取组织架构
          getOrganlist(){
            (this as any).axios.post('manager/organization/list',{},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                if (t.status == 200) {
                    if (t.data.success) {
                      let list:any = JSON.parse(JSON.stringify(t.data.msg.list));

                      // 组织架构层级数据整理
                      let arObj:any = {};
                      list.map((e:any)=>{
                        let key:any = e.id.length||'0';
                        arObj[key] = arObj[key]||[];
                        arObj[key].push(e);
                      })
                      for (const key in arObj) {
                        let k:any = key;
                        let arr:any = arObj[k];
                        let key_m:any = k-2;
                        arr.map((e:any)=>{
                          let v:any = e.id.substring(0,key_m);
                          let arr1:any = arObj[key_m]||[];
                          arr1.map((ev:any)=>{
                            if(ev.id===v){
                                let o:any = e;
                                ev.children = ev.children||[];
                                ev.children.push(o);
                            }
                          })
                        })
                      }

                      // console.log(arObj);
                      this.organlist = JSON.parse(JSON.stringify(arObj['2']));
                    } else {
                      this.organlist = [];
                    }
                }else {
                  this.organlist = [];
                }
            })
            
          },
          valChange(e: any){
            this.d.msg = e;
          },
          
          uploadSuccess(res: any) {
              this.d.cover = res.filename;
          },
          handleBeforeUpload(file: any) {
              const isJPG = file.type === "image/jpeg" || file.type === "image/png";
              const isLt2M = file.size / 1024 / 1024 < 2;

              if (!isJPG) {
              console.error('上传头像图片只能是 JPG 格式!');
              }
              if (!isLt2M) {
              console.error('上传头像图片大小不能超过 2MB!');
              }
              return isJPG && isLt2M;
          },
          handleLimit(file: any, fileList: any) {
              if (fileList.length >= 1) {
              this.uploadDisabled = true;
              }
          },
          // 预览
          handlePreview(file: any) {
            this.dialogImageUrl = file.url;
            this.dialogVisible = true;
          },
          // 删除图片
          handleRemove() {
            (this as any).d.cover = ""
            this.fileListImg = [];
            this.uploadDisabled = false;
          },

          closeDialog() {
              this.drawerFormVisible = false;
          },
          showDialog(row: any = undefined) {
              if (row) {
                  this.id = row.id;
                  (this as any).axios.post('manager/activity/get',{id:this.id},{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                      if (t.status == 200) {
                          if (t.data.success) {
                            let data:any = JSON.parse(JSON.stringify(t.data.msg));
                            this.id = data.id;
                            data.cover_old = data.cover;
                            data.maxman = +data.maxman;
                            data.maxman1 = +data.maxman1;
                            let o:any = {
                              name: '',
                              url: data.cover?(this.imgdownload+data.cover):''
                            };
                            this.uploadDisabled = data.cover?true:false;
                            data.cover?(this as any).fileListImg.push(o):[];
                            this.d = data;
                            this.drawerFormVisible = true;
                          } else {
                              (this as any).$message.error(t.data.err);
                          }
                      } else {
                          (this as any).$message.error('请求失败');
                      }
                  })
              }else{
                this.drawerFormVisible = true;
              }
          },
            pagechange(val: string) {
                this.query.currentpage = val.toString();
                this.getData(this.query.currentpage)
            },
            submitForm(formName: any) {
                (this as any).$refs[formName].validate((valid: Boolean) => {
                    if (valid) {
                        let data: any = {
                            ...this.d
                        };
                        data.id = this.id?this.id:'0';
                        console.log(data);
                        // return
                        (this as any).axios.post('manager/activity/design',data,{headers: {token: (this as any).$store.state.token}}).then((t: any) => {
                            if (t.status == 200) {
                                if (t.data.success) {
                                    this.drawerFormVisible = false;
                                    this.getData('1');
                                    (this as any).$message.success('成功');
                                } else {
                                    (this as any).$message.error(t.data.err);
                                }
                            } else {
                                (this as any).$message.error('请求失败');
                            }
                        })
                    } else {
                        return false;
                    }
                })
            },
            // 删除
            del(index: number, row: any) {
                (this as any).axios.post("manager/activity/delete", {id: row.id}, {headers: {token: (this as any).$store.state.token}
                }).then((e: any) => {
                    if (e.status === 200) {
                        if (e.data.success) {
                            (this as any).$message.success('成功');
                            this.getData('1')
                        }else{
                          (this as any).$message.error(e.data.err);
                        }
                    }else{
                      (this as any).$message.error('请求失败');
                    }
                })
            },
            // 获取列表
            getData(currentpage: string = '') {
                interface dataType {
                    type:string,
                    starttime:string,
                    key: string,
                    currentpage: string,
                    pagesize: string
                }
                let data: dataType = {
                    type: this.query.type,
                    starttime: this.query.starttime,
                    key: this.query.key,
                    currentpage: this.query.currentpage,
                    pagesize: this.query.pagesize
                };
                if (currentpage) {
                    data.currentpage = currentpage;
                }
                (this as any).axios.post('manager/activity/list ',data,{headers:{token:(this as any).$store.state.token}}).then((e: any) => {
                    if (e.status === 200) {
                        let d: any = e.data;
                        this.tableData = [];
                        (this as any).total = '0';
                        if (d.success) {
                            this.total = d.msg.count;
                            let data = JSON.parse(JSON.stringify(d.msg.list));
                            this.tableData = data;
                        } else {
                            (this as any).$message.error(e.data.err);
                            (this as any).$store.dispatch('loginOut', '').then(() => {
                                (this as any).$router.replace("/")
                            })
                        }
                    }
                })
            },
            showlistuser(row:any,usertype:any,isuser:any){
              if(!(this as any).pageAuthority.userlist){
                  (this as any).$message.error('没有权限查看活动报名人员');
                  return;
              }
                this.componentData.type = 'actappointments';
                this.componentData.usertype = usertype;
                this.componentData.name = row.title;
                this.componentData.id = row.id;
                this.componentData.isuser = isuser;
              
            },
            childBack() {
              this.componentData.type = '';
            },

        }
    })
</script>

<style lang="scss" scoped>
  /deep/.el-form-item__content{text-align: left;}
</style>