<template>
    <div>
        <div class="pt10">
            <el-tabs v-model="type" @tab-click="handleClick" class="tabsInfo">
                <el-tab-pane :label="item.label" :name="index.toString()" v-for="(item,index) in menuInfo" :key="index"></el-tab-pane>
            </el-tabs>
        </div>
        <div class="mainBox" ref="myRef">
            <!-- 医疗预约 -->
            <medical :is="Component" v-if="component==='medical'"></medical>
            <!-- 服务预约 -->
            <server :is="Component" v-if="component==='server'"></server>
            <!--活动报名-->
            <activity :is="Component" v-if="component==='activity'"></activity>
            <!-- 活动报道 -->
            <activityNews :is="Component" v-if="component==='activity_news'"></activityNews>
            
        </div>
    </div>
</template>

<script lang="ts">
    import {defineComponent,reactive , ref } from 'vue';
    import medical from './medical.vue'
    import server from './server.vue'
    import activity from './activity.vue'
    import activityNews from './activity_news.vue'

    export default defineComponent({
        name: "activitymanage",
        components:{  medical,server,activity,activityNews },
        setup() {
            const myRef = ref(null);
            return reactive({
                myRef,
                type:'',
                component:'',
                menuInfo:[],
            })
        },
        mounted() {
            this.menuInfo = (this as any).$store.state.menu[(this as any).$route.query.routesIndex || 0]['sub'];
            this.type = (this as any).$route.query.type.toString();
            this.component = (this as any).$route.query.component.toString();
            (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight); // 修he
        },
        watch:{
            $route(){
                (this as any).type= (this as any).$route.query.type;
                (this as any).component= (this as any).$route.query.component;
            },
            component() {
              // 切换tab 高度 重新设置
              (this as any).$store.dispatch('setPHAction', (this as any).myRef.clientHeight);
            }
        },
        methods: {
            handleClick(tab:any) {
                this.$router.push({
                    query:{
                        type: tab.index,
                        component: this.menuInfo[tab.index]['component'],
                        routesIndex: (this as any).$route.query.routesIndex
                    }
                })
            },
        }
    })
</script>

<style lang="scss" scoped>
</style>